*{margin:0;padding:0;}
 #first{
 	text-align: center;
 }

#submit{
	margin-top: 10px;
}


#first input[type="email"]{
	max-width: 200px;
	width: 100%;
	padding: 5px 5px 5px 5px;
}

#price{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.product{
	display: flex;
	flex-direction: column;
	border: 1px solid;
	align-items: center;
	text-align: center;
	width: calc(100%/3);
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	border-radius: 3px;
}

.product > button{
	margin: 10px 0 10px 0;
	font-weight: 400;
	background-color: #3366ff;
	color: white;
}

#activity{
	padding: 2px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.level{
	background-color: #ccccb3;
	color: black;
	width: 100%;
	padding: 10px 0;
}

#activity{
	display: flex;
	justify-content: center;
}

#footer{
	background-color: #e0e0d1;
}

#footer > ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	color: black;
}

#footer > ul > li {
	padding: 0px 10px 0px 10px;
	list-style-type: none;
}

#footer > span {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-size: 0.9em;
}

a:link, a:visited {
	text-decoration: none;
	color: blue;
}
a:hover{
	color: black;
}
a:active {
	color: grey;
}

@media only screen and (max-width: 800px) {
	#price{
			margin-top: 10px;
		}

	.product{
			margin: 0px auto 5px auto;
			padding: 3px 2px 3px 2px;
			max-width: 300px;
			width: 100%;
		}