html {
  box-sizing: border-box;
}

body {
  background-color: #70db70;
}
.container {
  position: absolute;
  background-color: #ebebe0;
  padding: 20px 20px 20px 20px;
  margin-left: 20rem;
  margin-right: 20rem;
  border-radius: 4px;
  min-height: 300px;
  width: 500px;
}
.quotes {
  padding: 60px 40px;
  margin-top: 2rem;
}
.quote-text {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 3px;
  font-family: cursive; 
}
.controls {
  position: absolute;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    margin-left: 8rem;
    width: 40%;
    bottom: 0;
}
.new-quote {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  padding: 10px 20px;
  background-color: green;
  color: white;
}

@media-screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .quote-text {
    font-size: 18px;
  }
}
