
<header class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12 user-part">
        <ul>
          <li class="nav-item"><a class="nav-link dangnhap" href="#" data-toggle="modal" data-target="#login">Đăng Nhập</a></li>
          <li class="nav-item"><a class="nav-link dangky" href="#" data-toggle="modal" data-target="#signup">Đăng Ký</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12 d-flex justify-content-center logo"><a class="navbar-brand pt-3" href="index.html"><img src="images/icon/logo2.jpg" title="Logo" alt="Logo"/></a></div>
      <div class="col-md-3 col-xs-12 pt-2 info-part">
        <ul class="info">
          <li class="nav-item">
            <p><i class="fas fa-phone-alt"> (+84)1923-8564</i></p>
          </li>
          <li class="nav-item"><a href="#"><i class="fa fa-envelope"> support@zigtoys.com</i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">ĐĂNG NHẬP</h4>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-3">
            <input class="form-control validate mail-login" id="defaultForm-email" type="email" placeholder="Email"/>
          </div>
          <div class="md-form mb-4">
            <input class="form-control validate mail-pass" id="defaultForm-pass" type="password" placeholder="Mật khẩu"/><i class="far fa-eye"></i>
          </div>
          <div class="md-form mb-3">
            <input id="remember_me" type="checkbox"/>
            <label for="remember_me">Ghi nhớ đăng nhập</label>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-default">ĐĂNG NHẬP</button><a class="forgot-pwd" href="href">Quên mật khẩu?</a>
        </div>
        <p class="not-member text-center">Chưa có tài khoản? <a href="#" data-target="#signup" data-toggle="modal">Đăng Ký</a></p>
      </div>
    </div>
  </div>
</header>