header.bg-header
  .container
    .row
      .col-12.col-sm-12.col-xs-12.col-md-6.info-part.d-flex.justify-content-start
        span.quick-phone
          a.nav-link.phone-number(href="#") 
            i.fas.fa-phone-alt  (+84)1923-8564
        span.quick-mail
          a.nav-link.email(href="#")
            i.far.fa-envelope  support@zigtoys.com
      .col-12.col-sm-12.col-xs-12.col-md-6.user-part
        ul
          li.nav-item
            a.nav-link.dangnhap(href='#' data-toggle='modal' data-target='#login') 
              i.far.fa-user-circle  Đăng Nhập | Đăng Ký 
  .modal.fade#login(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content.modal-login
        .text-center
          button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          h4.modal-title.w-100.font-weight-bold ĐĂNG NHẬP
        .modal-body.mx-3
          .md-form.mb-3.box-contain
            input#inputUser.form-control.validate.username(type='text' placeholder='Tên người dùng*')
          .md-form.mb-4.box-contain
            input#inputPassword.form-control.validate.mail-pass(type='password' placeholder='Mật khẩu*')
            i.far.fa-eye
          .md-form.check-remember
            input#remember_me(type='checkbox')
            label(for='remember_me') Ghi nhớ đăng nhập
        .modal-footer.d-flex.justify-content-center
            button.btn.btn-default.btn-login#btnLogin ĐĂNG NHẬP
            a.forgot-pwd(href="#" data-toggle='modal' data-target="#reset" data-dismiss="modal") Quên mật khẩu?
        p.text-center
          | Chưa có tài khoản? 
          a.not-member(href='#' data-target='#signup' data-toggle='modal' data-dismiss="modal") Đăng Ký
  .modal.fade#reset(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content.modal-reset
        .text-center
          button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          h4.modal-title.w-100.font-weight-bold QUÊN MẬT KHẨU
          p.modal-subtitle.font-weight-normal Hãy để đó cho chúng tôi
        .modal-body.mx-3
          .md-form.mb-3
            input#formReset.form-control.validate.mail-login(type='email' placeholder='Email*')
        .modal-footer.d-flex.justify-content-center
            button.btn.btn-info.btn-reset ĐẶT LẠI MẬT KHẨU
            p Quay về 
              a.forgot-pwd(href="#" data-toggle='modal' data-target="#login" data-dismiss="modal") Đăng Nhập
  .modal.fade#signup(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content.modal-signup
        .text-center
          button.close(type='button' data-dismiss='modal' aria-label="Close")
            span(aria-hidden='true') ×
          h4.modal-title.w-100.font-weight-bold ĐĂNG KÝ
        .modal-body.mx-3
          .md-form.mb-3.box-contain
            input#formUsername.form-control.username(type='text' placeholder="Tên người dùng*")
          .md-form.mb-3.box-contain
            input#formSignup-mail.form-control.validate.mail-signup(type='email' placeholder="Email*")
          .md-form.mb-3.box-contain
            input#formSignup-pass.form-control.validate.mail-pass(type='password' placeholder='Mật khẩu*')
            i.far.fa-eye
          .md-form.mb-3.radio-group
            input#male(type='radio' name='gender' value='male') 
            label(for="male") Nam
            input#female(type='radio' name='gender' value='female') 
            label(for="female") Nữ
          .md-form.mb-3
            input#inputBirthday(type='date' name='inputBirthday' autofocus)
        .d-flex.justify-content-center
            button.btn.btn-default.btn-signup#btnSignup ĐĂNG KÝ
        .or-seperator
        .d-flex.justify-content-center
            button.btn.btn-default.btn-google ĐĂNG NHẬP BẰNG 
              i.fab.fa-google
        p.text-center.already-acc
            | Đã có tài khoản? 
            a.is-member(href='#' data-target="#login" data-toggle="modal" data-dismiss="modal") Đăng Nhập
        #psw-info.require-list
          h4  Mật khẩu cần thỏa mãn điều kiện:
          ul
            li.invalid#letter Ít nhất <strong>1 chữ cái</strong>
            li.invalid#capital Ít nhất <strong>1 chữ hoa</strong>
            li.invalid#number Ít nhất <strong>1 số</strong>
            li.invalid#length Tối thiểu <strong>8 ký tự</strong>
