header.bg-header
  .container
    .row
      .col-12.col-sm-12.col-xs-12.col-md-6.info-part.d-flex.justify-content-start
        span.quick-phone
          a.nav-link.phone-number(href="#") 
            i.fas.fa-phone-alt  (+84)1923-8564
        span.quick-mail
          a.nav-link.email(href="#")
            i.far.fa-envelope  support@zigtoys.com
      .col-12.col-sm-12.col-xs-12.col-md-6.user-part
        ul
          li.nav-item
            a.nav-link.dangnhap(href='#' data-toggle='modal' data-target='#loginPopup') 
              i.far.fa-user-circle  Đăng Nhập | Đăng Ký 
  .modal.fade.userLogin#loginPopup(tabindex='-1' role='dialog' aria-labelledby='loginPopup' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content.modal-login
        ul.nav.nav-tabs(role="tablist")
          li#loginTab.nav-item.active
            a(href="#login" role="tab" data-toggle="tab").nav-link ĐĂNG NHẬP
          li#signupTab.nav-item
            a(href="#signup" role="tab" data-toggle="tab").nav-link ĐĂNG KÝ
        .tab-content.tab__user
          .tab-pane.fade.show.active#login(role="tabpanel")
            form(method="POST")
              .boxField
                input#inputEmail.validate.mail-login(type='email' placeholder='Email*')
              .boxField
                input#inputPassword.validate.pass(type='password' placeholder='Mật khẩu*')
                i.far.fa-eye
              .boxField.check-remember
                input#remember_me(type='checkbox')
                label(for='remember_me') Ghi nhớ đăng nhập
              .d-flex.justify-content-center
                button.btn.btn-default.btn-login#btnLogin ĐĂNG NHẬP
                a.forgot-pwd(href="#" data-toggle='modal' data-target="#reset" data-dismiss="modal") Quên mật khẩu?
          .tab-pane.fade#signup(role="tabpanel")
            form(method="POST")
              .boxField
                input#formUsername.username(type='text' placeholder="Tên người dùng*")
              .boxField
                input#formSignup-mail.validate.mail-signup(type='email' placeholder="Email*")
              .boxField
                input#formSignup-pass.validate.pass(type='password' placeholder='Mật khẩu*')
                i.far.fa-eye
              .boxField
                input#formSignup-pass__again.validate.pass__again(type='password' placeholder='Nhập lại mật khẩu*')
              .d-flex.justify-content-center
                button.btn.btn-default.btn-signup#btnSignup ĐĂNG KÝ
              
              
              



