header.bg-header
  .container
    .row
      .col-12.col-sm-12.col-xs-12.col-md-6.info-part.d-flex.justify-content-start
        span.quick-phone
          a.nav-link.phone-number(href="#") 
            i.fas.fa-phone-alt  (+84)1923-8564
        span.quick-mail
          a.nav-link.email(href="#")
            i.far.fa-envelope  support@zigtoys.com
      .col-12.col-sm-12.col-xs-12.col-md-6.user-part
        ul
          li.nav-item
            a.nav-link.dangnhap(href='#' data-toggle='modal' data-target='#loginPopup') 
              i.far.fa-user-circle  Đăng Nhập | Đăng Ký
            a.nav-link.dangnhap.hiddenMobil(href='#' data-toggle='modal' data-target='#loginPopup') 
              i.far.fa-user-circle
