nav.navbar.navbar-expand-lg.navbar-dark.primary-color.sticky-top
  //  Navbar brand 
  a.navbar-brand(href='index.html')
    img(src="images/icon/logo2.jpg", alt="")
  //  Collapse button 
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mobileToggle' aria-controls='basicExampleNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  //  Collapsible content 
  .collapse.navbar-collapse#mobileToggle
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='index.html')
          | Trang Chủ
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='about.html') Về ZIGToys
      li.nav-item
        a.nav-link(href="products.html") Sản Phẩm 
          i.fas.fa-caret-down
        ul.submenu
          li
            a.submenu-item(href='products.html') Mô hình Figures
          li
            a.submenu-item(href='#') Phụ kiện liên quan
      li.nav-item
        a.nav-link(href='blog.html') Blog
      li.nav-item
        a.nav-link(href='contact.html') Liên Hệ
      form.form-inline.form-search
        input.form-input(type='text' placeholder='Tìm kiếm')
        a.searchLink(href="#")
          i.fas.fa-search.search-icon
    .wrap-all
      .cart-wrapper
        a.btn.cart-icon(href="cart.html")
          span.badge.badge-pill-red 0
          i.fa.fa-shopping-cart(style='font-size:24px')
      .heart-wrapper
        a.btn(href)
          i.far.fa-heart(style='font-size:24px')