nav.navbar.navbar-expand-lg.navbar-dark.justify-content-sm-start.sticky-top
  a.navbar-brand.order-lg-0.ml-lg-0.ml-2(href='index.html')
    img(src="images/icon/logo2.jpg", alt="Logo")
  button.navbar-toggler.align-self-start(type='button')
    .animatedIcon
      span
      span
      span
  .collapse.navbar-collapse.p-3.p-lg-0.mt-lg-0.d-flex.flex-column.flex-lg-row.flex-xl-row.justify-content-lg-end.bg-sidebar.mobileMenu#mobileToggle
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='index.html')
          | Trang Chủ
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='about.html') Về ZIGToys
      li.nav-item
        a.nav-link(href="products.html") Sản Phẩm 
          i.fas.fa-caret-down
        ul.submenu
          li
            a.submenu-item(href='products.html') Mô hình Figures
          li
            a.submenu-item(href='#') Phụ kiện liên quan
      li.nav-item
        a.nav-link(href='blog.html') Zig Blog
      li.nav-item
        a.nav-link(href='contact.html') Liên Hệ
    form.form-inline.form-search.my-2.my-lg-0.align-self-stretch
        input.form-input(type='text' placeholder='Tìm kiếm')
        a.searchLink(href="#")
          i.fas.fa-search.search-icon
    .wrap-all
      .cart-wrapper
        a.btn.cart-icon(href="cart.html")
          span.badge.badge-pill-red 0
          i.fa.fa-shopping-cart(style='font-size:24px')
      .heart-wrapper
        a.btn(href)
          i.far.fa-heart(style='font-size:24px')

  form.form-inline.form-searchMobile.my-2.my-lg-0
    input.form-input(type='text' placeholder='Tìm kiếm')
    a.searchLink(href="#")
      i.fas.fa-search.search-icon
  .wrapMobile
    .cartMobile
      a.btn.cart-iconMobile(href="cart.html")
        span.badge.badge-pill-red.badgeMobile 0
        i.fa.fa-shopping-cart(style='font-size:24px')
    .heartMobile
      a.btn(href="#")
        i.far.fa-heart(style='font-size:24px')
.backgroundOverlay