.banner-products {
    background: url(../images/product_images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.filter-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(161,160,153,1);
    box-shadow: -1px 2px 3px 0px rgba(161,160,153,1);
    border-radius: 3px;
    height: 50px;
    padding: 10px;
    width: 88%;
    margin-bottom: 20px;
}
.filter-one, .filter-two, .filter-three {
    width: 155px;
} 
.filter-contain .delete {
    text-decoration: none;
    color: #978e8e;
}
a.delete:hover {
    color: #b4afaf;
}
/* product list */
.first-row, .second-row {
    margin: auto;
    margin-bottom: 50px;
}
.product-img img {
    width: 200px;
    height: 277px;
}
.thumbnail-img .zoom-product {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -29%;
    font-size: 30px;
    opacity: 0;
    color: #ecebeb;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.thumbnail-img:hover .zoom-product {
    opacity: 1;
}
h4.product-page-title {
    font-size: 20px;
}
.product-page-title a {
    text-decoration: none;
    color: black;
}
.product-page-title a:hover {
    color: #e3b424;
}
.product-page-price {
    font-weight: bold;
}
.thumbnail-img .group-btn .btn-icon-left {
    padding: 10px 12px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    border: solid 1px #c9bcbc;
    background-color: #ffc107;
    color: white;
}
.thumbnail-img .group-btn .btn-icon-right {
    border-color: #ffc107;
    margin-left: 10px;
}
.thumbnail-img .group-btn .btn-icon-right:hover,
.thumbnail-img .group-btn .btn-icon-left:hover {
    background-color: darkorange;
}
.thumbnail-img:hover .btn-icon-right {
    opacity: 1;
}
.thumbnail-img .group-btn .btn-icon-right:hover > i {
    color: white;
}
/* pagination */
.pagination-container {
    margin: 25px auto;
    text-align: center;
}
.pagination {
    position: relative;
    align-items: center;
    justify-content: center;
}
.pagination a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 16px 10px;
}
.pagination a::before {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #EEB31D;
    border-radius: 20px;
    transform: scale(0);
    transition: all 0.2s;
}
.pagination a:hover, 
.pagination .page-active {
    color: #ffff;
}
.pagination a:hover::before,
.pagination .page-active::before {
    transform: scale(1);
}
.pagination-newer {
    margin-right: 25px;
}
.pagination-older {
    margin-left: 25px;
}
