    @media(max-width: 992px) {

        .navbar-collapse {
        text-align: left;
        }
        .submenu {
            width: 88%;
        }
        .justify-content-center .div-table .caption-content {
            display: block;
        }
        .product-image {
            width: auto;
            margin-left: auto;
        }
        .thumbnail .zoom {
            top: 40%;
        }
        .title-content {
            width: 74%;
            margin-left: 12%;
        }
        .benefit {
            margin-bottom: 20px;
        }
        .subscribe-newsletter .form-control {
            width: 190px;
        }
        .prev {
            margin-left: 93%;
        }
        .card-admin span {
            margin-left: auto;
        }
    }

    @media(max-width: 768px) {
        header {
        text-align: left;
        }
        .col-md-1 p {
        padding-top: 0;
        }
        header ul {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        float: none;
        }
        header ul li {
            margin-left: 100px;
        }
        .info {
            margin-top: 0;
        }
        .info li:first-child {
            margin-left: 10px;
        }
        .navbar-nav {
        display: block;
        }
        .navbar-nav li a.nav-link {
        border: none;
        }
        .navbar-nav li a.nav-link:hover {
        background: #dddddda3;
        color: #000;
        border: none;
        }
        .searchBox:hover > .searchInput {
            width: 150px;
        }
        .justify-content-center .div-table .caption-content {
            display: block;
        }
        .caption .caption-content {
            padding-top: 20%;
        }
        .subscribe .btn-outline-secondary.btn-subscribe {
            margin-left: 30%;
        }
        .view {
            margin-top: 150%;
        }
        .content {
            width: auto;
        }
        .brand img {
            margin-bottom: 20px;
        }
        #indicators .carousel-inner {
            width: auto;
        }
        
        .prev, .next {
            transform: translate(-250%,50%);
            left: 50%;
            margin: 0 auto;
        }
        .card {
            margin-bottom: 20px;
        }
        .card-admin span {
            margin-left: 0px;
        }
        .title-info-footer, .title-support, 
        .title-quick, .title-newsletter {
            font-size: x-large;
        }
        .subscribe-newsletter .form-control {
            width: 100%;
        }
        footer.bg-dark {
            text-align: center;
        }
    }
    @media (max-width: 576px) { 
        header .user-part ul li {
            margin-left: 30px;
        }
        .info {
            display: flex;
            width: 400px;
            margin-left: -13px;
        }
        .info li:nth-child(2) {
            margin-left: 10px;
        }
        .view {
            margin-top: 60%;
        }
        .view .btn-view {
            height: auto;
        }
        .caption .caption-content {
            padding-top: 10%;
        }
        .caption-title, .caption-subtitle {
            font-size: 20px;
        }
        .subscribe .btn-outline-secondary.btn-subscribe {
            margin-top: auto;
            height: auto;
            margin-left: 25%;
        }
        .heading h2 {
            font-size: 20px;
        }
        #indicators .carousel-inner {
            width: 100%;
        }
        #indicators .carousel-indicators > li {
            margin-top: 20px;
            margin-right: 5px;
            margin-left: 0;
        }
        .prev, .next {
            transform: translate(-180%,50%);
        }
        .card {
            margin-left: 30px;
        }
        .card-admin span {
            margin-left: 0px;
        }
        .title-content {
            width: auto;
            margin-left: auto;
        }
        .subscribe-newsletter .form-control {
            width: 100%;
        }
     }