
 @media (max-width: 991.98px) { 
     .info-part {
         font-size: 14px;
         margin-top: 30px;
         transition: all 0.3s ease-in-out;
     }
     .info {
        margin-top: 16px;
    }
    .info li:nth-child(2) {
        margin-top: 30px;
    }
     .user-part {
         margin-bottom: 10px;
         transition: all 0.3s ease-in-out;
     }
     .navbar-brand img {
        max-width: 150px;
        margin-top: 30px;
        margin-left: 30%;
        transition: all 0.3s ease-in-out;
     }
     .fa-search {
         margin-left: 0;
         margin-right: 60%;
         transition: all 0.3s ease-in-out;
     }
     .searchBox {
        left: 12%;
     }
     .navbar-nav {
         margin-left: 0;
     }
     .justify-content-center .div-table 
     .caption-content {
        display: block;
        padding-top: 50%;
     }
     .justify-content-center .div-table 
     .caption-content > .caption-subtitle {
         margin-top: 0;
     }
     .subscribe .btn-outline-secondary.btn-subscribe {
         margin-left: 34%;
     }
     .product-image {
         margin-left: 10%;
     }
     .thumbnail .zoom {
         top: 40%;
     }
     .product .product-title {
        font-size: 18px;
    }
     .benefit {
         margin-bottom: 40px;
     }
     .title-content h3 {
         font-size: 16px;
     }
    #indicators .carousel-inner {
        width: unset;
    }
     .prev {
        margin-left: 90%;
     }
     .subscribe-newsletter .form-control {
         width: 180px;
     }
     .subscribe-newsletter button {
        width: 120px;
    }
  }
@media (max-width: 767.98px) { 
    .user-part {
        margin-right: 20%;
        margin-bottom: 0;
        margin-top: 0;
    }
    .info-part {
        font-size: unset;
        margin-top: 0;
        margin-right: 14%;
    }
    .info li:first-child {
        margin-left: 10px;
    }
    .info li:nth-child(2) {
        margin-top: 0px;
    }
    .navbar-brand img {
        max-width: 200px;
        margin-top: 0;  
    }
    .fa-search {
        margin-right: 20%;
    }
    .searchBox {
        left: 28%;
     }
    .justify-content-center .div-table .caption-content {
        padding-top: 30%;
    }
    .summer .view {
        margin-top: 150%;
    }
    .thumbnail .zoom {
        top: 36%;
        font-size: 25px;
        left: 64%;
    }
    .product .product-title {
        font-size: 18px;
    }
    .thumbnail .group-btn .btn-icon-left {
        font-size: 10px;
    }
    .card.hover-post-shadow {
        margin-bottom: 20px;
    }
    .carousel-item img {
        height: 400px;
        width: 500px;
    }
    .title-info-footer, .title-support, 
    .title-quick, .title-newsletter {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    .bg-dark .info-footer, .support, .quick, .newsletter {
        margin-top: 20px;
    }
    .add, .mail, .phone, .time {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }
    .support-list, .quick-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subscribe-newsletter .form-control {
        width: 100%;
    }
    .subscribe-newsletter button {
        margin-left: 36%;
    }
    .social-link {
        display: flex;
        justify-content: center;
    }
 }
 @media (max-width: 627px) {
    .product-image {
        margin-left: -5%;
        width: unset;
    }
    .thumbnail .zoom {
        top: 32%;
        left: 50%;
    }
    .thumbnail .group-btn .btn-icon-left {
        font-size: 9px;
    }
    .product .product-title {
        font-size: 16px;
    }
 }
 @media (max-width: 575.98px) { 
    .thumbnail .zoom {
        top: 58%;
        left: 47%;
    }
    .product .product-title {
        font-size: 20px;
        margin-right: 20px;
    }
    .group-btn, .rating, p.price {
        margin-right: 20px;
    }
 }
 @media (max-width: 512px) {
    .navbar-brand img {
        max-width: 130px;
    }
    .thumbnail .zoom {
        top: 53%;
    }
 }