  .thumbnailProduct .thumbnail-indicator img {
    max-width: 100%;
  }
  .thumbnailProduct .thumbnail-indicator {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }
  .thumbnailProduct .thumbnail-indicator li {
    margin-top: 10px;
    height: auto;
    border: none;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
  }
  .share i {
    margin-left: 11px;
  }
  .share .btn i {
    border-left: 2px solid grey;
    padding-left: 23px;
    color: #FFEB3B;
  }
 
  .product-title {
    font-family: 'Roboto', sans-serif;
  }
  .rating-product {
    display: flex;
  }
  .rating-product i {
      color: #FFEB3B;
        cursor: pointer;
        margin-top: 3px;
  }
  .rating-product .space-bar {
    border: none;
    border-left: 1px solid rgb(170, 167, 167);
    margin-left: 12px;
  }
  .rating-product .space-bar span {
    padding-left: 12px;
  }
  .available {
    color: #339966;
    margin-bottom: 30px;
  }
  .price {
    margin-bottom: 30px;
  }
  /* quantity button */
  .qty-cart {
    display: flex;
  }
  .qty-cart span {
    margin-right: 5px;
    font-size: 14px;
    margin-top: 10px;
}
  .quantity-number {
    font-weight: 600;
    border: 1px solid rgb(182, 178, 178);
    font-size: 16px;
    width: 100px;
    text-align: center;
  }
  .qty-cart .quantity-number input {
    width: 30px;
    text-align: center;
    border: none;
  }
  .quantity-number button {
    border: none;
    background: none;
    height: 40px;
    transition: all 0.4s ease-in-out;
  }
  .qty-cart {
    margin-bottom: 56px;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
  }
  .btn-group .addcart, .btn-group .buynow {
    color: white;
    margin-bottom: 23px;
    border-radius: 6px;
    width: 646px;
    height: 48px;
  }