    *{margin:0;padding:0; }
    /* navbar menu */
    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    header ul li {
        display: block;
        text-align: right;
        float: right;
    }
    header .nav-link {
        padding: 10px;
        margin-top: 24px;
        font-size: 16px;
        margin-left: 10px;
    }
    .navbar.navbar-expand-lg.navbar-light {
        background-color: #fcc226!important;
    }
    .user-part {
        margin-top: 10px;
    } 
    .info {
        margin-top: 24px;
    }
    .info li:first-child {
        margin-bottom: -10px;
    }
    .col-md-1 p {
        font-weight: bold;
        padding-top: 13%;
    }
    .navbar-nav {
        margin-left: 6rem;
    }
    .navbar-nav li {
        font-family: 'Playfair Display', serif;
        margin-left: 12px;
    }
    .nav-item .fa-phone-alt, .nav-item a > .fa-envelope {
        color: white;
    }
    .nav-item .dangnhap {
        color: #FA5;
        }
    .nav-link.dangnhap:hover {
        color: rgb(168, 125, 81);
    }
    .nav-item .dangky {
        color: white;
        background-color: transparent;
        border: 1px solid orange;
        padding: 10px 25px 10px 25px;
        border-radius: 30px;
        box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    }
    .nav-link.dangky:hover {
        background-color: orange;
    }
    .nav-link.dangky:active, .nav-link.dangnhap:active {
        color: rgb(232, 225, 225,.6);
    }
    .navbar-nav li a.nav-link {
        color: white !important;
        font-size: 20px;
        cursor: pointer;
    }
    .navbar-nav li a.nav-link:hover {
        border-bottom: 1px solid #E76F51;
        border-bottom-width: medium;
        background-color: rgb(223, 217, 217,.2);
    }
    .navbar-brand img {
        max-width: 190px;
    }
    .heart-wrapper .btn i {
        color: #f8e21f;
    }
    .heart-wrapper .btn i:nth-child(2) {
        color: black;
    }
    .heart-wrapper .btn i:hover {
        color: #d3c864;
    }
    .heart-wrapper .btn i:nth-child(2):hover {
        color: rgba(138, 133, 133, 0.5);
    }
    .heart-wrapper {
        margin-left: 1rem;
    }
    .navbar-toggler {
        color: rgba(255, 255, 255, .5);
        border-color: rgba(255, 255, 255, .1);
    }
    .badge-pill-red {
        background: red;
        border-radius: 50%;
        color: white;
        float: right;
        margin-left: -5px;
    }
    
    .searchBox {
        position: relative;
        transition: all .5s ease-in-out;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
        margin-left: 6rem;
    }
    .searchBox .searchInput {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 16px;
        border-radius: 20px;
        padding: 0 20px;
    }
    .fa-search {
        box-sizing: border-box;
        padding: 12px;
        width: 42px;
        height: 42px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: #07051a;
        text-align: center;
        transition: all 1s;
    }
    .searchBox:hover {
        width: 200px;
        cursor: pointer;
    }
    .searchBox:hover input {
        display: block;
    }
    .searchBox:hover .fa-search {
        background: #07051a;
        color: rgb(224, 132, 11);
    }
   
    /* submenu navbar */
   
    /* carousel slider img active*/
    .carousel-item img {
        max-height: 571px;
    }
    .carousel-item .caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .justify-content-center .div-table .caption-content {
        display: flex;
        flex-direction: row;
    }
    .justify-content-center .div-table .caption-content > .caption-subtitle {
        margin-top: 28px;
    }
    .caption .caption-content {
        padding-top: 33%;
        text-align: center;
        color: white;
    }
    .caption-title span {
        font-size: 60px;
        font-family: 'Rufina', serif;
        color: #EDAB01;
    }
    .subscribe input[type="email"] {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        padding-left: 10px;
        border-radius: 10px;
        border: 1px solid #DDDDDD;
        outline: none;
        transition: all 0.30s ease-in-out;
    }
    .subscribe input[type="email"]:focus {
        border: 1px solid rgb(211, 143, 17);
    }
    .btn-subscribe {
        height: 40px;
        width: 140px;
        padding: 0 10px;
        border: none;
        border-radius: 0;
        line-height: 36px;
        text-transform: uppercase;
    }
    .subscribe .btn-outline-secondary.btn-subscribe:hover {
        background-color: #ffc107;
    }
    .subscribe .btn-outline-secondary.btn-subscribe {
        color: white;
        margin-left: 40%;
        margin-top: 20px;
        height: 48px;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid #ffc107;
    }
    .darken-img img {
        filter: brightness(50%);
    }
    /*carousel slider img non-active*/
    .summer {
        margin-top: 15%;
    }
    .view {
        margin-top: 200%;
    }
    .view .btn-view {
        color: white;
        text-transform: uppercase;
        padding: 0 20px;
        border: none;
        border-radius: 4px;
        line-height: 36px;
        height: 48px;
        width: 130px;
        background-color: transparent;
        border: 1px solid #ffc107;
    }
    .btn-outline-secondary.btn-view:hover {
        background-color: #ffc107;
    }
    .btn-outline-secondary.btn-view > .fa-angle-right {
        position: absolute;
        margin-left: 5px;
        margin-top: 12px;
        font-size: 14px;
    }
    /* about section */
    .heading .below {
        width: 120px;
        height: 2px;
        background-color: #FFAA55;
        margin: auto;
    }
    .container-fluid .heading {
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
        padding-top: 30px;
    }
    .content {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: justify;
        width: 50%;
        font-size: 16px;
        line-height: 30px;
        padding-top: 20px;
    }
    .view-more .btn-more {
        color: #ffc107;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        background-color: transparent;
        border: 1px solid #ffc107;
        padding: 13px 20px;
        height: 48px;
        font-size: 14px;
        margin: 50px auto;
        border-radius: 4px;
        font-weight: 600;
        transition: 0.3s;
    }
    .btn-more:hover {
        background-color: #ffc107;
        color: white;
    }
    /* thumbnail product */
    .thumbnail {
        padding-top: 20px;
    }
    .thumbnail .img-fluid {
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    .thumbnail .zoom {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -25%;
        opacity: 0;
        font-size: 30px;
        color: #ecebeb;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .thumbnail:hover .zoom {
        opacity: 1;
    }
    .product-image {
        width: 200px;
        height: 277px;
        margin-left: 25%;
    }
    .product {
        margin-top: 10px;
    }
    .product-title a {
        text-decoration: none;
        color: #232323;
    }
    .hover-shadow {
        transition: all 0.4s ease;
    }
    .hover-shadow:hover {
        box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
    }
    /* thumbnail zoom carousel */
    .product-control i {
        color: goldenrod;
    }
    .product-control:hover i {
        color: gold;
    }
    /* end thumbnail zoom carousel */
    .product-title a:hover {
        color: #e3b424;
    }
    .thumbnail .price {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.3;
        margin-bottom: 15px;
    }

    .thumbnail .buttons .btn-icon-left {
        padding: 10px 12px;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        border: solid 1px #c9bcbc;
        background-color: #ffc107;
        color: white;
    }
    /* button hover */
    .buttons .btn-icon-right {
        opacity: 0;
    }
    .thumbnail:hover .btn-icon-right {
        opacity: 1;
    }
    .buttons .btn-icon-left:hover {
        background-color: darkorange;
    }
    .thumbnail .buttons .btn-icon-right {
        border-color: #ffc107;
        margin-left: 10px;
    }

    .thumbnail .buttons .btn-icon-right:hover {
        background-color: darkorange;
    }
    .thumbnail .buttons .btn-icon-right:hover > i {
        color: white;
    }
    .btn-icon-right i {
        color: #ffc107;
    }

    /* rating section */
    .rating i {
        color: #FFEB3B;
        cursor: pointer;
    }
    /* brand section */
    .brand img {
        width: 150px;
    }
    .brand {
        margin-top: 50px;
    }
    /* testimonial section */
    .review-bg {
        background-color: #cfcdcd;
    }
    .review-indicators {
        top: -30%;
    }
    #indicators .carousel-indicators > li:nth-child(1) {
        background-image: url(../images/icon/jimmy_fallon.jpg);
    }
    #indicators .carousel-indicators > li:nth-child(2) {
        background-image: url(../images/icon/will_smith.jpg);
    }
    #indicators .carousel-indicators > li:nth-child(3) {
        background-image: url(../images/icon/angel_asher.jpg);
    }
    #indicators .carousel-indicators > li {
        width: 70px;
        height: 70px;
        border: 0;
        border-radius: 50%;
        transition: all 0.4s ease-in-out;
        margin: 0 15px;
        background: center no-repeat;
        background-size: cover;
        filter: opacity(0.6);
    }
    #indicators .review-indicators li.active {
        transform: scale(1.2);
        filter: opacity(1);
    }
    #indicators .carousel-inner {
        width: 60%;
        margin: auto;
        padding: 25px 0 15px;
    }
    .carousel-inner strong span {
        font-weight: normal;
    }
    #indicators .carousel-item p {
        padding: 10px;
        font-size: 16px;
        font-style: italic;
        font-weight: bold;
        font-family: 'Playfair Display', serif;
    }
    /* end testimonial */
    /* benefit section */
    .icon {
        height: 80px;
        width: 80px;
        border: 1px solid #EEB31D;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 20px auto;
    }
    .icon .fas {
        font-size: 28px;
        position: absolute;
        bottom: 50%;
        transform: translate(50%,50%);
        right: 50%;
        color: #FFAA55;
    }
    .benefit {
        margin-bottom: 80px;
    }
    /* end benefit */
    /* blog slider */
    #postIndicators {
        padding-top: 55px;
    }
    .row-equal > div[class*='col-'] {
        display: flex;
        flex: 1 0 auto;
    }
    .row-equal .card {
        width: 100%;
    }
    .card {
        border: solid 2px #dbd4d4;
    }
    .carousel-inner>.row-equal.active, 
    .carousel-inner>.row-equal.next, 
    .carousel-inner>.row-equal.prev {
        display: flex;
    }
    .carousel-inner>.row-equal.active.left, 
    .carousel-inner>.row-equal.active.right {
        opacity: 0.5;
        display: flex;
    }
    .prev, .next {
        font-size: 13px;
        width: 18px;
        transition: 0.4s ease-in-out;
    }
    .next {
        padding-left: 0px;
    }
    .prev {
        margin-left: 95%;
    }
    .text-right {
        margin-left: -4%;
        margin-bottom: 20px;
    }
    h6.card-admin {
        display: flex;
        font-weight: normal;
        color: #b7acac;
    }
    h6.card-admin i {
        color: black;
    }
    .card-admin span {
        margin-left: 5px;
    }
    .card-title .link-title {
        text-decoration: none;
        display: flex;
        text-align: left;
        color: black;
    }
    a.link-title:hover, a.link-title:active {
        color: rgb(148, 143, 143);
    }
    a.readmore {
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
    }
    p.card-text {
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
    }
    /* end blog slider */
    #back2Top {
        width: 40px;
        border: none;
        border-radius: 4px;
        line-height: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        cursor: pointer;
        transform: rotate(270deg);
        position: fixed;
        bottom: 50px;
        right: 10px;
        background-color: #ffb727;
        color: #fff;
        text-align: center;
        font-size: 24px;
        text-decoration: none;
        transition: all 0.4s ease;
    }
    #back2Top:hover {
        background-color: #ffc550;
        color: white;
    }
    /* footer */
    footer.bg-dark {
        color: white;
    }
    .title-info-footer, .title-support, 
    .title-quick, .title-newsletter {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: default;
    }
    .add span, .mail span, .phone span, .time span {
        font-weight: normal;
    }
    .add, .mail, .phone, .time {
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: bold;
        cursor: default;
    }
    .bg-dark .info-footer, .support, 
    .quick, .newsletter {
        margin-top: 52px;
    }
    .bg-dark .support-list li:first-child, 
    .quick-list li:first-child {
        margin-top: -4px;
    }
    .support-list li a, .quick-list li a {
        font-size: 14px;
        color: white;
        text-decoration: none;
    }
    .support-list li a:hover, .quick-list li a:hover {
        color: #9d9d9d;
    }
    .support-list li, .quick-list li {
        list-style-type: none;
        margin-bottom: 12px;
    }
    .subscribe-newsletter .form-control {
        border-radius: 6px;
        margin-bottom: 15px;
        height: 48px;
        margin-top: 20px;
    }
    .subscribe-newsletter button {
        color: white;
        height: 48px;
        width: 130px;
    }
    .subscribe-newsletter button:hover {
        color: white;
    }
    .fa-facebook-square, .fa-youtube, .fa-instagram {
        margin-right: 20px;
        color: white;
    }
    a .fa-facebook-square:hover, a .fa-youtube:hover, a .fa-instagram:hover {
        color: #cdc5c5;
    }
    .copyright {
        font-size: 13px;
        font-weight: normal;
    }
    /* modal frame login */
    .modal-login, .modal-reset, .modal-signup {
        border-radius: 40px;
    }
    .mail-login, .mail-pass {
        border-radius: 6px;
        width: 300px;
        height: 40px;
        margin-left: 4.5rem;
    }
    .md-form.mb-4 {
        position: relative;
    }
    .md-form.mb-4 i {
        position: absolute;
        margin-left: 21rem;
        top: 12px;
    }
    .modal-title {
        margin-top: 34px;
    }
    .close {
        margin-right: 1.5rem;
    }
    .check-remember {
        margin-left: 4.5rem;
    }
    .modal-footer {
        display: flex;
        flex-direction: column;
    }
    .modal-footer .btn-login {
        background-color: orange;
        width: 300px;
        height: 44px;
        border-radius: 40px;
    }
    .modal-footer .forgot-pwd, p .not-member {
        text-decoration: none;
    }
    /* modal frame reset */
    .modal-footer .btn-reset {
        background-color: dodgerblue;
        width: 300px;
        height: 44px;
        border-radius: 40px;
    }
    /* password requirements */
    
    /* modal frame signup */
    .username, .mail-signup {
        border-radius: 6px;
        width: 300px;
        height: 40px;
        margin-left: 4.5rem;
    }
    .radio-group {
        margin-left: 8rem;
    }
    #female {
        margin-left: 4rem;
    }
    .md-form.mb-3 {
        position: relative;
    }
    .md-form.mb-3 i {
        position: absolute;
        margin-left: 21rem;
        top: 12px;
    }
    .md-form.mb-3 #inputBirthday {
        margin-left: 4.5rem;
        width: 300px;
        height: 6px;
        border-radius: 6px;
        border: 1px solid #ced4da;
        padding: 1rem;
    }
    .md-form.mb-3 #inputBirthday:focus {
        outline: none;
    }
    .btn-signup {
        background-color: orange;
        width: 300px;
        height: 44px;
        border-radius: 40px;
    }
    .or-seperator {
        border: 1px double darkgrey;
        margin-top: 39px;
        margin-bottom: 32px;
    }
    .btn-google {
        background-color: #EE1D1D;
        color: white;
        width: 300px;
        height: 44px;
        border-radius: 40px;
    }
    .already-acc {
        margin-top: 10px;
    }
    .already-acc .is-member {
        text-decoration: none;
    }
    .is-member:hover, .is-member:active {
        color: rgb(135, 184, 233);
    }
   