    *{margin:0;padding:0; }
    /* navbar menu */
    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    header ul li {
        display: block;
        text-align: right;
        float: right;
    }

    header .nav-link {
        padding: 10px;
        margin-top: 24px;
        font-size: 16px;
        margin-left: 10px;
    }
    .navbar-dark {
        background: #fcc226;
    }
    .user-part {
        margin-top: 10px;
    }
    
    .info {
        margin-top: 24px;
    }

    .info li:first-child {
        margin-bottom: -10px;
    }
    .col-md-1 p {
        font-weight: bold;
        padding-top: 13%;
    }

    .navbar-nav {
        display: inline-flex;
        margin: 0 auto;
    }
    .navbar-nav > .nav-item {
        padding-right: 22px;
    }
    .navbar-nav li {
        font-family: 'Playfair Display', serif;
    }
    .nav-item .fa-phone-alt, .nav-item a > .fa-envelope {
        color: white;
    }
    .nav-item .dangnhap {
        color: #FA5;
        }
    .nav-link.dangnhap:hover {
        color: rgb(168, 125, 81);
    }
    .nav-item .dangky {
        color: white;
        background-color: transparent;
        border: 1px solid orange;
        padding: 10px 25px 10px 25px;
        border-radius: 30px;
        box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.75);
    }
    .nav-link.dangky:hover {
        background-color: orange;
    }
    .nav-link.dangky:active, .nav-link.dangnhap:active {
        color: rgb(232, 225, 225,.6);
    }
    .navbar-nav li a.nav-link {
        color: white !important;
        font-size: 20px;
        cursor: pointer;
    }

    .navbar-nav li a.nav-link:hover {
        border-bottom: 1px solid #E76F51;
    }
    .navbar-brand img {
        max-width: 190px;
    }
    .heart-wrapper .btn i {
        color: #FFEB3B;
    }
    .heart-wrapper .btn i:hover {
        color: #f0e15f;
    }
    .navbar-toggler {
        color: rgba(255, 255, 255, .5);
        border-color: rgba(255, 255, 255, .1);
    }

    .searchBox {
        position: relative;
        background: white;
        height: 40px;
        border:1px solid rgb(163, 161, 161);
        border-radius: 40px;
    }
    .searchBox:active {
        border: 1px solid rgb(235, 166, 39);
    }
    .searchBox:hover > .searchInput {
        width: 240px;
        padding: 0 10px;
    }
    .searchBox:hover > .searchButton {
        background: black;
        color: darkorange;
    }
    .searchButton {
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #2f3640;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }
    .searchInput {
        border: none;
        border-radius: 40px;
        background: transparent;
        outline:none;
        float:left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
    }
    
   
    /* submenu navbar */
    .submenu {
        flex-direction: column;
        position: absolute;
        width: 15%;
        border-radius: 4px;
        background-color:#393939;
        z-index: 1;
    }
    .navbar-nav .nav-item .submenu {
        list-style-type: none;
    }
    .navbar-nav .nav-item .submenu a {
        text-decoration: none;
    }
    #collapsibleNavbar .navbar-nav .nav-item .submenu a {
        display: flex;
        padding-left: 20px;
        padding-top: 8px;
        height: 40px;
        color: #9d9d9d;
    }
    #collapsibleNavbar .navbar-nav .nav-item .submenu a:hover {
        background-color: orange;
        color: white;
    }
    #collapsibleNavbar .navbar-nav li:hover .submenu > li {
        top: 0;
        display: block;
    }
    .submenu li {
        display: none;
        position: relative;
    }
    .header-cart {
        display: flex;
    }
    .cart-wrapper i {
        margin-right: 46px;
    }
    /* carousel slider img active*/
    .carousel-item img {
        max-height: 571px;
    }
    .carousel-item .caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .justify-content-center .div-table .caption-content {
        display: flex;
        flex-direction: row;
    }
    .justify-content-center .div-table .caption-content > .caption-subtitle {
        margin-top: 28px;
    }
    .caption .caption-content {
        padding-top: 33%;
        text-align: center;
        color: white;
    }
    .caption-title span {
        font-size: 60px;
        font-family: 'Rufina', serif;
        color: #EDAB01;
    }
    .subscribe input[type="email"] {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        padding-left: 10px;
        border-radius: 10px;
        border: 1px solid #DDDDDD;
        outline: none;
        transition: all 0.30s ease-in-out;
    }
    .subscribe input[type="email"]:focus {
        border: 1px solid rgb(211, 143, 17);
    }
    .btn-subscribe {
        height: 40px;
        width: 140px;
        padding: 0 10px;
        border: none;
        border-radius: 0;
        line-height: 36px;
        text-transform: uppercase;
    }
    .subscribe .btn-subscribe:hover {
        background-color: #e3b528;
        border-color: #d39e00;
    }
    .subscribe .btn-outline-secondary.btn-subscribe {
        color: white;
        margin-left: 40%;
        margin-top: 20px;
        height: 48px;
        border-radius: 4px;
        background-color: #ffc107;
    }
    .darken-img img {
        filter: brightness(50%);
    }
    /*carousel slider img non-active*/
    .summer {
        margin-top: 15%;
    }
    .view {
        margin-top: 200%;
    }
    .view .btn-view {
        background-color: #ffc107;
        color: white;
        text-transform: uppercase;
        padding: 0 20px;
        border: none;
        border-radius: 4px;
        line-height: 36px;
        height: 48px;
        width: 130px;
    }
    .btn-view:hover {
        background-color: #e3b528;
        border-color: #d39e00;
    }
    /* about section */
    .heading .below {
        width: 120px;
        height: 2px;
        background-color: #FFAA55;
        margin: auto;
    }
    .container-fluid .heading {
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
        padding-top: 30px;
    }
    .content {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: justify;
        width: 50%;
        font-size: 16px;
        line-height: 30px;
        padding-top: 20px;
    }
    .view-more .btn-more {
        color: #ffc107;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        background-color: transparent;
        border: 1px solid #ffc107;
        padding: 13px 20px;
        height: 48px;
        font-size: 14px;
        margin: 50px auto;
        border-radius: 4px;
        font-weight: 600;
        transition: 0.3s;
    }
    .btn-more:hover {
        background-color: #ffc107;
        color: white;
    }
    /* thumbnail product */
    .thumbnail {
        padding-top: 20px;
    }
    .thumbnail .img-fluid {
        position: relative;
        overflow: hidden;
    }
    .thumbnail .zoom {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -25%;
        opacity: 0;
        font-size: 30px;
        color: #ecebeb;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .thumbnail:hover .zoom {
        opacity: 1;
    }
    .product-image {
        width: 200px;
        margin-left: 25%;
    }
    .product {
        margin-top: 10px;
    }
    .product-title a {
        text-decoration: none;
        color: #232323;
    }
    /* thumbnail zoom carousel */
    .product-control i {
        color: goldenrod;
    }
    .product-control:hover i {
        color: gold;
    }
    /* end thumbnail zoom carousel */
    .product-title a:hover {
        color: #e3b424;
    }
    .thumbnail .price {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.3;
        margin-bottom: 15px;
    }

    .thumbnail .buttons .btn-icon-left {
        padding: 10px 12px;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        border: solid 1px #c9bcbc;
        background-color: #ffc107;
        color: white;
    }
    /* button hover */
    .buttons .btn-icon-right {
        opacity: 0;
    }
    .thumbnail:hover .btn-icon-right {
        opacity: 1;
    }
    .buttons .btn-icon-left:hover {
        background-color: darkorange;
    }
    .thumbnail .buttons .btn-icon-right {
        border-color: #ffc107;
        margin-left: 10px;
    }

    .thumbnail .buttons .btn-icon-right:hover {
        background-color: darkorange;
    }
    .thumbnail .buttons .btn-icon-right:hover > i {
        color: white;
    }
    .btn-icon-right i {
        color: #ffc107;
    }

    /* rating section */
    .rating i {
        color: #FFEB3B;
        cursor: pointer;
    }
    /* brand section */
    .brand img {
        width: 150px;
    }
    .brand {
        margin-top: 50px;
    }
    /* testimonial section */
    .review-bg {
        background-color: #cfcdcd;
    }
    .review-indicators {
        top: -30%;
    }
    #indicators .carousel-indicators > li:nth-child(1) {
        background-image: url(../images/icon/jimmy_fallon.jpg);
    }
    #indicators .carousel-indicators > li:nth-child(2) {
        background-image: url(../images/icon/will_smith.jpg);
    }
    #indicators .carousel-indicators > li:nth-child(3) {
        background-image: url(../images/icon/angel_asher.jpg);
    }
    #indicators .carousel-indicators > li {
        width: 70px;
        height: 70px;
        border: 0;
        border-radius: 50%;
        transition: all 0.4s ease-in-out;
        margin: 0 15px;
        background: center no-repeat;
        background-size: cover;
        filter: opacity(0.6);
    }
    #indicators .review-indicators li.active {
        transform: scale(1.2);
        filter: opacity(1);
    }
    #indicators .carousel-inner {
        width: 60%;
        margin: auto;
        padding: 25px 0 15px;
    }
    .carousel-inner strong span {
        font-weight: normal;
    }
    #indicators .carousel-item p {
        padding: 10px;
        font-size: 16px;
        font-style: italic;
        font-weight: bold;
        font-family: 'Playfair Display', serif;
    }
    /* end testimonial */
    /* benefit section */
    .icon {
        height: 80px;
        width: 80px;
        border: 1px solid #EEB31D;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 20px auto;
    }
    .icon .fas {
        font-size: 28px;
        position: absolute;
        bottom: 50%;
        transform: translate(50%,50%);
        right: 50%;
        color: #FFAA55;
    }
    .benefit {
        margin-bottom: 80px;
    }
    /* end benefit */
    /* blog slider */
    #postIndicators {
        padding-top: 55px;
    }
    .row-equal > div[class*='col-'] {
        display: flex;
        flex: 1 0 auto;
    }
    .row-equal .card {
        width: 100%;
    }
    .card {
        border: solid 2px #dbd4d4;
    }
    .carousel-inner>.row-equal.active, 
    .carousel-inner>.row-equal.next, 
    .carousel-inner>.row-equal.prev {
        display: flex;
    }
    .carousel-inner>.row-equal.active.left, 
    .carousel-inner>.row-equal.active.right {
        opacity: 0.5;
        display: flex;
    }
    .prev, .next {
        font-size: 13px;
        width: 18px;
        transition: 0.4s ease-in-out;
    }
    .next {
        padding-left: 0px;
    }
    .prev {
        margin-left: 95%;
    }
    .text-right {
        margin-left: -4%;
        margin-bottom: 20px;
    }
    h6.card-admin {
        display: flex;
        font-weight: normal;
        color: #b7acac;
    }
    h6.card-admin i {
        color: black;
    }
    .card-admin span {
        margin-left: 5px;
    }
    .card-title .link-title {
        text-decoration: none;
        display: flex;
        text-align: left;
        color: black;
    }
    a.link-title:hover, a.link-title:active {
        color: rgb(148, 143, 143);
    }
    a.readmore {
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
    }
    p.card-text {
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
    }
    /* end blog slider */
    #back2Top {
        width: 40px;
        border: none;
        border-radius: 1em;
        line-height: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        cursor: pointer;
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        position: fixed;
        bottom: 50px;
        right: 0;
        background-color: #536878;
        color: #f5f0f0;
        text-align: center;
        font-size: 24px;
        text-decoration: none;
    }
    #back2Top:hover {
        background-color: #708090;
        color: #f5f0f0;
    }
    /* footer */
    footer.bg-dark {
        color: white;
    }
    .title-info-footer, .title-support, 
    .title-quick, .title-newsletter {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: default;
    }
    .add span, .mail span, .phone span, .time span {
        font-weight: normal;
    }
    .add, .mail, .phone, .time {
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: bold;
        cursor: default;
    }
    .bg-dark .info-footer, .support, 
    .quick, .newsletter {
        margin-top: 52px;
    }
    .bg-dark .support-list li:first-child, 
    .quick-list li:first-child {
        margin-top: -4px;
    }
    .support-list li a, .quick-list li a {
        font-size: 14px;
        color: white;
        text-decoration: none;
    }
    .support-list li a:hover, .quick-list li a:hover {
        color: #9d9d9d;
    }
    .support-list li, .quick-list li {
        list-style-type: none;
        margin-bottom: 12px;
    }
    .subscribe-newsletter .form-control {
        border-radius: 6px;
        margin-bottom: 15px;
        height: 48px;
        margin-top: 20px;
    }
    .subscribe-newsletter button {
        color: white;
        height: 48px;
        width: 130px;
    }
    .fa-facebook-square, .fa-youtube, .fa-instagram {
        margin-right: 20px;
        color: white;
    }
    a .fa-facebook-square:hover, a .fa-youtube:hover, a .fa-instagram:hover {
        color: #cdc5c5;
    }
    .copyright {
        font-size: 13px;
        font-weight: normal;
    }
    /* modal frame login */
    

    /* password requirements */
    #psw-info ul li {
        list-style-type: none;
    }
    #psw-info {
        position: absolute;
        right: 70px;
        width: 250px;
        padding: 15px;
        background-color: #fefefe;
        font-size: .875em;
        border-radius: 5px;
        box-shadow: 0 1px 3px #ccc;
        border: 1px solid #ddd;
        display: none;
    }
    #psw-info h4 {
        margin: 0 0 10px 0;
        font-weight: normal;
    }
    #psw-info::before {
        content: "\25B2";
        position: absolute;
        top: -12px;
        left: 45%;
        font-size: 14px;
        line-height: 14px;
        color: #ddd;
        text-shadow: none;
        display: block;
    }
    #inputPassword + .eyecon {
        float: right;
        margin-top: -24px;
        margin-right: 15px;
        position: relative;
        cursor: pointer;
    }
    .invalid {
        background: url(images/icon_cancel.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
    }
    .valid {
        background: url(images/icon_accept.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
    }
    /* signup part */
    .sign_up a, .forgotten a {
        font-size: 14px;
        text-decoration: none;
    }
    .sign_up {
        margin-top: 10px;
        float: right;
    }
    /* modal frame signup */
    /* .card-title-1 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    #btn-signup {
        text-align: center;
        transition: all 0.4s;
    }
    .form-control, .btn {
        border-radius: 50px;
    }
    .box-signup {
        margin-left: 45px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .or-seperator {
        margin: 50px 0 15px;
        text-align: center;
        border-top: 1px solid #ccc4c4;
    }
    .or-seperator b, .or-login-seperator b {
        padding: 0 10px;
        font-size: 16px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        border: 1px solid #a4a7a5;
        border-radius: 50px;
        position: relative;
        top: -22px;
        text-transform: capitalize;
        z-index: 1;
        background: #fff;
    }
    .sign-up-with {
        margin-top: -27px;
        font-size: 16px;
    }
    .social-btn .btn {
        margin: 10px 0 0 10px;
        font-size: 15px;
        border: none;
        transition: all 0.4s;
    }
    .social-btn .btn:hover {
        opacity: 0.8;
    }
    .social-btn .btn-primary {
        background-color: #3b5998;
    }
    .social-btn .btn-danger {
        background-color: #db3236;
    }
    .social-btn .btn i {
        margin: 2px 6px;
        font-size: 16px;
    }
    .already {
        margin-top: 10px;
    }
    .already a:hover {
        text-decoration: none;
    } */
    /* mobile and tablet devices */
   