.product-container table.cart {
    width: 100%;
   
}
.cart thead tr th {
    padding: 20px 23px;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid #FFC107;
    color: #141c4b;
}
.quantityInCart button {
    border: none;
    background: none;
    transition: all 0.4s ease-in-out;
    margin-left: 10px;
}
.product-container {
    padding: 10px 0px;
    text-align: center;
}
.cart tbody tr td {
    padding: 20px 0;
    border-bottom: 1px solid #FFC107;
    font-weight: 500;
}
.cart-item td.productName a {
    text-decoration: none;
    color: #273c75;
}
.cart-item td.productName a:hover {
    color: #718093;
}
.cart-item .productInCart img {
    width: 85px;
    border: 1px solid grey;
}
.basketTotal {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.totalPrice {
    width: 22%;
}
.checkOut {
    padding: 13px 10px;
    height: 48px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;
    margin-bottom: 50px;
    background-color: #FFB800;
    color: white;
}

.coupon-dropdown a {
    text-decoration: none;
    color: black;
}
.coupon-dropdown a:hover {
    color: rgb(128, 124, 124);
}
#discount-code {
    width: 200px;
}
.applyCoupon {
    margin-top: 5px;
    width: 100px;
    height: 38px;
    font-size: 13px;
    font-weight: 200;
    border: none;
    border-radius: 6px;
    background-color: #fed330;
    color: white;
}