.banner-products {
    background: url(../images/product_images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.filter-contain {
    display: flex;
    background-color: #C4C4C4;
    border-radius: 6px;
    height: 50px;
    width: 70rem;
    margin-bottom: 35px;
}
.filter-one, .filter-two, .filter-three {
    width: 155px;
    height: 40px;
    margin-right: 27px;
    margin-top: 6px;
} 
.filter-title {
    margin-right: 27px;
    font-size: 20px;
    margin-top: 11px;
}
.filter-contain .delete {
    text-decoration: none;
    margin-left: 20rem;
    margin-top: 0.8rem;
    color: #978e8e;
}
a.delete:hover {
    color: #b4afaf;
}
/* product list */
.first-row, .second-row {
    width: 90%;
    margin: auto;
}
.thumbnail-product {
    padding: 0;
}
.product-page-img {
    margin: auto;
}
.product-page-title {
    font-size: 20px;
}
.thumbnail-product .zoom-product {
    margin-top: -36%;
}
.first-row, .second-row {
    margin-bottom: 50px;
}
/* pagination */
.pagination-container {
    margin: 25px auto;
    text-align: center;
}
.pagination {
    position: relative;
    align-items: center;
    justify-content: center;
}
.pagination a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 16px 10px;
}
.pagination a::before {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #EEB31D;
    border-radius: 20px;
    transform: scale(0);
    transition: all 0.2s;
}
.pagination a:hover, 
.pagination .page-active {
    color: #ffff;
}
.pagination a:hover::before,
.pagination .page-active::before {
    transform: scale(1);
}
.pagination-newer {
    margin-right: 25px;
}
.pagination-older {
    margin-left: 25px;
}
