*{margin:0;padding:0;}

.home-menu .navbar .collapse .nav li.dropdown ul.dropdown-menu li.dropdown ul.dropdown-menu {
    border: none;
}

.home-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li ul.dropdown-menu {
    margin: -36px 0 0 100%;
}

body{
    font-family:Arial !important;
}

.xem-tiep a {
    display: block;
    text-align: right;
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 6%;
}

.khoa-2-tin-tuc .banner-1 {
    margin: 0% 0 4% 0;
}

.khoa-2-tin-tuc .tin-khac-khoa-1 {
    margin: 3.5% 0 3.8% 0;
}

.khoa-2-tin-tuc .tin-khac-khoa-2 {
    margin: 2.5% 0 4% 0;
}

.tieu-de-khoa-2 {.arrow_box {position: relative;background: #88b7d5;border: 4px solid #c2e1f5;  }  .arrow_box:after, .arrow_box:before {left: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;  }    .arrow_box:after {border-color: rgba(136, 183, 213, 0);border-left-color: #88b7d5;border-width: 89px;margin-top: -89px;  }  .arrow_box:before {border-color: rgba(194, 225, 245, 0);border-left-color: #c2e1f5;border-width: 95px;margin-top: -95px;  }.arrow_box {position: relative;background: #88b7d5;border: 4px solid #c2e1f5;  }  .arrow_box:after, .arrow_box:before {left: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;  }    .arrow_box:after {border-color: rgba(136, 183, 213, 0);border-left-color: #88b7d5;border-width: 89px;margin-top: -89px;  }  .arrow_box:before {border-color: rgba(194, 225, 245, 0);border-left-color: #c2e1f5;border-width: 95px;margin-top: -95px;  }position: relative;position: relative;background: #1266af;width: 250px;height: 35px;margin-bottom: 12px;}

.tieu-de-khoa-2:after {left: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);border-left-color: #1266af;border-width: 17.2px;margin-top: -17.2px;}

.tieu-de-khoa-2 h3 {padding: 10px 0 0 11px;margin: 0;color: yellow;font-size: 12pt;text-transform: uppercase;font-weight: bold;}
.tieu-de-khoa-2 a{
    color:yellow;
}
.home-menu.vien-menu.trung-tam-menu.trung-tam-2-menu.khoa-2-menu>.navbar>.collapse>ul.nav>li.dropdown>a.dropdown-toggle {
    padding: 7.5px 30px;
}

.trung-tam-2-bottom .row.trung-tam-2-footer {
    background: #EBEBEB;
    margin: 0;
    padding: 10px 10px 20px 10px;
    border-top: 5px solid #1266af;
}

.home-bottom.vien-bottom.trung-tam-bottom.trung-tam-2-bottom {
    border: none;
    background: #F2F4F4;
    padding-bottom: 0;
}

.home-top.vien-top.trung-tam-top.trung-tam-2-top {
    padding-bottom: 70px;
}

.tin-khac.tin-khac-tt {
    margin-top: 15px;
}

.trung-tam-2-2 .tin-khac h4 {
    font-size: 10pt;
    text-transform: uppercase;
    text-align: justify;
    line-height: 17px;
    background: linear-gradient(white, rgba(201, 199, 199, 0.8));
    padding: 12px 8px;
    color: #3d4548;
    font-weight: bold;
    margin: 0;
}

.trung-tam-2-2 .tin-khac.tin-khac-ht h4 {
    background: none;
    padding: 7px 5px;
    text-transform: none;
}

.trung-tam-2-2 .vien-video {
    background: #ee7b02;
}

.trung-tam-2-2 .vien-video h3 {
    font-size: 11pt;
    text-align: justify;
    font-weight: bold;
    color: white;
    padding: 8px 10px 18px 10px;
    margin: 0;
    font-weight: normal;
}

.vien-anh-trung-tam-2 {
    background: #ee7b02;
    padding-bottom: 10px;
}

.tieu-de-trung-tam-2-1 h3 {
    background: #ee7b02;
    margin: 20px 0 0 0;
    font-size: 12pt;
    font-weight: bold;
    padding: 10px 10px;
    text-transform: uppercase;
    text-align: justify;
    color: white;
}

.tieu-de-trung-tam-2 h3 {
    color: #ee7b02;
    font-size: 14pt;
    font-weight: bold;
    border-left: 5px solid #ee7b02;
    padding-left: 10px;
    text-transform: uppercase;
    text-align: justify;
    margin: 22px 0 15px 0;
}

.lich-thuc-hanh hr {
    margin: 12.1px 0;
}

.lich-thuc-hanh a h3 {
    margin: 0 0 0 -5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
    text-align: justify;
}

.lich-thuc-hanh a h4 {
    font-size: 10pt;
    text-align: justify;
    line-height: 16px;
    margin: 0;
}

.lich-thuc-hanh a {
    color: white;
}

.trung-tam-2-body .lich-thuc-hanh {
    background: #EE7B02;
    padding: 10px 20px 20px 20px;
}

.trung-tam-2-menu .collapse.navbar-collapse.navbar-ex1-collapse {
    background: #1266AF;
    border: 1px solid white;
}

.home-menu.vien-menu.trung-tam-menu.trung-tam-2-menu nav.navbar.navbar-default {
    border: none;
    box-shadow: none;
}

.home-menu.vien-menu.trung-tam-menu.trung-tam-2-menu {
    background: none;
    margin-top: -36px;
}

.tieu-de-phan-vien img {
    height: 10px;
}

.tieu-de-khoa.tin {
    margin-top: 50px;
}

.tieu-de-phan-vien .btn-group button.btn.btn-secondary {
    border: none;
    border-radius: 0;
}

.tieu-de-phan-vien .btn-group button.btn.btn-secondary.img {}

.tieu-de-phan-vien .line {
    float: right;
    background: url(images/phan-vien/line.png);
    height: 13px;
    width: 100%;
    margin-top: 4px;
}

.tieu-de-phan-vien h3 {
    color: #093057;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    margin: 0 10px 20px 0;
    display: inline-table;
}

.phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .phan-vien-banner-phu .thumbnail .caption h3 {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-size: 11pt;
    height: 95px;
    font-weight: bold;
    line-height: 18px;
    padding: 50px 6px 6px 6px;
    margin: 0;
    background: linear-gradient(to bottom, rgba(9, 48, 87, 0), rgb(7, 42, 78));
}

.phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .phan-vien-banner-phu .thumbnail .caption {color: white;text-transform: uppercase;height: 116px;padding: 0;margin-top: -116px;}

.phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .phan-vien-banner-phu .thumbnail {
    border: none;
    padding: 0;
    box-shadow: none;
    margin-bottom: 30px;
    position: relative;
}

.phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .phan-vien-banner-phu .thumbnail img {/* float: left; */position: relative;}

.vien-body .vien-nen .vien-1 .row.vien-1-b .row.box-ban-tin-hvnh-1 a:hover, .phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .row.box-ban-tin-hvnh-1 a:hover {
    text-decoration: none;
}

.vien-body .vien-nen .vien-1 .row.vien-1-b .row.box-ban-tin-hvnh-1 .tin-chinh-thong-bao h4 hr, .phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .row.box-ban-tin-hvnh-1 a .tin-chinh-thong-bao h4 hr {
    margin: 3px 5px;
}

.vien-body .vien-nen .vien-1 .row.vien-1-b .row.box-ban-tin-hvnh-1 .tin-chinh-thong-bao h4, .phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .row.box-ban-tin-hvnh-1 a .tin-chinh-thong-bao h4 {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    margin: 0;
    padding: 5px;
}

.phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .row.box-ban-tin-hvnh-1 a .tin-chinh-thong-bao h4 {
    font-size: 12pt;
}

.vien-body .vien-nen .vien-1 .row.vien-1-b .row.box-ban-tin-hvnh-1 .tin-chinh-thong-bao, .phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .row.box-ban-tin-hvnh-1 a .tin-chinh-thong-bao {
    background: #EF7300;
    color: white;
}

.khoa-body .khoa-banner {
    box-shadow: 0px 4px 5px -1px rgba(84, 84, 84, 0.43);
    position: relative;
    z-index: 9;
}

.vien-body.trung-tam-body.vien-tin-body .vien-nen.trung-tam-nen .vien-1.trung-tam-1 .box-app {
    margin-bottom: 12%;
}

.vien-nen.trung-tam-nen.vien-tin-nen {
    padding-bottom: 2.5%;
}

.vien-nen.trung-tam-nen.vien-tin-nen.vien-tin-chi-tiet-nen {
    padding-bottom: 5px;
}

ol.breadcrumb a {
    color: #3d4548;
    font-size: 10pt;
}

ol.breadcrumb {
    padding: 0;
    background: none;
    font-weight: bold;
    margin: -17px 0 12px 0;
}

.vien-tin-body .vien-tin-nen .vien-tin-1 .vien-1-a .vien-tin-tuc .next-trang ul.pagination {
    float: right;
}

.vien-body.trung-tam-body.vien-tin-body .vien-nen.trung-tam-nen .vien-1.trung-tam-1 .tin-khac {
    margin-bottom: 10%;
}

.vien-body.vien-tin-body .vien-nen.vien-tin-nen .vien-1.vien-tin-1 .vien-tin-tuc .ban-tin-1 {
    margin-bottom: 4.3%;
}

.vien-body.trung-tam-body .vien-nen.trung-tam-nen .vien-1.trung-tam-1 .tin-cap-nhat a i.fa.fa-circle {
    font-size: 5pt;
    display: block;
    color: #093057;
}

.vien-body.khoa-body .vien-nen.khoa-nen .vien-1.khoa-1 .row.vien-1-a.khoa-1-a .row.box-ban-tin-hvnh-1 {
    margin-bottom: 7%;
}

.tieu-de-khoa h3 i.fa {
    font-size: 20pt;
}

.tieu-de-khoa h3 {
    color: #1266af;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    margin: 0 0 20px 0;
}

.tieu-de-trung-tam .line {
    border-bottom: 4px solid #007398;
    float: left;
    margin-top: -28px;
    width: 100%;
}

.tieu-de-trung-tam h3 {
    color: #007398;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    margin: 0 0 20px 0;
    display: -webkit-inline-box;
    background: white;
    padding-right: 8px;
}

.vien-body.trung-tam-body .vien-nen.trung-tam-nen .vien-1.trung-tam-1 .tin-khac span.fa.fa-check-square-o {
    display: block;
}

.vien-body.trung-tam-body .vien-nen.trung-tam-nen .vien-1.trung-tam-1 .tin-khac a h3, .vien-body.trung-tam-body .vien-nen.trung-tam-nen .vien-1.trung-tam-1 .tin-cap-nhat a h3 {
    font-size: 11pt;
    text-align: justify;
    color: #3d4548;
    margin: -17px 0px 22px 22px;
    line-height: 18px;
}

.vien-body.trung-tam-body.vien-tin-body .vien-nen.trung-tam-nen .vien-1.trung-tam-1 .tin-cap-nhat a h3 {
    margin: -15px 0px 22px 16px;
}

.home-menu.vien-menu .navbar .collapse .nav.navbar-nav span.fa.fa-home {
    font-size: 15.6pt;
}

.home-menu.vien-menu.khoa-menu .navbar .collapse .nav.navbar-nav span.fa.fa-home {
    color: white;
}

.home-khoa .row.home-khoa .home-khoa-nd6 {
    width: 19.5%;
}

.home-khoa .row.home-khoa .home-khoa-nd5 {
    width: 19.5%;
}

.home-bottom.vien-bottom img {
    margin-top: 60px;
    float: right;
    margin-left: 6px;
}

.home-bottom.vien-bottom {
    background: #093057;
    border-top: 4px solid #0c75dd;
}

.home-bottom.vien-bottom.trung-tam-bottom {
    border-top: 4px solid #007398;
    background: #ebebeb;
}

.home-bottom.vien-bottom.trung-tam-bottom.khoa-bottom {
    background: #1266AF;
    border: none;
}

.home-khoa.vien-khoa h4, .home-khoa.vien-khoa h5 {
    color: #093057;
}

.home-khoa.vien-khoa {
    background: #ebebeb;
    padding: 3.7% 2% 3.9% 2%;
    margin-bottom: 3.8%;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.row.vien-1-c .vien-anh h3, .khoa-2-anh h3 {
    font-size: 10pt;
    text-align: justify;
    font-weight: bold;
    margin: 10px 0 0 0;
    color: #093057;
    line-height: 16px;
    margin-bottom: 15px;
}

.row.vien-1-c .row.doi-tac {
    margin-bottom: 2%;
}

.row.vien-1-c .row.doi-tac img,.khoa-2-tin-tuc .row.doi-tac img {
    border: 1px solid #e8e8e8;
    margin: 10px 0;
}

.row.vien-1-b button.btn.btn-primary, .phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a button.btn.btn-primary {
    background: url(images/vien/btn-thong-bao.png);
    width: 119px;
    border: none;
    text-transform: uppercase;
    border-radius: none;
    font-weight: bold;
    color: #0a1633;
    margin-top: 20px;
}

.phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a button.btn.btn-primary {
    margin-bottom: 9%;
}

.row.vien-1-b .vien-video h3, .vien-body.trung-tam-body.vien-tin-body .vien-nen.trung-tam-nen .vien-1.trung-tam-1 .vien-video h3 {
    font-size: 10pt;
    text-align: justify;
    font-weight: bold;
    margin: 10px 0 0 0;
    color: #093057;
}

.tin-chinh.tuyen-dung img {
    border: 1px solid #cccccc;
}

.vien-1 .row.vien-1-c {
    padding-bottom: 5%;
}

.row.vien-1-c.trung-tam-2-1-c {
    padding-bottom: 0;
}

.vien-1 .row.vien-1-b {
    margin-bottom: 2.5%;
}

.vien-1 .row.vien-1-a {
    margin-bottom: 3.6%;
}

.vien-1 .row.vien-1-a.trung-tam-2-1-a {
    margin-bottom: 0;
}

.vien-body .vien-nen .vien-1 .vien-tin-tuc .row.box-ban-tin-hvnh-1 img, .vien-body .vien-nen .vien-1 .row.vien-1-b .row.box-ban-tin-hvnh-1 img {width: 110%;}

.vien-body.vien-tin-body .vien-nen.vien-tin-nen .vien-1.vien-tin-1 .vien-tin-tuc .row.box-ban-tin-hvnh-1 img {
    width: 100%;
}

.vien-1 .box-ung-dung a:hover {
    text-decoration: none;
}

.vien-1 .box-ung-dung img {
    margin: -12% 0 0px 80%;
}

.vien-1 .box-ung-dung h4 {
    margin: 4.3% 0 0 9%;
    font-weight: bold;
    font-size: 14pt;
    padding-right: 18.5%;
}

.vien-1 .box-ung-dung span.fa.fa-caret-right {
    display: block;
    margin: 15px 0px -40px 10px;
    font-size: 20pt;
    color: #b6b5b6;
}

.vien-1 .box-ung-dung {
    border: 1px solid #d7d7d7;
    background: #e6e4e4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0deg, #e6e4e4, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #e6e4e4, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #e6e4e4, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #e6e4e4, #ffffff);
    margin-bottom: 13px;
}

.vien-body .vien-nen .vien-1 .vien-tin-tuc h3 {
    margin: 0 0 3.5% 0;
    font-size: 14pt;
    font-weight: bold;
}

.vien-body .vien-nen .vien-1 .vien-tin-tuc.khoa-2-tin-tuc h3 {
    font-size: 12pt;
}

.vien-body .vien-nen .vien-1 .vien-tin-tuc .row.box-ban-tin-hvnh-1 {
    margin-bottom: 4%;
}

.vien-banner .banner-phu {
    margin-bottom: 2.3%;
}

.tieu-de-vien h3 {
    color: #093057;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    margin: 0 0 20px 0;
}

.tieu-de-vien {
    background: #ebebeb;
}

.vien-banner .banner-chinh {
    margin-bottom: 2.3%;
}

.vien-body {
    background: #f2f4f4;
}

.vien-nen {
    padding: 2.6% 2.2% 0 2.2%;
    background: white;
    box-shadow: 0px 5px 5px -1px rgba(84, 84, 84, 0.43);
    position: relative;
}

.vien-nen.trung-tam-nen.khoa-nen {
    padding: 2.6% 2.2% 6% 2.2%;
}

.vien-nen.trung-tam-nen.khoa-nen.khoa-2-nen {
    padding: 2% 2.2% 1.5% 2.2%;
}

.home-menu.vien-menu.khoa-2-menu .navbar .collapse .nav a.dropdown-toggle {
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.home-menu.vien-menu .navbar .collapse .nav a {
    font-size: 11pt;
    text-transform: uppercase;
    color: white;

}

.home-menu.vien-menu.trung-tam-2-menu .navbar .collapse .nav a {

    
    padding: 7.5px 10px;
}

.navbar-nav{
	width: 100%;
	text-align: center;
}

.navbar-nav > li
{
    display: inline-block;
}

.home-menu.vien-menu .navbar .collapse .nav a:hover {
    color: #FFED00;
}

.home-menu.vien-menu.trung-tam-menu .navbar .collapse .nav a {
    color: #007398;
    font-weight: bold;
        font-size:12px;
}

.home-menu.vien-menu.trung-tam-menu.trung-tam-2-menu .navbar .collapse .nav a {
    color: white;
}

.home-menu.vien-menu.trung-tam-menu.khoa-menu .navbar .collapse .nav a {
    padding: 10px;
    margin-top:5px;

}

.home-menu.vien-menu {
    background: #093057;
}

.home-menu.vien-menu.trung-tam-menu {
    background: #e5e3e3;
}

.home-menu.vien-menu.trung-tam-menu.khoa-menu {
    background: #1266af;
}

.home-top.vien-top h2 {
    color: #fdf32f;
    margin: 1.2% 0 0 16.5%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-family::Verdana;
}

.home-top.vien-top h1 {
    color: white;
    margin: 1.2% 0 0 16.5%;
    font-size: 22px;
    letter-spacing: 0.8px;
        font-family::Verdana;
}

.home-top.vien-top {
    background: url(images/vien/banner-top.jpg);
    background-position: bottom;
}

.home-top.vien-top.phan-vien-top h1 {
    margin-top: 2.5%;
}

.home-top.vien-top.trung-tam-top {
    background: url(images/trung-tam/banner-top.png);
}

.vien-header-top .ngon-ngu img.img-responsive {
    width: 26px;
    float: right;
    padding-left: 4px;
}

.vien-header-top ol.breadcrumb {
    background: #E5E3E4;
    display: inline-block;
    padding: 2px 15px;
    margin: 0;
}

.vien-header-top {
    background: #E5E3E4;
}

.danh-sach-tin .ban-tin-hvnh input[type="submit"] {
    height: 35px;
    padding: 3px 10px;
    font-size: 10pt;
}

.danh-sach-tin .ban-tin-hvnh input[type="text"] {
    height: 35px;
    width: 52%;
    margin: 1.8% 0 1% 0;
}

.danh-sach-tin .ban-tin-hvnh p {
    font-size: 10pt;
    margin: 1% 0 1% 0;
}

.danh-sach-tin .ban-tin-hvnh .box-tim-kiem {
    margin-bottom: 2.4%;
    padding-bottom: 2.4%;
    border-bottom: 1px dotted;
}

.danh-sach-tin .ban-tin-hvnh .box-tim-kiem h6 {
    font-style: italic;
    margin: 0;
}

.danh-sach-tin .ban-tin-hvnh .box-tim-kiem i {
    font-style: normal;
    font-size: 10pt;
}

.danh-sach-tin .ban-tin-hvnh .box-tim-kiem h5 {
    font-size: 10pt;
    text-align: justify;
    line-height: 16px;
    margin: 1.2% 0 1.5% 0;
}

.danh-sach-tin .ban-tin-hvnh .box-tim-kiem a h3 {
    font-size: 12pt;
    font-weight: bold;
    line-height: 18px;
    text-align: justify;
    margin: 0 0 0.3% 0;
}

.danh-sach-tin .banner-tim-kiem {
    background: url(images/banner-tim-kiem.png);
}

.dang-nhap .box-dang-nhap h6 {
    font-size: 13pt;
    color: black;
}

.dang-nhap .box-dang-nhap button.btn.btn-primary {
    margin: 5% 0 4% 0;
    width: 100%;
    padding: 11px 0;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;
    background: #007398;
}

.dang-nhap .box-dang-nhap button.btn.btn-primary:hover {
    background: #006484;
}

.dang-nhap .box-dang-nhap input {
    height: 50px;
    background: #D3D3D3;
}

.dang-nhap .icon {margin-bottom: -5%;padding: 0 45%;}

.dang-nhap {
    padding: 6.8% 0 16.8% 0;
}

.dang-nhap .box-dang-nhap h5 {
    font-size: 14pt;
    text-transform: uppercase;
    margin: 0 0 8% 0;
    font-weight: bold;
    line-height: 24px;
}

.dang-nhap .icon img {
    margin: auto;
    display: block;
}

.dang-nhap .box-dang-nhap {
    width: 45.6%;
    margin: auto;
    text-align: center;
    background: #EBEBEB;
    padding: 8.4% 4.4% 4.4% 4.4%;
    border-radius: 6px;
}

.dang-ky .dieu-khoan-gui-mail button.btn.btn-primary {
    border-radius: 0px;
    background: white;
    color: #636466;
    padding: 0.3% 1.5%;
    border-color: #ccc;
    margin-top: 2%;
}

.dang-ky .dieu-khoan-gui-mail button.btn.btn-primary:hover {
    background: #007398;
    color: white;
    font-weight: bold;
}

.dang-ky .dieu-khoan-gui-mail {
    margin-bottom: 10%;
}

.dang-ky .thong-tin-ca-nhan button.btn.btn-primary.dropdown-toggle {
    border-radius: 0px;
    background: white;
    color: #636466;
    padding: 0.3% 1.5%;
    border-color: #ccc;
}

.dang-ky .thong-tin-ca-nhan input[type="text"] {
    width: 60%;
}

.dang-ky h5 {
    display: inline-flex;
    width: 22%;
    line-height: 16px;
    font-size: 10pt;
}

.dang-ky .thong-tin-ca-nhan {
    margin-bottom: 2%;
}

.dang-ky .thong-tin-tai-khoan {
    margin-bottom: 2%;
}

.dang-ky h3 {
    margin: 0 0 1.2% 0;
    font-size: 12pt;
    font-weight: bold;
}

.dang-ky {
    padding-top: 4.4%;
    font-size: 10pt;
}

.dang-ky h2 {
    font-size: 14pt;
    font-weight: bold;
    color: #007398;
    margin: 0 0 1.6% 0;
    text-transform: uppercase;
}

.home-nd1 .ban-tin-1 .box-view i span.fa, .vien-body .vien-nen .vien-1 .vien-tin-tuc .ban-tin-1 .box-view i span.fa {
    color: #1C9AD6;
}

.home-nd1 .ban-tin-1 .box-view i, .vien-body .vien-nen .vien-1 .vien-tin-tuc .ban-tin-1 .box-view i, .vien-body.khoa-body .vien-nen.khoa-nen .vien-1.khoa-1 .row.vien-1-a.khoa-1-a .row.box-ban-tin-hvnh-1 .box-view i, .vien-body.khoa-body .vien-nen.khoa-nen .vien-1.khoa-1 .row.vien-1-b.khoa-1-b .row.box-ban-tin-hvnh-1 .box-view i {
    font-style: inherit;
    font-size: 10pt;
    color: #3d4548;
    text-align: justify;
}

.danh-sach-tin .banner-hop-tac h3 {
    margin: 0;
    color: white;
    font-size: 18pt;
    font-weight: 600;
    text-transform: uppercase;
}

.danh-sach-tin .banner-hop-tac {
    background: url(images/banner-hop-tac.png);
}

.danh-sach-tin .banner-csv h3 {
    margin: 0;
    color: white;
    font-size: 18pt;
    font-weight: 600;
    text-transform: uppercase;
}

.danh-sach-tin .banner-csv {
    background: url(images/banner-csv.png);
}

.danh-sach-tin .ban-tin-hvnh .box-csv {
    margin-bottom: 10%;
}

.danh-sach-tin .ban-tin-hvnh .box-csv h5 {
    font-size: 10pt;
    text-align: justify;
    color: #3d4548;
    line-height: 16px;
}

.danh-sach-tin .ban-tin-hvnh .box-csv .box-view {
    margin-bottom: 5px;
}

.danh-sach-tin .ban-tin-hvnh .box-csv i span.fa {
    color: #1C9AD6;
}

.danh-sach-tin .ban-tin-hvnh .box-csv i {
    font-style: inherit;
    font-size: 10pt;
    color: #3d4548;
    text-align: justify;
}

.danh-sach-tin .ban-tin-hvnh .box-csv h3 {
    font-size: 12pt;
    text-align: justify;
    font-weight: 600;
    margin: 12px 0 3px 0;
    line-height: 20px;
    color: #3d4548;
}

.gioi-thieu .ban-tin-hvnh .gioi-thieu-nd {
    margin-bottom: 10%;
}

.gioi-thieu .banner-gioi-thieu {
    background: url(images/gioi-thieu-banner-trang.png);
}

.gioi-thieu .ban-tin-hvnh .gioi-thieu-nd h4 {
    color: #3d4548;
    margin: 3% 0 1% 0;
    line-height: 20px;
}

.danh-sach-tin .ban-tin-hvnh .tin-chi-tiet h3, .gioi-thieu .ban-tin-hvnh .gioi-thieu-nd h3 {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    margin: -1.5% 0 3.5% 0;
    line-height: 22px;
    color: #007398;
    text-transform: uppercase;
}

.danh-sach-tin .ban-tin-hvnh .row.box-ban-tin-hvnh-1 .box-view span.fa, .vien-body .vien-nen .vien-1 .vien-tin-tuc .row.box-ban-tin-hvnh-1 .box-view i span.fa {
    color: #1C9AD6;
}

.danh-sach-tin .ban-tin-hvnh .tin-chi-tiet .box-view span.fa, .gioi-thieu .ban-tin-hvnh .gioi-thieu-nd .box-view span.fa, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .tin-chi-tiet .box-view i span.fa {
    color: #1C9AD6;
}

.danh-sach-tin .ban-tin-hvnh .box-ban-tin-2 .box-ban-tin-2-a a span.fa.fa-stop, .gioi-thieu .ban-tin-hvnh .box-ban-tin-2 .box-ban-tin-2-a a span.fa.fa-stop {
    display: block;
    font-size: 3pt;
    line-height: 10px;
    margin-left: 25px;
    color: #3d4548;
}

.danh-sach-tin .ban-tin-hvnh .box-ban-tin-hvnh-2 a span.fa.fa-angle-right, .vien-tin-body .vien-tin-nen .vien-tin-1 .vien-1-a .vien-tin-tuc .box-ban-tin-hvnh-2 span.fa.fa-angle-right {
    display: block;
}

.danh-sach-tin .ban-tin-hvnh .box-tin-khac span.fa.fa-angle-right, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .box-tin-khac span.fa.fa-angle-right {
    display: block;
}

.danh-sach-tin .ban-tin-hvnh .tin-chi-tiet img, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .tin-chi-tiet img {
    padding: 0 8%;
}

.danh-sach-tin .ban-tin-hvnh .box-tin-khac, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .box-tin-khac {
    margin-top: 4.5%;
    margin-bottom: 5.5%;
}

.danh-sach-tin .ban-tin-hvnh .box-tin-khac h2, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .box-tin-khac h2 {
    font-size: 11pt;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0% 0 2.5% 0px;
    color: #007398;
}

.vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .box-tin-khac h2 {
    color: #093057;
}

.danh-sach-tin .ban-tin-hvnh .box-tin-khac h3, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .box-tin-khac h3 {
    line-height: 17.9px;
    font-size: 10pt;
    text-align: justify;
    color: #3d4548;
    margin: -15px 0px 11px 14px;
    font-weight: normal;
}

.danh-sach-tin .ban-tin-hvnh .tin-chi-tiet h5, .gioi-thieu .ban-tin-hvnh .gioi-thieu-nd h5, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .tin-chi-tiet h5 {
    font-size: 10pt;
    text-align: center;
    font-style: italic;
    line-height: 16px;
}

.vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .tin-chi-tiet h6 {
    float: right;
    font-size: 10pt;
    margin: 0;
}

.danh-sach-tin .ban-tin-hvnh .tin-chi-tiet p, .gioi-thieu .ban-tin-hvnh .gioi-thieu-nd p,.vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .tin-chi-tiet p {
    font-size: 10pt;
    margin: 2% 0 3% 0;
    text-align: justify;
}

.danh-sach-tin .ban-tin-hvnh .tin-chi-tiet .box-view i, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .tin-chi-tiet .box-view i {
    font-style: normal;
    font-size: 10pt;
    color: #aaa9a9;
}

.danh-sach-tin .ban-tin-hvnh .tin-chi-tiet h2, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .tin-chi-tiet h2 {
    font-size: 14pt;
    font-weight: 600;
    text-align: justify;
    margin: 1.5% 0 0.5% 0;
    line-height: 22px;
    color: #007398;
}

.vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .tin-chi-tiet h2 {
    color: #093057;
}

.gioi-thieu .ban-tin-hvnh .gioi-thieu-nd h2 {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    margin: -1.5% 0 3.5% 0;
    line-height: 22px;
    color: #007398;
    text-transform: uppercase;
}

.danh-sach-tin .ban-tin-hvnh .lien-ket ul li a  span.fa, .gioi-thieu .ban-tin-hvnh .lien-ket ul li a  span.fa, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .lien-ket
 ul li a span.fa {
    font-size: 14pt;
}

.danh-sach-tin .ban-tin-hvnh .lien-ket, .gioi-thieu .ban-tin-hvnh .lien-ket, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .lien-ket {
    font-size: 14pt;
    text-align: right;
}

.danh-sach-tin .ban-tin-hvnh .box-ban-tin-hvnh-2 {
    margin-bottom: 5%;
}

.danh-sach-tin .ban-tin-hvnh .box-ban-tin-hvnh-2 a h3, .vien-tin-body .vien-tin-nen .vien-tin-1 .vien-1-a .vien-tin-tuc .box-ban-tin-hvnh-2 h3 {
    line-height: 18px;
    font-size: 10pt;
    text-align: justify;
    color: #3d4548;
    margin: -15px 0px 16px 14px;
    font-weight: normal;
}

.danh-sach-tin .ban-tin-hvnh .box-ban-tin-2 .box-ban-tin-2-a .duong-line-1, .gioi-thieu .ban-tin-hvnh .box-ban-tin-2 .box-ban-tin-2-a .duong-line-1 {
    border-top: 1px solid #007398;
    margin-top: -0.2%;
    margin-bottom: 5.5%;
}

.danh-sach-tin .ban-tin-hvnh .box-ban-tin-2 .box-ban-tin-2-a a h5, .gioi-thieu .ban-tin-hvnh .box-ban-tin-2 .box-ban-tin-2-a a h5 {
    line-height: 16px;
    font-size: 10.5pt;
    text-align: justify;
    color: #3d4548;
    margin: -15px 0px 16px 40px;
}

.danh-sach-tin .ban-tin-hvnh .box-ban-tin-2 .box-ban-tin-2-a a i, .gioi-thieu .ban-tin-hvnh .box-ban-tin-2 .box-ban-tin-2-a a i {
    text-align: right;
    display: block;
    font-size: 10pt;
    color: #3d4548;
}

.danh-sach-tin .ban-tin-hvnh .box-ban-tin-2 .box-ban-tin-2-a, .gioi-thieu .ban-tin-hvnh .box-ban-tin-2 .box-ban-tin-2-a {
    margin-bottom: 7%;
}

.danh-sach-tin .ban-tin-hvnh .box-ban-tin-2 h2, .gioi-thieu .ban-tin-hvnh .box-ban-tin-2 h2 {
    font-size: 12pt;
    text-align: justify;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.danh-sach-tin .ban-tin-hvnh .box-ban-tin-2 h2:hover {text-decoration: none;}

.danh-sach-tin .ban-tin-hvnh .box-ban-tin-2, .gioi-thieu .ban-tin-hvnh .box-ban-tin-2 {
    background: #F2F1EB;
    border-radius: 5px;
    padding: 6% 5% 2% 5%;
    margin-top: 6%;
    margin-bottom: 6%;
}

.danh-sach-tin .ban-tin-hvnh .row.box-ban-tin-hvnh-1 {
    margin-bottom: 5.2%;
}

.danh-sach-tin .ban-tin-hvnh .row.box-ban-tin-hvnh-1 h5, .vien-body .vien-nen .vien-1 .vien-tin-tuc .row.box-ban-tin-hvnh-1 h5 {
    font-size: 10pt;
    margin: 1.5% 0 0 0;
    text-align: justify;
    color: #3d4548;
    line-height: 16px;
}

.danh-sach-tin .ban-tin-hvnh .row.box-ban-tin-hvnh-1 .box-view i, .vien-body .vien-nen .vien-1 .vien-tin-tuc .row.box-ban-tin-hvnh-1 .box-view i {
    font-style: inherit;
    font-size: 10pt;
    color: #3d4548;
    text-align: justify;
}

.danh-sach-tin .ban-tin-hvnh .row.box-ban-tin-hvnh-1 a h3, .vien-body .vien-nen .vien-1 .vien-tin-tuc .row.box-ban-tin-hvnh-1 h3, .vien-body .vien-nen .vien-1 .row.vien-1-b .row.box-ban-tin-hvnh-1 h3, .vien-body.khoa-body .vien-nen.khoa-nen .vien-1.khoa-1 .row.vien-1-b.khoa-1-b .row.box-ban-tin-hvnh-1 h3, .vien-body.khoa-body .vien-nen.khoa-nen .vien-1.khoa-1 .row.vien-1-a.khoa-1-a .row.box-ban-tin-hvnh-1 h3, .phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .row.box-ban-tin-hvnh-1 a h3 {
    margin: 0px 0px 0.5% 0%;
    font-size: 12pt;
    font-weight: 600;
    line-height: 18px;
    text-align: justify;
}

.phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-c .phan-vien-tin-tuc .row.box-ban-tin-hvnh-1 a h3 {
    font-weight: normal;
}

.vien-body .vien-nen .vien-1 .vien-tin-tuc .row.box-ban-tin-hvnh-1 h3, .vien-body .vien-nen .vien-1 .row.vien-1-b .row.box-ban-tin-hvnh-1 h3, .vien-body.khoa-body .vien-nen.khoa-nen .vien-1.khoa-1 .row.vien-1-b.khoa-1-b .row.box-ban-tin-hvnh-1 h3, .vien-body.khoa-body .vien-nen.khoa-nen .vien-1.khoa-1 .row.vien-1-a.khoa-1-a .row.box-ban-tin-hvnh-1 h3, .phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .row.box-ban-tin-hvnh-1 a h3 {
    font-size: 10pt;
    color: #3d4548;
}

.danh-sach-tin .ban-tin-hvnh .ban-tin-menu a, .gioi-thieu .ban-tin-hvnh .ban-tin-menu a {color: #3d4548;}

.danh-sach-tin .ban-tin-hvnh .ban-tin-menu, .gioi-thieu .ban-tin-hvnh .ban-tin-menu {
    margin-bottom: 2%;
    margin-top: 0.3%;
}

.danh-sach-tin .ban-tin-hvnh .duong-line, .gioi-thieu .ban-tin-hvnh .duong-line {
    border-top: 2px solid #fac900;
    width: 80px;
}

.danh-sach-tin .ban-tin-hvnh h4, .gioi-thieu .ban-tin-hvnh h4 {
    margin: 0 0 0.4% 0;
    font-size: 11pt;
    text-transform: uppercase;
    text-align: justify;
    font-weight: 600;
    color: #007398;
}

.danh-sach-tin .banner-ban-tin, .gioi-thieu .banner-gioi-thieu, .danh-sach-tin .banner-csv, .danh-sach-tin .banner-hop-tac, .danh-sach-tin .banner-tim-kiem {
    background-position: bottom;
    margin: 0;
    padding: 5.9% 0;
    margin-bottom: 2.2%;
}

.danh-sach-tin .banner-ban-tin {
    background: url(images/banner-ban-tin.png);
    background-position: bottom;
}

.danh-sach-tin .banner-ban-tin h3, .gioi-thieu .banner-gioi-thieu h3, .danh-sach-tin .banner-tim-kiem h3 {
    margin: 0;
    color: white;
    font-size: 18pt;
    font-weight: 600;
    text-transform: uppercase;
}

.danh-sach-tin .ban-tin-hvnh ul li, .gioi-thieu .ban-tin-hvnh ul li, .vien-tin-body .vien-tin-nen .vien-tin-1 .vien-1-a .vien-tin-tuc ul.pagination li, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .lien-ket ul li {
    display: inline-table;
    font-size: 11pt;
}

.danh-sach-tin .ban-tin-hvnh ul, .gioi-thieu .ban-tin-hvnh ul, .vien-tin-body .vien-tin-nen .vien-tin-1-a .vien-tin-tuc .vien-tin-tuc-chi-tiet .lien-ket ul {
    list-style-type: none;
    margin: 0;
}

.danh-sach-tin .ban-tin-hvnh ul.pagination {
    float: right;
    margin-bottom: 10%;
}

.danh-sach-tin .ban-tin-hvnh ul.pagination li
 a, .vien-tin-body .vien-tin-nen .vien-tin-1 .vien-1-a .vien-tin-tuc ul.pagination li
 a {
    border: none;
    background: #E1E1E1;
    border-radius: 0px;
    padding: 2.5px 8.5px 4px 8.5px;
}

.vien-tin-body .vien-tin-nen .vien-tin-1 .vien-1-a .vien-tin-tuc ul.pagination li
 a:hover {
    background: #093057;
    color: white;
}

.danh-sach-tin .ban-tin-hvnh ul.pagination li
 a:hover {
    background: #007398;
    color: white;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

body {
    font-family: UTMHelve;
}

@font-face {
    font-family:UTMHelve;
    src:url('fonts/UTMHelve.TTF') format('truetype'),
    url('fonts/UTMHelve.TTF/UTMHelve.eot#iefix') format('embedded-opentype'),
    url('fonts/UTMHelve.TTF/UTMHelve.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:UTMHelve_Italic;
    src:url('fonts/UTMHelve_Italic.TTF') format('truetype'),
    url('fonts/UTMHelve_Italic.TTF/UTMHelve_Italic.eot#iefix') format('embedded-opentype'),
    url('fonts/UTMHelve_Italic.TTF/UTMHelve_Italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:UTMHelveBold;
    src:url('fonts/UTMHelveBold.TTF') format('truetype'),
    url('fonts/UTMHelveBold.TTF/UTMHelveBold.eot#iefix') format('embedded-opentype'),
    url('fonts/UTMHelveBold.TTF/UTMHelveBold.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:UTMHelveBold_Italic;
    src:url('fonts/UTMHelveBold_Italic.TTF') format('truetype'),
    url('fonts/UTMHelveBold_Italic.TTF/UTMHelveBold_Italic.eot#iefix') format('embedded-opentype'),
    url('fonts/UTMHelveBold_Italic.TTF/UTMHelveBold_Italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

.home-menu {background: #007398;position: relative;}

.home-bottom p {
    color: #f7ffff;
}

.home-bottom.vien-bottom.trung-tam-bottom p {
    color: #3d4548;
}

.home-bottom.vien-bottom.trung-tam-bottom.khoa-bottom p {
    color: white;
}

.home-bottom h2 {
    font-size: 16pt;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fefefe;
}

.home-bottom.vien-bottom.trung-tam-bottom h2 {
    color: #005779;
}

.home-bottom.vien-bottom.trung-tam-bottom.trung-tam-2-bottom h2 {
    color: #093f6c;
    margin: 5px 0 5px 0;
}

.home-bottom.vien-bottom.trung-tam-bottom.khoa-bottom h2 {
    color: white;
}

.home-khoa .row.mang-xa-hoi {
    margin-top: 55px;
}

.home-banner-slide .carousel.slide .carousel-inner a.btn.btn-lg.btn-primary span.fa.fa-caret-right {
    font-size: 18pt;
    color: #FFC002;
}

.home-banner-slide .carousel.slide .carousel-inner a.btn.btn-lg.btn-primary {
    background: white;
    color: #007398;
    border: 0;
    border-radius: 0;
    font-style: italic;
    font-weight: 600;
    margin: 0 0 8% 9%;
    font-size: 16pt;
    padding: 0.8% 1.7%;
}

.home-banner-slide .carousel.slide .carousel-inner h1 {
    margin: 0 0 3% 19%;
    font-size: 28pt;
    text-transform: uppercase;
    font-weight: 600;
}

.home-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li a {
    color: white;
    padding: 6px 20px;
    font-size: 10pt;
    text-transform: inherit;
}

.home-menu.trung-tam-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li a {
    color: #007398;
}

.home-menu.trung-tam-menu.trung-tam-2-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li a {
    color: #1266af;
}

.home-menu.trung-tam-menu.khoa-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li a {
    color: white;
}

.home-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li a:hover {background: #035671;}

.home-menu.vien-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li a:hover {
    background: white;
    color: #093057;
    font-weight: bold;
}

.khoa-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li a:hover {
    background: #093057;
}

.home-menu.trung-tam-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li a:hover {
    color: white;
    background: #007398;
}

.home-menu.trung-tam-menu.trung-tam-2-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li a:hover {
    background: #1266af;
}

.nav a:hover 
{
	background-color:#1274af!important;
}

.home-menu.khoa-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li a:hover {
    background: rgba(9, 48, 87, 0.68);
}

.home-menu .navbar .collapse .nav .dropdown ul.dropdown-menu {
    background: #007398;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.63);
    border-top: 1px solid red;
    border-radius: 0px;
    border: 1px solid;
    border-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.45)  0%, rgba(0, 0, 0, 0.12)  80%) 100% 0 100% 0/6px 0 0px 0;
}

.home-menu.trung-tam-2-menu .navbar .collapse .nav .dropdown ul.dropdown-menu {
    border: none;
}

.home-menu.vien-menu .navbar .collapse .nav .dropdown ul.dropdown-menu {
    background: #093057;
}

.home-menu.vien-menu.trung-tam-menu .navbar .collapse .nav .dropdown ul.dropdown-menu {
    background: #E5E3E3;
}

.home-menu.vien-menu.trung-tam-menu.khoa-menu .navbar .collapse .nav .dropdown ul.dropdown-menu {
    background: #1266AF;
}

.home-menu form.navbar-form.navbar-right .form-group input.form-control {
    min-height: 25px;
    height: 26px;
    border-radius: 0px;
    box-shadow: none;
}

.home-menu form.navbar-form.navbar-right {
    margin: 0;
    margin-top: 3px;
    padding: 0;
    border: none;
    box-shadow: none;
}

.home-menu nav.navbar.navbar-default {
    border: 0px;
    border-radius: 0px;
    margin: 0;
    min-height: 30px;
    background: none;
    box-shadow: 0px 5px 5px #004E68;
    z-index: 10;
}

.home-menu.vien-menu nav.navbar.navbar-default {
    border-bottom: 4px solid #0c75dd;
    box-shadow: none;
}

.home-menu.vien-menu.trung-tam-menu nav.navbar.navbar-default {
    border-bottom: 4px solid #007398;
    box-shadow: none;
}

.home-menu.vien-menu.trung-tam-menu.khoa-menu nav.navbar.navbar-default {
    border-bottom: 1px solid #6dcff6;
    box-shadow: none;
    border-top: 1px solid #6dcff6;
}

.home-menu .navbar .collapse .nav a.dropdown-toggle {
    padding: 7.5px 22px;
    font-size: 11pt;
    text-transform: uppercase;
    color: white;
}

.home-menu.vien-menu.trung-tam-menu .navbar .collapse .nav a.dropdown-toggle {
    color: #007398;
    font-weight: bold;

}

.home-menu.vien-menu.trung-tam-menu.trung-tam-2-menu.khoa-2-menu nav.navbar .navbar-collapse>ul.nav>li.dropdown>a.dropdown-toggle {
    color: white;
    font-size:12px;
    
}

.home-menu.vien-menu.trung-tam-menu.khoa-menu .navbar .collapse .nav a.dropdown-toggle {
    color: white;
}

.home-menu.vien-menu.trung-tam-menu .navbar .collapse .nav>.dropdown.open>a.dropdown-toggle {
    color: #FFED00;
}

.home-menu .navbar .collapse .nav a.dropdown-toggle:hover {
    color: #FFED00;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: #056382;
}

.home-top .lienhe a h3 .fa {
    color: #F7C901;
}

.home-top {background: linear-gradient(to bottom, #FFFFFF, rgba(146, 200, 218, 0.68));padding: 15px 0;background-position: bottom;}

.home-khoa .form-group {
    margin: 0;
}

.home-khoa span.fa.fa-send {position: absolute;z-index: 11;right: 27px;top: 12px;}

.home-khoa input#email {
    width: 50%;
    float: right;
    z-index: 6;
}

.home-bottom {
    background: #005779;
    color: white;
    padding-bottom: 1%;
}

.home-khoa h5 {
    color: white;
    font-size: 10pt;
    margin: 0 0 3px 0;
}

.home-khoa h4 {
    color: #fecb02;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10pt;
}

.home-khoa {
    background: url(images/banner-khoa.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 3.7% 0 3.9% 0;
}

.row.home-khoa {
    margin-bottom: 20px;
    padding: 0;
    background: none;
}

.home-nd4 {
    padding: 3.8% 0;
}

.home-nd3 button.btn.btn-primary {display: block;margin: auto;margin-top: 5.4%;margin-bottom: 9%;padding: 1.4% 5.4%;border: none;border-radius: 0px;background: #007398;font-size: 12pt;font-weight: 600;}

.home-nd3 button.btn.btn-primary:hover {
    color: #007398;
    background: #ffed00;
}

.banner-quang-cao {
    margin: 2% 0 3.6% 0;
}

.home-nd1 h2 {
    font-size: 18pt;
    text-transform: uppercase;
    font-weight: 600;
    color: #007398;
    margin: 2.8% 1.4% 2.4% 1.4%;
}

.home-nd3 .box-nd3a {
    padding: 20px 0px 0 5px;
}

.home-nd3 .box-nd3b {
    margin: 20px 0 0 0;
}

.home-nd3 h2 {
    font-size: 18pt;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5.4% 0;
    color: #007398;
}

.home-banner-phan-cach .box-thong-ke h5 {
    font-size: 13pt;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    line-height: 24px;
    margin-left: -10%;
}

.home-banner-phan-cach .box-thong-ke h3 {
    font-size: 45pt;
    margin: -11% 0 0 0;
    padding-bottom: 22%;
    border-bottom: 2px solid #FAC900;
    float: right;
}

.home-banner-phan-cach .box-thong-ke {
    color: white;
}

.home-banner-phan-cach {
    background: url(images/banner-ngan-cach.png);
    background-position: bottom;
    padding: 4.5% 0 5.4% 0;
}

.home-nd4 .box-nd4 h5 {
    text-align: center;
    font-size: 11pt;
    line-height: 20px;
    margin: 0;
    color: #3d4548;
}

.home-nd4 .box-nd4 h2 {
    text-align: center;
    font-size: 17pt;
    font-weight: 600;
    text-transform: uppercase;
}

.home-nd4 .box-nd4 img {display: block;margin: auto;}

.home-nd3 .box-nd3c h3 {
    margin: -16px 40px 0 40px;
    font-size: 12pt;
    text-align: justify;
    color: #3d4548;
    =: 18px
}

.home-nd3 .box-nd3c span.fa.fa-angle-right {
    display: block;
    margin: 7px 25px 0 25px;
}

.home-nd3 .box-nd3c h2 {
    margin: 23px 20px 10px 23px;
    font-size: 12pt;
    font-weight: 600;
    text-transform: none;
}

.box-nd3c {
    background: white;
    padding-bottom: 4.5%;
}

.home-nd3 .box-nd3b span.fa.fa-angle-right {display: block;margin: 4px 0px 0 0px;}

.home-nd3 .box-nd3b h3 {
    font-size: 11pt;
    text-align: justify;
    color: #3d4548;
    margin: -15px 0px 11px 14px;
}

.home-nd3 {
    background: #F5F5F5;
}

.home-nd3 .row.thong-tin-tuyen-sinh {
    background: white;
    padding-bottom: 5%;
    margin: 0;
}

.home-nd3 .box-nd3a h5 {
    padding: 0;
    font-size: 11pt;
    text-align: justify;
    font-weight: 600;
    line-height: 18px;
    color: #3d4548;
}

.home-nd2 .box-nd2 h5 {
    margin: 7px 12px 0 12px;
    font-size: 10pt;
    text-align: justify;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.home-nd2 .box-nd2 h2 {
    margin: 15px 12px 0px 12px;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.home-nd2 .box-nd2 {
    background: white;
    padding-bottom: 23px;
    margin-bottom: 25px;
}

.home-nd2 {
    background: url(images/banner-nen.png);
    background-position: bottom;
    padding: 4.4% 0 2.6% 0;
}

.home-nd1 .tin-khac a span.fa.fa-angle-right, .vien-body.trung-tam-body .vien-nen.trung-tam-nen .vien-1.trung-tam-1 .vien-tin-tuc.trung-tam-tin-tuc .tin-khac span.fa.fa-angle-right, .phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-c .phan-vien-tin-tuc .tin-khac a i.fa.fa-caret-right {display: block;}

.phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-c .phan-vien-tin-tuc .tin-khac a i.fa.fa-caret-right {
    color: #808080;
}

.home-nd1 .tin-khac a h3, .vien-body.trung-tam-body .vien-nen.trung-tam-nen .vien-1.trung-tam-1 .vien-tin-tuc.trung-tam-tin-tuc .tin-khac a h3, .phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-c .phan-vien-tin-tuc .tin-khac a h3 {
    font-size: 11pt;
    text-align: justify;
    color: #3d4548;
    margin: -15px 0px 12px 14px;
    font-weight: 500;
}

.phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-c .phan-vien-tin-tuc .tin-khac a h3 {
    font-weight: bold;
    margin-bottom: 10%;
}

.home-nd1 .tin-khac h2 {
    margin: 0;
    margin-bottom: 4.5%;
    text-align: center;
    font-size: 13pt;
    font-weight: 600;
    background: #007398;
    color: white;
    padding: 5px 0;
    text-transform: uppercase;
}

.home-nd1 .ban-tin-1 h5, .vien-body .vien-nen .vien-1 .vien-tin-tuc .ban-tin-1 h5 {
    font-size: 10pt;
    text-align: justify;
    line-height: 18px;
    margin: 7px 0 0 0;
}

.home-nd1 .ban-tin-1 h3, .vien-body .vien-nen .vien-1 .vien-tin-tuc .ban-tin-1 h3 {
    font-size: 12pt;
    text-align: justify;
    font-weight: bold;
    margin: 9px 0 4px 0;
    line-height: 20px;
    color: #3d4548;
}

.home-nd1 .ban-tin-1 h3, .vien-body .vien-nen .vien-1 .vien-tin-tuc.trung-tam-tin-tuc.khoa-2-tin-tuc .ban-tin-1 h3 {
    margin: 0 0 4px 0;
}

.vien-tin-body .vien-nen .vien-1 .vien-tin-tuc .ban-tin-1 h3 {
    color: #093057;
}

.home-top .lienhe img {
    width: 22px;
    margin: 0;
}

.home-top .lienhe a h3 {
    font-size: 12pt;
    margin: 0;
    color: black;
}

.home-top .lienhe a {
    margin: 15px 10px 0px 0px;
    display: inline-block;
    float: right;
}

.home-top .huy-chuong {
    text-align: center;
    margin: 15px 0 0 0;
}

.home-top h2 {
    font-size: 20pt;
    margin: 4px 0 0 110px;
    color: #ee6e00;
}

.home-top h1 {
    font-size: 20pt;
    margin: 15px 0 0 110px;
    text-transform: uppercase;
    font-weight: bold;
    color: #007398;
}

.home-top a {
    text-decoration: none;
}

.home-top .logo img {
    width: 21%;
    float: left;
}

.home-top.vien-top .logo img {
    width: 12.5%;
}

@media only screen and (max-width: 1200px) {
*{}

.home-nd1 .tin-khac h2 {
    margin-bottom: 1.8%;
}

.home-nd1 .tin-khac {
    margin-top: 3%;
}

.home-banner-phan-cach .box-thong-ke h5 {
    font-size: 10pt;
    line-height: 17px;
}

.home-banner-phan-cach .box-thong-ke h3 {
    font-size: 30pt;
}

.home-menu .navbar .collapse .nav a.dropdown-toggle {
    padding: 7.5px 7.5px;
}

.home-top .lienhe a h3 {
    font-size: 11pt;
}

.home-top h2 {
    font-size: 16pt;
    margin: 8px 0 0 90px;
}

.home-top h1 {
    font-size: 17pt;
    margin: 10px 0 0 90px;
}

}

@media only screen and (max-width: 992px) {
*{}

.vien-1 .vien-1-a .col-xs-12.col-sm-12.col-md-4.col-lg-4 {
    margin-top: 4.5%;
}

.vien-1 .vien-1-a.trung-tam-2-1-a .col-xs-12.col-sm-12.col-md-4.col-lg-4 {
    margin-top: 0;
}

.vien-video iframe {
    height: 400px;
}

.vien-1 .row.vien-1-b .col-xs-12.col-sm-12.col-md-4.col-lg-4 {
    margin-top: 6%;
    margin-bottom: 5%;
}

.vien-1 .box-ung-dung img {
    margin: -5.8% 0 0px 90%;
}

.vien-1 .box-ung-dung h4 {
    margin: 2.2% 0 0 8%;
    padding-right: 21%;
}

.home-khoa .row.home-khoa .home-khoa-nd6 {
    width: 100%;
}

.home-khoa .row.home-khoa .home-khoa-nd5 {
    width: 100%;
}

.home-nd3 {
    padding-bottom: 3.8%;
}

.home-nd3 button.btn.btn-primary {
    margin-bottom: 0;
}

.home-nd1 h2 {
    margin-bottom: 0%;
}

.home-nd1 .ban-tin-1 {
    margin-top: 6%;
}

.home-menu form.navbar-form.navbar-right .form-group input.form-control {
    width: 100%;
}

.home-menu .navbar .collapse .nav a.dropdown-toggle {
    padding: 7.5px 16px;
}

.home-banner-phan-cach .box-thong-ke h5 {
    font-size: 16pt;
    line-height: 24px;
    padding: 5% 0;
}

.home-banner-phan-cach .box-thong-ke h3 {
    font-size: 35pt;
    margin: -6% 0 0 0;
    padding: 6% 0;
}

.home-top .lienhe a {
    margin: 6px 0px 0 10px;
}

.home-top .lienhe a h3 {margin: 0px 0 0 0;}

.home-top .huy-chuong {
    margin-top: 5px;
}

.home-top .logo img {
    width: 22%;
}

.home-top h2 {
    font-size: 12pt;
    margin: 7px 0 0 70px;
}

.home-top.vien-top h2 {
    font-size: 12pt;
}

.home-top h1 {
    font-size: 12pt;
    margin: 8px 0 0px 70px;
}

.home-top.vien-top h1 {
    font-size: 16pt;
}

}

@media only screen and (max-width: 767px) {
*{
}

.trung-tam-2-menu .navbar-header {
    border: 1px solid white;
}

ol.breadcrumb {
    margin: -4px 0 12px 0;
}

.tieu-de-trung-tam .line {
    margin: -5% 0 6% 0;
}

.tieu-de-trung-tam h3 {
    margin: 6% 0 3% 0;
}

.row.vien-1-c .row.doi-tac img {
    margin: 3% 0 2% 0;
}

.vien-body .vien-nen .vien-banner .banner-phu img {
    margin: 7% 0 0 0;
}

.tieu-de-vien h3, .tieu-de-khoa h3, tieu-de-trung-tam h3 {
    margin: 5.5% 0 26px 0;
}

.vien-body .vien-nen .vien-1 .vien-tin-tuc .row.box-ban-tin-hvnh-1 h3, .vien-body .vien-nen .vien-1 .row.vien-1-b .row.box-ban-tin-hvnh-1 h3, .vien-body.khoa-body .vien-nen.khoa-nen .vien-1.khoa-1 .row.vien-1-a.khoa-1-a .row.box-ban-tin-hvnh-1 h3, .vien-body.khoa-body .vien-nen.khoa-nen .vien-1.khoa-1 .row.vien-1-b.khoa-1-b .row.box-ban-tin-hvnh-1 h3, .phan-vien-body .phan-vien-nen .phan-vien-1 .phan-vien-1-a .row.box-ban-tin-hvnh-1 a h3 {
    margin: 1.5% 0px 0.5% 0%;
}

.vien-body .vien-nen .vien-1 .vien-tin-tuc h3 {
    margin: 4.5% 0 3.5% 0;
}

.vien-body .vien-nen .vien-1 .vien-tin-tuc .row.box-ban-tin-hvnh-1 img, .vien-body .vien-nen .vien-1 .row.vien-1-b .row.box-ban-tin-hvnh-1 img {
    width: 100%;
}

.danh-sach-tin .ban-tin-hvnh input[type="text"] {
    width: 70%;
}

.dang-nhap .box-dang-nhap button.btn.btn-primary {
    padding: 6px 0;
}

.dang-nhap .box-dang-nhap input {
    height: 40px;
}

.dang-nhap .icon {
    padding: 0 38%;
    margin-bottom: -10%;
}

.dang-nhap .box-dang-nhap {
    width: 100%;
    padding: 16% 6.4% 6.4% 6.4%;
}

.danh-sach-tin .ban-tin-hvnh .row.box-ban-tin-hvnh-1 .tin-chinh {
    margin-bottom: 1.5%;
}

.danh-sach-tin .ban-tin-hvnh .ban-tin-menu {
    margin-bottom: 5%;
}

.danh-sach-tin .ban-tin-hvnh .row.box-ban-tin-hvnh-1 {margin-bottom: 7%;}

.home-bottom h2 {
    font-size: 16pt;
}

.home-khoa .mang-xa-hoi form {
    display: none;
}

.banner-quang-cao .lich-cong-tac img {
    display: none;
}

.banner-quang-cao .banner-qc img {
    display: none;
}

.home-nd1 .ban-tin-1 {
    margin-top: 5%;
}

.home-nd3 h2 {
    font-size: 15pt;
}

.home-menu .navbar-collapse.navbar-ex1-collapse.collapse {
    float: none;
    margin-top: 0;
    border-top: none;
    box-shadow: none;
}

.home-menu .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: 1px solid #084558;
}

.home-menu .navbar button.navbar-toggle {
    float: left;
    margin: 0.1% 0px 0 7%;
    padding: 4px 5.5px;
}

.home-menu.vien-menu .navbar button.navbar-toggle {
    margin: 3px 0 4px 4.5%;
}

.home-menu.vien-menu.trung-tam-menu .navbar button.navbar-toggle {
    background: #007398;
}

.home-top .lienhe a h3 {
    display: none;
}

.home-top .logo img {
    width: 19%;
}

.home-top.vien-top .logo img {
    width: 10.5%;
}

.home-top h2 {
    font-size: 17pt;
    margin: 1% 0 0 21%;
}

.home-top.vien-top h2 {
    margin: 1.2% 0 0 13%;
}

.home-top h1 {
    font-size: 17pt;
    margin: 2% 0 0 21%;
}

.home-top.vien-top h1 {
    margin: 1.6% 0 0 13%;
}

.home-top .huy-chuong {
    display: none;
}

.home-banner-phan-cach .box-thong-ke h5 {font-size: 11pt;margin: 0;line-height: 16px;}

.home-banner-phan-cach .box-thong-ke h3 {font-size: 25pt;/* margin: 0; */}
.home-menu .navbar .navbar-toggle span.icon-bar {
    background: white;
}

.home-menu .navbar .navbar-toggle span.icon-bar:hover {
    background: #FFED00;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: #FFED00;
    background: #016282;
}

}

@media only screen and (max-width: 480px) {
*{}

.home-menu .navbar .collapse .nav .dropdown ul.dropdown-menu li ul.dropdown-menu {
    margin: 0;
}

.home-menu .navbar-collapse.navbar-ex1-collapse.collapse {
    width: 100%;
}

.vien-1 .box-ung-dung h4 {
    margin: 4.2% 0 0 9%;
    padding-right: 21%;
}

.vien-1 .box-ung-dung img {
    margin: -8.6% 0 0px 88%;
}

.dang-ky .thong-tin-tai-khoan i {
    display: block;
}

.gioi-thieu .ban-tin-hvnh .gioi-thieu-nd h2 {
    margin: 2% 0 3.5% 0;
}

.home-nd1 .ban-tin-1 h3 {
    margin-top: 5px;
}

.home-nd1 .ban-tin-1 h5 {
    margin-top: 5px;
}

.home-top .lienhe a {
    margin: 2px 0px 0 2px;
}

.home-top .lienhe img {
    width: 18px;
    margin: 0;
}

.home-nd3 .box-nd3c h3 {
    font-size: 9.9pt;
    margin: -15px 23px 0px 38px;
}

.home-nd3 .box-nd3c h2 {
    font-size: 9.9pt;
}

.home-nd1 .tin-khac {
    margin-top: 30px;
}

.banner-quang-cao .banner-qc {
    display: none;
}

.home-nd1 h2 {
    font-size: 13pt;
    margin: 30px 0 0 15px;
}

.home-top .logo img {
    width: 18%;
}

.home-top.vien-top .logo img {
    width: 15%;
}

.home-menu form.navbar-form.navbar-right {
}

.home-menu .navbar button.navbar-toggle {
    margin: 9% 0px 0 6.3%;
}

.home-menu.vien-menu .navbar button.navbar-toggle {
    /* margin: 1px 0px 0 5%; */
}

.home-menu .navbar .navbar-header {
    min-height: 25px;
    height: 30px;
}

.home-top .lienhe h3 {
    display: none;
}

.home-top h2 {
    font-size: 11pt;
    margin: 0.2% 0px 0 21%;
}

.home-top.vien-top h2 {
    margin: 1.6% 0 0 20%;
    font-size: 9pt;
}

.home-top h1 {
    margin: 2% 0px 0 21%;
    font-size: 11pt;
}

.home-top.vien-top h1 {
    margin: 1.6% 0 0 20%;
    font-size: 12.5pt;
}

.home-top.vien-top.trung-tam-2-top h1 {
    font-size: 10.5pt;
}

.home-top .huy-chuong {
    display: none;
}

}

@media only screen and (max-width: 360px) {
*{}

.home-top .lienhe img {
    width: 16px;
}

.home-top .logo img {
    width: 20%;
}

.home-top h2 {
    font-size: 10pt;
    margin: 1% 0 0 22.5%;
}

.home-top h1 {
    font-size: 10pt;
    margin: 2% 0 0 22.5%;
}

.vien-tin-tuc p{
text-align:justify !important;  
}

.Normal{
    text-align:justify !important;  

}


.swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
.li
{
    padding:3px !important;
}