* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.red-box {
	float: left;
	height: 400px;
	width: 60%;
	background-color: red;
	
}

.green-box {
	float: left;
	width: 40%;
	height: 200px;
	background-color: green;
	
}

.blue-box {
	float: left;
	width: 40%;
	height: 200px;
	background-color: blue;
} 
