* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


.red-box {
	float: left;
    height: 400px;
    width: 60%;
    background-color: red;
    border-right: 15px solid white;
    /* margin-right: dung cho menu; */
}

.green-box {
	float: left;
	height: 200px;
	width: 40%;
	background-color: green;
}

.blue-box {
	float: left;
	height: 200px;
	width: 40%;
	background-color: blue;
	
} 
