/* top-part section */
.top-part {
    margin-top: 60px;
}
.list-group a:hover {
    text-decoration: none;
    color: #2f2fdf;
}
.list-group a:active {
  color: #7575e7;
}
/* carousel section */
.carousel-caption {
    font-size: 36px;
    text-align: center;
    color: #575151;
    margin-bottom: 86px;
}

.carousel-fade .carousel-control {
	z-index: 2;
}
.carousel-fade .item {
	opacity: 0;
	transition-property: opacity; 
}
.carousel-fade .left, .carousel-fade .right, .carousel-fade .item.active {
	opacity: 1;
}
.carousel-fade .active.left, .carousel-fade .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
} 
/* remove BS background */
.carousel .control-box {
	opacity: 0;
}
a.carousel-control.left {
	left: 0
	background: none;
	border: 0;
}
a.carousel-control.right {
	right: 0
	background: none;
	border: 0;
}
/* animation */
.control-box, a.carousel-control, .carousel-indicators li {
	transition: all 250ms ease;
} 
/* hover effect */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left {
	left: 15px;
}
.carousel:hover a.carousel-control.right {
	right: 15px;
}
/* carousel indicators */
.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
  }
  /* bestseller */
.title {
    border-bottom: 3px solid #939090;
    padding-bottom: 5px;
    border-bottom-left-radius: 1em;
}
.top-product, .latest-product {
    color: white;
    background-color: #939090;
    padding: 10px 15px 10px 15px;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 1em;
}
.product_bestseller_grid, .product_latest_grid {
    margin-top: 20px;
}
 /*  breadcrumb n backlink */ 
#back:active, .breadcrumb a:active {
    color: #94ccf2; 
}
.breadcrumb a:hover {
	text-decoration: none;
}

#back:hover {
    color: #3282b8;
    text-decoration: none;
}
/* thumbnail */
.thumbnail {
	transition: all 0.4s ease;
}
.thumbnail:hover {
    transform: translate(0, -5px);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
}
/* product_name */
.product_name, .price {
    cursor: default;
}

@media only screen and (max-width: 400px) {
  .carousel-caption {
    font-size: 1em;
    margin-bottom: 1em;
  }
}
