/* top part */
.top-part {
    padding-top: 40px;
    margin-top: 25px;
}
.navbar-form {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 10px;
  }
 
.search-title {
    margin-left: 10px;
}

.search-box {
    border: 1px solid #d7cfcf;
    margin-right: -20px;
}

.form-group .form-control {
    margin-right: 1em;
}
/* categories part */
.categories .categories-title {
    margin-left: 10px;
}

.categories {
    border: 1px solid #d7cfcf;
    margin-right: -20px;
    margin-top: 10px;
}
.categories-menu li a {
    text-decoration: none;
    margin-left: 10px;
    padding-top: 10px;
    line-height: 30px;
}
.categories-menu {
  font-size: 15px;
}
.categories-menu, .submenu {
    list-style-type: none;
}
.submenu {
  margin-left: 10px;
}
.categories-menu a {
  border-bottom: 3px solid transparent;
  transition: .5s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
}
.categories-menu a:hover {
  border-bottom: 3px solid orange;
}

.categories-menu a.active {
  border-bottom: 3px solid orange;
}
.break {
    margin-top: 0;
    border-width: 2px;
}
/* pre-order, other section */
.title {
	border-bottom: 3px solid #939090;
    padding-bottom: 5px;
    border-bottom-left-radius: 1em;
}
.preOrder_product, .other_product {
	color: white;
    background-color: #939090;
    padding: 10px 15px 10px 15px;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 1em;
}
.preOrder_grid, .other_product_grid {
    margin-top: 20px;
}
/* end pre-order, other section */
.thumb-custom {
	max-width: 600px;
	height: 260px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
/* back link */
#back:hover {
    color: #3282b8;
    text-decoration: none;
}

#back:active, .breadcrumb a:active {
    color: #94ccf2; 
}
/* breadcrumb */
ol.breadcrumb {
	margin-top: -6px;
}
.breadcrumb a:hover {
	text-decoration: none;
}
.breadcrumb-others {
    background-color: white;
}
/* thumbnail */
.thumbnail {
    transition: all 0.4s ease;
}
.thumbnail:hover {
    transform: translate(0, -5px);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
}
/* product_name */
.product_name {
    cursor: default;
}