*{margin:0;padding:0; }

/* nav bar menu */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e0e0d1;
}
.navbar-default .navbar-nav > li > a {
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 1px;
}
.navbar-brand {
    cursor: default;
}
.navbar-default {
    border: none;
} 
nav.navbar.navbar-default {
    height: 10px;
    margin-bottom: 0;
} 
.navbar-default .navbar-collapse, .navbar-default .navbar-form, 
.navbar-collapse.navbar-ex1-collapse.collapse.in {
    background: #f8f8f8;
}

/* end navbar menu */
/* thumbnail */
.image-card {
	position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: default;
}

.image-card .img-back {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .5s ease-in-out;
}

.image-card:hover .img-back {
    display: inline;
    opacity: 0;
}
.caption:hover a {
	text-decoration: none;
}
.product_name:hover a {
	color: #809fff;
}
.caption > h4 > a {
    font-size: 20px;
    font-weight: 100;
    color: black;
}
/* top part */
.top-part {
    padding-top: 40px;
    margin-top: 20px;
}
.title-left {
	font-family: 'Roboto Condensed', sans-serif;
}
/* title bestseller */
.title {
    border-top: 3px solid #939090;
    padding-top: 7px;
}
.top-product, .latest-product {
    color: white;
    background-color: #939090;
    padding: 10px 15px 10px 15px;
}
.product_bestseller_grid, .product_latest_grid {
    margin-top: 20px;
}

/* back link */
#back:hover {
    color: #3282b8;
    text-decoration: none;
}

#back:active, .breadcrumb a:active {
    color: #94ccf2; 
}
/* breadcrumb */
.breadcrumb a:hover {
	text-decoration: none;
}