* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    height: 612px;
    background: url(images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-menu {
    margin-right: 47px;
}
.main-menu .navbar-brand {
    width: 135px;
    height: 28px;
    height: 28px;
    left: 0.08%;
    right: 89.76%;
    top: calc(50% - 28px/2 - 6px);
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.064727px;
    color: white;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.0212013);
}
.navbar-nav .nav-item > .nav-link {
    color: white;
}
.navbar-nav .nav-item > .nav-link:hover {
    color: rgb(211, 206, 206);
}
.main-menu .navbar-brand:hover {
    color: rgba(241, 236, 236, 0.8);
}
.btn-submit span {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.0509971px;
    font-weight: normal;
    font-style: normal;
    color: #757575;
}
.btn-submit {
    border-radius: 0;
    border: none;
    width: 110px;
    height: 44px;
    background: #DEFF06;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.127264);
}
.btn-submit:hover, .btn-submit:active {
    background-color: #d2ea37;
}
.btn-submit:hover span {
    color: white;
}
.btn-submit:focus {
    outline: none;
}

.hero_content {
    padding-top: 128px;
    padding-right: 380px;
    padding-left: 380px;
}
.hero_title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 81px;
    /* identical to box height */
    letter-spacing: 1.12px;
    color: #FFFFFF;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.151183);
}
.hero_subtitle {
    font-family: Poppins;
    padding-left: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.91;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0910043);
}
input[type="number"] {
    height: 55px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    margin-left: -5px;
/* identical to box height */
    letter-spacing: 0.0509971px;
    color: #757575;
    padding-left: 19px;
}

input[type="text"] {
    height: 55px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
/* identical to box height */
    letter-spacing: 0.0509971px;
    color: #757575;
    padding-left: 20px;
}
.hero_search {
    width: 591px;
    height: 56px;
    margin-top: 18px;

}
.btn-search span {
    left: 77.32%;
    right: 10.46%;
    top: 30.4%;
    bottom: 66.15%;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.0509971px;
    color: #757575;
}
.btn-search {
    border-radius: 0;
    border: none;
    max-width: 142px;
    height: 55px;
    margin-left: -5px;
    background: #DEFF06;
}
.btn-search:focus, .btn-search:active {
    outline: none;
}
.btn-search:hover, .btn-search:active {
    background-color: #d2ea37;
}
.btn-search:hover span {
    color: white;
}
/* hidden arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* section deal */
.section_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 14px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.0571121px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.0212013);
}
.section_subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 51px;
    /* identical to box height */
    text-align: center;
    color: #696969;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0910043);
}

.image-card {
    background: rgba(227, 227, 227, 0.732139);
    border-radius: 4px;
}
.image-card img {
    max-width: 100%;
}
.card-title {
    margin-top: 7px;
}
.card-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.0517816px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.0212013);
}
.car-list {
    margin-top: 62px;
    /*padding-left: 85px;
    padding-right: 78px; */
}
.car-row-one {
    margin-bottom: 32px;
}
.big-button {
    cursor: pointer;
    width: 228px;
    height: 60px;
    margin-top: 44px;
    margin-bottom: 82px;
    background: #F5A623;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.14);
    border-radius: 0;
    border: none;
}
.big-button:focus {
    outline: none;
}
.big-button:hover {
    background: #eab969;
}
.big-button span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    padding: 20px 23.5px 17px 23.5px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.059748px;
    color: #FFFFFF;
}
.tip-section {
    position: relative;
}
.tips-title {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 36px;
    /* identical to box height */
    letter-spacing: 0.0517816px;
    padding-top: 50px;
    color: #FFFFFF;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.443699);
}
.tips-title:hover, .tips-title:active {
    text-decoration: none;
    color: rgb(182, 169, 169);
}

.checklist img, .fraud img, .bestcar img {
    max-width: 100%;
}
/* section subscribe */
.subscribe_section {
    max-width: 1440px;
    height: 348px;
    background: linear-gradient(175.37deg, #FFD200 14.55%, rgba(247, 151, 30, 0.983214) 91.73%);
}
.subscribe_title {
    padding-top: 70px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.0863027px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.129076);
}
.subscribe_subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.381284);
}
.subscribe_signup {
    padding-top: 39px;
}
.subscribe_signup span {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.0509971px;
    color: #757575;
}
input[type="email"] {
    width: 449px;
    height: 55px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.0509971px;
    color: #757575;
}
.btn-signup {
    width: 142px;
    height: 55px;
    margin-left: -5px;
    border-radius: 0;
    background: #DEFF06;
}
.btn-signup:hover, .btn-signup:active {
    background-color: #d2ea37;
    color: white;
}
.btn-signup:hover span {
    color: white;
}
/* car card */
.car-card {
    background: rgba(227, 227, 227, 0.732139);
    border-radius: 4px;
    margin-right: 7px;
    position: relative;
}
/* price tag */
img.price-tag {
    position: absolute;
    margin-top: 20px;
    right: -8px;
}

.price span {
    position: absolute;
    margin-top: 25px;
    right: 8px;
    color: white;
}
/* media query */
@media (min-width: 576px) {
    
    .hero_content {
        padding-right: 0;
    }
    .hero_title {
        width: 500px;
        margin-left: -8em;
    }
    .hero_subtitle {
        width: 500px;
        margin-left: -17em;
    }
    .hero_search {
        width: 150px;
        height: 56px;
        margin-left: -17em;
    }
    input[type="text"], input[type="number"] {
        width: 400px;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .btn-search {
        width: 100%;
        margin-left: 90%;
    }
    .image_top img {
        margin-left: -20em; 
        margin-top: 8em;
        width: 30em;
    }
    .section_title {
        margin-top: 0;
    }
    /*.car-card {
        width: 70%;
        margin-left: 5em;
    } */
    img.price-tag {
        margin-left: 0.5em;
    }
    .price span {
        margin-left: 2em;
    }
    /*.card-title, .big-button {
        margin-left: 3em;
    } */
    .checklist img, .fraud img, .bestcar img {
        margin-bottom: 20px;
    }
    input[type="email"] {
        width: 300px;
    }
    .nav-footer {
        margin-top: -2.5em;
    }
    .navbar-toggler {
        margin-right: -3em;
    }
}

@media (max-width: 575.98px) {
    .hero_content {
        padding-right: 0;
    }
    .hero_title {
        max-width: 500px;
        margin-left: -10em;
        margin-right: -18px;
    }
    .hero_subtitle {
        max-width: 500px;
        margin-left: -21em;
        margin-right: -8px;
    }
    .hero_search {
        width: 200px;
        margin-left: -15em;
    }
    input[type="text"], input[type="number"] {
        width: 350px;
        margin-bottom: 10px;
        margin-left: -50%;
    }
   
    .btn-search {
        width: 100%;
    }
    .image_top img {
        margin-left: -24em; 
        margin-top: 8em;
        max-width: 28em;
    }
    .car-card {
        width: 70%;
        height: 70%;
        margin-left: 5em;
    }
    img.price-tag {
        margin-left: 3.7em;
    }
    img.thumb{
        width: 100%;
        height:100%;
    }
    .section_subtitle {
        font-size: 17px;
    }
    .price span {
        margin-left: 5em;
    }
    .card-title, .big-button {
        margin-left: 3em;
    }
     .checklist img, .fraud img, .bestcar img {
        margin-bottom: 20px;
    }
    input[type="email"] {
        max-width: 250px;
    }
    .subscribe_signup {
        padding-top: 0;
    }
    .nav-footer {
        margin-top: -2.5em;
    }
    .navbar-toggler {
        margin-right: -3em;
    }
    .tips-title {
        font-size: 16px;
        top: 65%;
   }    
}


@media (min-width: 768px) {
    
    .hero_title {
        width: 500px;
        margin-left: -6em;
     }
     .hero_subtitle {
        width: 500px;
        margin-left: -12em;
     }
     .hero_search {
        width: 250px;
        margin-left: -5em;
    }
     input[type="text"], input[type="number"] {
         width: 400px;
        margin-left: -8em;
        margin-bottom: 10px;
     }
     .btn-search {
        height: 40px;
        margin-left: -3em;
    }
     .image_top img {
        margin-left: -12em; 
        margin-top: 8em;
        width: 30em;
    }
    .car-card {
        width: 100%;
        margin-left: 0;
    }
    .section_title {
        margin-top: 0px;
    }
    .section_subtitle {
        margin-bottom: 10px;
    }
     .car-list {
         padding-left: 0px;
         padding-right: 0px;
         margin-top: 0px;
     }
     .car-card img:nth-child(2) {
        max-width: 100%;
        margin-top: 2em;
    }
    .card-title {
        margin-left: 0;
    }
     img.price-tag {
        margin-left: 0;
    }
    .price span {
        margin-left: 1.5em;
    }
    .tips-title {
        line-height: 20px;
        padding-top: 0;
    }
    .nav-footer {
        margin-right: 3em;
    }
}

@media (min-width: 992px) {
    
    .hero_title {
        margin-left: -2em;
        }
    .hero_subtitle {
        margin-left: -5em;
    } 
    .hero_search {
        margin-left: -5em;
    }
    input[type="number"] {
        width: 142px;
        margin-left: 13em;
    }
    .btn-search { 
        margin-left: 15.5em;          
        height: 55px;           
        width: 142px;
    }
    img.price-tag {
        margin-left: 2em;
    }
    .price span {
        margin-left: 3.5em;
    }
    .tips-title {
        padding-right: 1em;
    }
    .nav-footer {
        margin-top: 0;
    }     
}
@media (min-width: 1200px) {
    .hero_content {
        padding-right: 0em;
    }
    .hero_title {
        width: 591px;
    }
    .hero_subtitle {
        width: 617px;
    }
    .hero_search {
        width: 591px;
        margin-left: 0;
    }
    /*input[type="text"] {
        width: 307px;
    } */
    input[type="number"] {
        width: 142px;
        margin-left: 0px;
    }
    .btn-search {
        height: 55px;
        margin-left: -6px;
    }
    .image_top img {
        margin-top: 51px;
        }
    .section_title {
        margin-top: 84px;
    }
    img.price-tag {
        margin-left: 51px;
    }
    .price span {
        margin-left: 4.5em;
    }
    .tips-title {
        padding-right: 0;
    }
}