extends template-part/layout.pug
block title
    title Giới thiệu
block content
    section
        .container
            .row
                .col-12.col-xs-12.col-sm-12.col-md-12.breadcrumb-contain
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.black-text(href="index.html") Trang chủ
                        li.breadcrumb-item Về ZIGToys
    section.details
        .container.about-main
            .row
                .col-xs-12.col-sm-6.col-md-6.title-col
                    h2 Đôi Nét Về Chúng Tôi
                    p Xuất phát điểm từ những người mê sưu tầm mô hình siêu anh hùng, ZIGToys đã được thành lập vào tháng 6 năm 2009. Chúng tôi cố gắng mang lại cho người dùng, đặc biệt là những người có chung sở thích sưu tầm mô hình đồ chơi giống chúng tôi một trải nghiệm thú vị và hấp dẫn.
                    p ZIGToys cũng đã ký hợp đồng độc quyền để phân phối các sản phẩm mô hình của các hãng nổi tiếng như <em>Bandai, Hasbro</em> tại Việt Nam. Vì vậy, các bạn có thể yên tâm về chất lượng và giá cả.
                .col-xs-12.col-sm-6.col-md-6.img-col
                    img(src="images/icon/jimmy_fallon.jpg", alt="", class="img-fluid")
            .row
                .col-xs-12.col-sm-6.col-md-6.title-col
                    h2 Sản Phẩm Hiện Có
                    p Hiện nay, cơ sở của chúng tôi đang bán các sản phẩm mô hình Figure Kamen Rider và Driver biến hình tương ứng của <em>Bandai</em>, mô hình Power Rangers của <em>Hasbro</em>, mô hình Gundam.
                    p Ngoài ra, ZIGToys còn nhận order những đơn hàng độc, hiếm. Các bạn có nhu cầu có thể order, chúng tôi sẽ cố gắng tìm hàng về cho các bạn.
                .col-xs-12.col-sm-6.col-md-6.img-col
                    .img-one
                        img(src="images/product_images/kr_fig.jpg", alt="", class="img-fluid")
                    .img-two
                        img(src="images/product_images/build-driver.jpg", alt="", class="img-fluid")

 

