extends template-part/layout.pug
block title
    title Chọn địa chỉ giao hàng
block content
    section
        .container
            .row
                .col-12.col-sm-12.col-md-12.progressBarTotal
                    ul.progressbar
                        li.complete Đăng nhập
                        li.active Địa chỉ giao hàng
                        li Thanh toán
    section
        .container
            .row
                .col-xl-5.col-lg-6.col-md-8.col-sm-10.mx-auto
                    form.formContain
                        .form-group.fieldContain
                            label(for='') Họ tên
                            span(style="color:red;font-style:normal") *
                            input.form-control.inputName(type='text' placeholder='Nhập Họ tên' required)
                        .form-group.fieldContain
                            label(for='') Số điện thoại
                            span(style="color:red;font-style:normal") *
                            input.form-control.inputNumb(type='number' placeholder='Nhập Số điện thoại' required)
                        .form-group.selectContain.fieldContain
                            .labelForm
                                label(for='') Tỉnh/Thành phố
                                span(style="color:red;font-style:normal") *
                            select#input-user-city-province(name='city-province').selectCity.selectBox
                                option(value='0').defaultOption  Chọn Tỉnh/Thành Phố
                                option(value='01')  Thành phố Hà Nội
                                option(value='79')  Thành phố Hồ Chí Minh
                                option(value='31')  Thành phố Hải Phòng
                                option(value='48')  Thành phố Đà Nẵng
                                option(value='92')  Thành phố Cần Thơ
                                option(value='02')  Tỉnh Hà Giang
                                option(value='04')  Tỉnh Cao Bằng
                                option(value='06')  Tỉnh Bắc Kạn
                                option(value='08')  Tỉnh Tuyên Quang
                                option(value='10')  Tỉnh Lào Cai
                                option(value='11')  Tỉnh Điện Biên
                                option(value='12')  Tỉnh Lai Châu
                                option(value='14')  Tỉnh Sơn La
                                option(value='15')  Tỉnh Yên Bái
                                option(value='17')  Tỉnh Hoà Bình
                                option(value='19')  Tỉnh Thái Nguyên
                                option(value='20')  Tỉnh Lạng Sơn
                                option(value='22')  Tỉnh Quảng Ninh
                                option(value='24')  Tỉnh Bắc Giang
                                option(value='25')  Tỉnh Phú Thọ
                                option(value='26')  Tỉnh Vĩnh Phúc
                                option(value='27')  Tỉnh Bắc Ninh
                                option(value='30')  Tỉnh Hải Dương
                                option(value='33')  Tỉnh Hưng Yên
                                option(value='34')  Tỉnh Thái Bình
                                option(value='35')  Tỉnh Hà Nam
                                option(value='36')  Tỉnh Nam Định
                                option(value='37')  Tỉnh Ninh Bình
                                option(value='38')  Tỉnh Thanh Hóa
                                option(value='40')  Tỉnh Nghệ An
                                option(value='42')  Tỉnh Hà Tĩnh
                                option(value='44')  Tỉnh Quảng Bình
                                option(value='45')  Tỉnh Quảng Trị
                                option(value='46')  Tỉnh Thừa Thiên Huế
                                option(value='49')  Tỉnh Quảng Nam
                                option(value='51')  Tỉnh Quảng Ngãi
                                option(value='52')  Tỉnh Bình Định
                                option(value='54')  Tỉnh Phú Yên
                                option(value='56')  Tỉnh Khánh Hòa
                                option(value='58')  Tỉnh Ninh Thuận
                                option(value='60')  Tỉnh Bình Thuận
                                option(value='62')  Tỉnh Kon Tum
                                option(value='64')  Tỉnh Gia Lai
                                option(value='66')  Tỉnh Đắk Lắk
                                option(value='67')  Tỉnh Đắk Nông
                                option(value='68')  Tỉnh Lâm Đồng
                                option(value='70')  Tỉnh Bình Phước
                                option(value='72')  Tỉnh Tây Ninh
                                option(value='74')  Tỉnh Bình Dương
                                option(value='75')  Tỉnh Đồng Nai
                                option(value='77')  Tỉnh Bà Rịa - Vũng Tàu
                                option(value='80')  Tỉnh Long An
                                option(value='82')  Tỉnh Tiền Giang
                                option(value='83')  Tỉnh Bến Tre
                                option(value='84')  Tỉnh Trà Vinh
                                option(value='86')  Tỉnh Vĩnh Long
                                option(value='87')  Tỉnh Đồng Tháp
                                option(value='89')  Tỉnh An Giang
                                option(value='91')  Tỉnh Kiên Giang
                                option(value='93')  Tỉnh Hậu Giang
                                option(value='94')  Tỉnh Sóc Trăng
                                option(value='95')  Tỉnh Bạc Liêu
                                option(value='96')  Tỉnh Cà Mau
                        .form-group.selectContain.fieldContain
                            .labelForm
                                label(for="") Quận/Huyện
                                span(style="color:red;font-style:normal") *
                            select#input-user-district(name='district').selectDst.selectBox
                                option(value='0')  Chọn Quận/Huyện
                        .form-group.selectContain.fieldContain
                            .labelForm
                                label(for="") Phường/Xã
                                span(style="color:red;font-style:normal") *
                            select#input-user-commune(name='commune').selectCommune.selectBox
                                option(value='0')  Chọn Phường/Xã
                        .form-group.fieldContain
                            .labelForm
                                label(for="") Địa chỉ
                                span(style="color:red;font-style:normal") *
                            textarea.note.form-control(name="content", placeholder="Ví dụ: Số nhà X, ngõ Y...")
                        a.processBtn(href="checkout.html", type="button") Giao đến địa chỉ này 

                    
                    
                       
