extends template-part/layout.pug
block title
    title Chọn địa chỉ giao hàng
block content
    section
        .container
            .row
                .col-12.col-xs-12.col-sm-12.col-md-12.progressBarTotal
                    ul.progressbar
                        li.complete Đăng nhập
                        li.active Địa chỉ giao hàng
                        li Thanh toán & đặt mua