extends template-part/layout.pug
block title
    title Chi tiết blog
block content
    section
        .container-fluid.text-center.banner-products.background-top
            .wrap_title
                h2.title_banner Blog&Tips
    section
        .container-fluid
            .row
                .col-12.col-xs-12.col-sm-12.col-md-12.breadcrumb-contain
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.black-text(href="index.html") Trang chủ 
                        li.breadcrumb-item
                            a.black-text(href="blog.html") Blog&Tips
                        li.breadcrumb-item.active Chia sẻ kinh nghiệm chơi mô hình Gundam (P1)
    section
        .container-fluid
            .row
                .col-12.col-xs-12.col-sm-7.col-md-8.first-post
                    h6.card-tag MẸO VẶT
                    h1 Chia sẻ kinh nghiệm chơi mô hình Gundam (P1)
                    span <i>Admin</i> - <i>27 Th05, 2020</i>
                    .img-blog
                        img.img-fluid(src="images/product_images/gundam.svg", alt="gundam")
                    .blog-content
                        p Để giới thiệu qua thì, mô hình gundam mô phỏng theo một phim hoạt hình của Nhật Bản, nói đơn giản là mô phỏng các con robot chiến đấu viễn tưởng với tỉ lệ: 1/144, 1/100, 1/60… (trong phim robot thường cao ~18-20m), người chơi phải mua về và tự lắp ráp lấy từ các mảnh nhỏ (gọi là part, một mô hình đơn giản có trung bình khoảng 100 parts…). Nhật Bản cũng là nước sản xuất các mô hình gundam này.
                        p Có 4 bước để “chơi” với Gundam: (1) Chọn và mua mô hình mình thích => (2) Cắt rời các mảnh ghép khỏi khung => (3) Lắp ráp => (4) Hoàn thiện mô hình. Và giờ, xin được bàn đôi chút về kinh nghiệm khi thực hiện các bước này:
                        p <b>1. Chọn và mua mô hình mình thích</b>
                        p Một trong những sai lầm của người mới bắt đầu khi chọn mua, là chỉ nhìn ngoài hộp rồi mua, ảnh con robot trên bìa hộp rất đẹp và chi tiết, nhưng mua về lắp xong nhìn như dở hơi và gây chán nản, tiếc tiền. Lý do là hình ảnh trên bìa là sản phẩm mẫu, nghĩa là nó được nhà sản xuất sơn vẽ thêm để tăng độ đẹp và chi tiết rồi.<b> Nên khi mua cần nhớ một điều xương máu là, hình ảnh ngoài hộp và robot mình lắp xong sẽ khác nhau, y như lúc mua gói mì tôm.</b>
                        p Tốt nhất, người mới chơi khi thích một mẫu nào, thì gõ tên mẫu robot gundam đó trên youtube hoặc google và thêm chữ reviews, sẽ luôn tìm được các bài viết đánh giá và có hình ảnh của mẫu đó khi ráp xong, không sơn phết gì thêm. 
                    .img-blog
                        img.img-fluid(src="images/product_images/gundam1.svg", alt="gundam")
                        p.subtitle.text-center Mô hình lắp xong và hình ảnh mẫu luôn khác nhau
                    .blog-content
                        p <b>2. Cắt rời các mảnh ghép</b>
                        p Mô hình mua về gồm các mảnh nhỏ (part), 1 mô hình tỉ lệ 1/100 sẽ có khoảng 300 mảnh, những mảnh này được đúc và gắn cùng nhau trong các khung nhựa (gọi là runner), nên muốn lắp ráp mô hình, trước tiên phải cắt các part khỏi runner.
                        p Việc này đòi hỏi sự tỉ mỉ, tập trung, kiên nhẫn, thời gian của người chơi, cộng thêm việc phải sắm thêm một bộ dụng cụ. Lý do là các part được gắn với khung bằng các đoạn nhựa thừa, nếu tách part bằng tay không, phần nhựa thừa bị nứt gãy, biến dạng cũng sẽ làm xấu hoặc biến dạng miếng part. Cách làm đúng là dùng kìm cắt phần nhựa thừa, và dùng dao tỉa hết phần nhựa thừa tới khi miếng part phẳng, nhẵn (đôi khi cần dùng thêm giấy nhám để mài phẳng các vết cắt).
                        p Đây có thể tính là bước quan trọng nhất, quyết định mô hình có đẹp không, nên cần chú ý 2 việc:<b> Tuyệt đối không bẻ, tách các mảnh ghép khỏi khung bằng tay không và tuyệt đối không xử lý nhựa thừa qua loa.</b> Hai dụng cụ bắt buộc là kìm cắt nhựa và dao tỉa, cần kiên nhẫn, tỉ mỉ khi làm vì điều này làm mất thời gian, nhiều khi gây mệt mỏi, chán nản.
                    .img-blog
                        img.img-fluid(src="images/product_images/gundam2.svg", alt="gundam")
                        p.subtitle.text-center Việc cắt part bắt buộc cần dụng cụ, sự tỉ mỉ, kiên nhẫn của người chơi và rất mất thời gian
                    .blog-content
                        p <b>3. Lắp ráp mô hình</b>
                        p Sau bước 2 đầy mệt mỏi thì đây có khi là công đoạn tuyệt vời nhất khi chơi, giúp xả stress nữa và không hề khó, việc lắp ráp sẽ có sách hướng dẫn đi kèm nên chỉ cần làm theo. Vẫn cần sự tập trung, tỉ mỉ nhất định nhưng người chơi cũng sẽ được tận hưởng cảm giác thỏa mãn khi mọi mảnh ghép ăn khớp với nhau. Chỉ một lưu ý nhỏ là việc lắp ráp cần lựa lực tay, góc độ… tránh làm gãy hỏng part, vậy là xong.
                    .img-blog
                        img.img-fluid(src="images/product_images/gundam3.svg", alt="gundam")
                        p.subtitle.text-center Cảm giác mọi mảnh ghép ăn khớp lại luôn rất tuyệt
                    .blog-content
                        p <b>4. Hoàn thiện mô hình</b>
                        p Thực chất, mô hình chỉ cần ráp không thôi cũng được, việc hoàn thiện thêm không bắt buộc nhưng mô hình lắp ráp không sẽ đơn điệu (giống như chỉ pha mì tôm với nước sôi). Việc hoàn thiện mô hình giống như thổi hồn vào một mẫu đồ chơi. Hoàn thiện có nhiều cách, trong đó có 2 thứ cơ bản nhất và nên làm: Một là kẻ line (line là các rãnh lồi lõm trên bề mặt mảnh ghép), hai là dán sticker có sẵn.
                        p Hoàn thiện mô hình cũng phụ thuộc vào rất nhiều điều kiện, tài chính, thời gian, kỹ năng của mỗi người. Chi phí hoàn thiện nhiều khi còn đắt hơn chi phí mua mô hình, thật khó cho những người chỉ mới bắt đầu.<b> Nhưng thực sự là, chỉ cần sự tỉ mỉ, cẩn thận trong 2 việc cơ bản nhất là kẻ line và dán sticker thôi đã thổi hồn vào mô hình rồi.</b>
                    .img-blog
                        img.img-fluid(src="images/product_images/gundam4.svg", alt="gundam")
                        p.subtitle.text-center Việc hoàn thiện luôn giúp mô hình có hồn hơn, chi tiết hơn
                    .blog-content
                        p <b>5. Tổng kết</b>
                        p Rất nhiều công đoạn, kỹ năng, kinh nghiệm xử lý mô hình đều có thể tìm trên internet, đây là một thú chơi phổ biến trên toàn thế giới, châu Á, châu Âu… Phía trên chỉ là một số ít điểm cơ bản, rút gọn nhất theo kinh nghiệm cá nhân và một số sai lầm khi mới bắt đầu: mua xong lắp nhìn xấu, khi chơi bẻ part bằng tay không.
                        p Không quan trọng đây có phải là trò chơi trẻ con không, nó tốn tiền, nhưng lành mạnh, cần sự tập trung, tỉ mỉ cao. Đừng ngại nếu bạn lớn rồi mà thích chơi robot, nhưng cũng đừng ham mê mà mua nhiều tiền quá, hoặc bỏ quá nhiều thời gian mỗi ngày cho nó, cần phải tự cân bằng, điều này, mỗi người đều phải tự ý thức, cũng chưa thấy ông nào chỉ mua một bộ lắp cho thỏa rồi dừng lại.
                        p Đừng kỳ vọng nhiều quá vào hình ảnh bên ngoài, mô hình lắp xong có thể sẽ không đẹp như vậy, nếu mới bắt đầu mà muốn có mô hình đẹp cũng nên lựa chọn, tìm hiểu kỹ trước khi mua.
                        p Cũng đừng quan trọng việc hoàn hảo quá mức. Khi xử lý hay sơn phết từng chi tiết nhỏ, rất dễ nảy sinh tâm lý coi trọng sự hoàn hảo, miếng part này cắt tỉa chưa ngọt, sơn, dán chỗ này còn lem nhem xíu… Và rồi bạn cứ sửa đi sửa lại, nhưng điều này nhiều khi còn làm kết quả tệ hơn, cứ chú trọng chi tiết mà quên đi tính tổng thể.
                    .img-blog
                        img.img-fluid(src="images/product_images/gundam5.svg", alt="gundam")
                        p.subtitle.text-center Sẵn sàng nhận lệnh ^^
                    p.lastSentence Cuối cùng, xin cảm ơn các bạn đã đọc tới đây.
                .col-12.col-xs-12.col-sm-5.col-md-4.side-post
                    h2 Bài viết gần đây
                    .img-side-blog
                        a.img-linkpost(href="blog-detail.html")
                            img.img-fluid(src="images/product_images/sidepost.svg", alt="Cushion")
                        .side-title
                            a.side-link(href="blog-detail.html") Hé lộ sản phẩm gối đệm tay Izu cho người dùng máy tính
                            span <i>Admin</i> - <i>29 Th06, 2020</i>
                    .img-side-blog
                        a.img-linkpost(href="blog-detail.html")
                            img.img-fluid(src="images/product_images/sidepost1.svg", alt="Necklace")
                        .side-title
                            a.side-link(href="blog-detail.html") Giới thiệu những phụ kiện độc và hiếm chỉ có tại ZIG Toys
                            span <i>Admin</i> - <i>23 Th06, 2020</i>
        .container-fluid
            .row
                .col-12.col-xs-12.col-sm-12.col-md-12.sameSeries
                    h2.sameSeries-title Bài viết cùng chủ đề
                    ul.listSeries
                        li
                            a(href="blog-detail.html" class="series-link") Chia sẻ kinh nghiệm chơi mô hình Gundam (Phần 1)
                        li
                            a(href="blog-detail.html" class="series-link") Chia sẻ kinh nghiệm chơi mô hình Gundam (Phần 2)

                        


