extends template-part/layout.pug
block title
    title Giỏ hàng
block content
    section
        .container-fluid
            .row
                .col-12.col-xs-12.col-sm-12.col-md-12.breadcrumb-contain
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.black-text(href="index.html") Trang chủ
                        li.breadcrumb-item.active Giỏ hàng
    section
        .container
            .row
                .col-12.col-sm-12.col-md-12
                    .product-container
                        .table#cart-table
                            .tr
                                .th Sản phẩm
                                .th Đơn giá
                                .th Số lượng
                                .th Tổng giá
                                .th.cart-del
                            .tr.cart-row
                                .td
                                    .cart-item-img
                                        img(src="images/product_images/01-Figure.jpg", alt="ZeroOne")
                                .td S.H.Figuart <br />Kamen Rider Zero One
                                .td 1.000.000đ
                                .td
                                    .cart-quantity
                                        button.cart-minus(type="button") -
                                        span.numberCurrent 1
                                        button.cart-plus(type="button") +
                                
                            

            .row
                .col-12.col-md-6.mb-3.coupon-dropdown
                    a.dark-grey-text.d-flex-justify-content-between(data-toggle="collapse", href="#collapseCoupon", aria-expanded="false" aria-controls="collapseCoupon")
                        | Mã Khuyến Mãi (nếu có)
                        span
                            i.fas.fa-chevron-down.pt-1
                    .collapse#collapseCoupon
                        .mt-3
                            .md-form.md-outline.mb-0
                                input(type="text", placeholder="Mời nhập mã")#discount-code.form-control.font-weight-light
                                button(type="submit" class="applyCoupon") ÁP DỤNG
                .col-12.col-md-6.d-flex.justify-content-end
                    button(type="submit" class="checkOut") TIẾN HÀNH ĐẶT HÀNG