extends template-part/layout.pug
block title
    title Thanh toán
block content
    section
        .container
            .row
                .col-12.col-xs-12.col-sm-12.col-md-12.progressBarTotal
                    ul.progressbar
                        li.complete Đăng nhập
                        li.complete Địa chỉ giao hàng
                        li.active Thanh toán
    section
        .container
            .row
                .col-12.col-xs-12.col-sm-12.col-md-6.paymentContain.text-center
                    h3.payementTitle Chọn hình thức thanh toán:
                    .paymentWrap
                        ul.payment-list
                            li
                                input(type="radio" name="payment-method" value="cod" id='cod' checked)
                                span.radio-fake
                                label(for="cod").radio Thanh toán tiền mặt
                            li
                                input(type="radio" name="payment-method" value="transfer" id='transfer')
                                span.radio-fake
                                label(for="transfer").radio Thanh toán chuyển khoản
                                .atms
                                    .atm
                                        img(src="images/brand_images/VTB.jpg", alt="Vietinbank")
                                    .atm
                                        img(src="images/brand_images/VCB.jpg", alt="Vietcombank")
                            li
                                input(type="radio" name="payment-method" value="digiwallet" id='digiwallet')
                                span.radio-fake
                                label(for="digiwallet").radio Thanh toán qua ví điện tử
                                .digis
                                    .digi
                                        img(src="images/brand_images/momo.jpg", alt="MoMo")
                                    .digi
                                        img(src="images/brand_images/zalo.png", alt="ZaloPay")
                .col-12.col-xs-12.col-sm-12.col-md-6.reviewContain.text-center
                    .reviewAdd
                        .addTitle
                            span Địa chỉ giao hàng
                            a(href="address.html") Sửa
                        .addDetail
                            span.customName Nguyễn Văn A
                            span.customStreet Số 314, Lương Thế Vinh, Nguyễn Trãi, Thanh Xuân, Hà Nội
                            span.customPhone Điện thoại: 0339087465
                    .reviewProduct
                        .productTitle
                            span Đơn hàng
                            a(href="#") Sửa
                        .productIncart
                            .infoSum
                                strong.qtyNum x1
                                span  S.H.Figuarts Kamen Rider Zero One-Rising Hopper
                            .priceSum 1.000.000đ
                        .priceSum
                            .feeInclude
                                .shippingFee Phí vận chuyển
                                .valueInner Miễn phí
                            .total
                                .name Thành tiền: 
                                .valueTotal 1.000.000đ
                    button(type="button" class="processCheck" onclick=`location.href='success.html'`) THANH TOÁN


                            

