<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        block title
            title 404 Not Found
        link(rel="stylesheet", href="css/style_error.css")
        link(rel="stylesheet", href="css_fontawesome/all.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap")
block content
    .container.error
        h4 404 error 
        p trang bạn tìm không có hoặc đã bị xóa
        a(href="index.html") 
            i.fas.fa-angle-double-left  trở về trang chủ