extends template-part/layout.pug
block title
    title Sản phẩm
block content
    section
        .container
            .row
                .col-12.col-xs-12.col-sm-12.col-md-12.breadcrumb-contain
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.black-text(href="index.html") Trang chủ
                        li.breadcrumb-item
                            a.black-text(href="products.html") Sản phẩm
                        li.breadcrumb-item Mô hình Figures
    section
        .container
            .row
                .col-lg-3.col-xl-3.filter-row
                    #product_filter-icon
                        i.fas.fa-filter
                    .darkLayer(style="display: none")
                    form.isClose#product-filter(action='index.html' method='GET')
                        .product-section
                            .product-section-header
                                h6.product-section-title Tình trạng
                                span
                                i.fas.fa-chevron-right
                            .product-wrapper
                                .product-checkbox-group
                                    input(type="checkbox" class="filled-in" id="new")
                                    label(for="new" class="small") Mới
                                .product-checkbox-group
                                    input(type="checkbox" class="filled-in" id="pre-order")
                                    label(for="pre-order" class="small") Pre-order
                                .product-checkbox-group
                                    input(type="checkbox" class="filled-in" id="used")
                                    label(for="used" class="small") Like New 90%
                        .product-section
                            .product-section-header
                                h6.product-section-title Hãng
                                span
                                i.fas.fa-chevron-right
                            .product-wrapper
                                .product-checkbox-group
                                    input(type="checkbox" class="filled-in" id="bandai")
                                    label(for="bandai" class="small") Bandai Spirits
                                .product-checkbox-group
                                    input(type="checkbox" class="filled-in" id="saban")
                                    label(for="saban" class="small") Saban Hasbro
                                .product-checkbox-group
                                    input(type="checkbox" class="filled-in" id="movic")
                                    label(for="movic" class="small") Movic
                                .product-checkbox-group
                                    input(type="checkbox" class="filled-in" id="bioworld")
                                    label(for="bioworld" class="small") Bioworld
                        .product-section
                            .product-section-header
                                h6.product-section-title Sản phẩm
                                span
                                i.fas.fa-chevron-right
                            .product-wrapper
                                .product-checkbox-group
                                    input(type="checkbox" class="filled-in" id="sh")
                                    label(for="sh" class="small") S.H.Figures
                                .product-checkbox-group
                                    input(type="checkbox" class="filled-in" id="dx-driver")
                                    label(for="dx-driver" class="small") DX-Driver
                                .product-checkbox-group
                                    input(type="checkbox" class="filled-in" id="key-chain")
                                    label(for="key-chain" class="small") Móc khóa
                                .product-checkbox-group
                                    input(type="checkbox" class="filled-in" id="gd-kit")
                                    label(for="gd-kit" class="small") Kit lắp ráp Gundam
                        .product-section
                            .product-section-header
                                h6.product-section-title Giá
                                span
                                i.fas.fa-chevron-right
                            .product-wrapper
                                .product-radio-group
                                    input(type="radio" class="form-check-input" id="under3" name="price-range")
                                    label(for="under3" class="small") Dưới 3 triệu
                                .product-radio-group
                                    input(type="radio" class="form-check-input" id="between35" name="price-range")
                                    label(for="between35" class="small") Từ 3 đến 5 triệu
                                .product-radio-group
                                    input(type="radio" class="form-check-input" id="between510" name="price-range")
                                    label(for="between510" class="small") Từ 5 đến 10 triệu
                        .product-section
                            .product-section-header
                                h6.product-section-title Đánh giá
                                span
                                i.fas.fa-chevron-right
                            .product-wrapper
                                a(href="#").rating-group
                                    ul.rating-filter
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.fas.fa-star.fa-sm
                                a(href="#").rating-group
                                    ul.rating-filter
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.far.fa-star.fa-sm
                                        li
                                            p.small.px-2 trở lên
                                a(href="#").rating-group
                                    ul.rating-filter
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.far.fa-star.fa-sm
                                        li
                                            i.far.fa-star.fa-sm
                                        li
                                            p.small.px-2 trở lên
                                a(href="#").rating-group
                                    ul.rating-filter
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.far.fa-star.fa-sm
                                        li
                                            i.far.fa-star.fa-sm
                                        li
                                            i.far.fa-star.fa-sm
                                        li
                                            p.small.px-2 trở lên
                                a(href="#").rating-group
                                    ul.rating-filter
                                        li
                                            i.fas.fa-star.fa-sm
                                        li
                                            i.far.fa-star.fa-sm
                                        li
                                            i.far.fa-star.fa-sm
                                        li
                                            i.far.fa-star.fa-sm
                                        li
                                            i.far.fa-star.fa-sm
                                        li
                                            p.small.px-2 trở lên
                        .product-action
                            button.reset(type="button") Bỏ lọc 
                        #product-close
                            button.close(type="button" style="display:none") Đóng
                .col-12.col-xs-12.col-sm-9.col-md-12.col-lg-9.col-xl-9
                    .sort-bar
                        span.sortby Sắp xếp theo:
                        select#productSelectBox
                            option(value="bestSeller" select="selected") Bán chạy
                            option(value="lowHigh") Giá Thấp - Cao
                            option(value="highLow") Giá Cao - Thấp
                        i.fa.fa-chevron-down.sortIcon
                    .row.text-center.first-row
                        .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
                            a(href="product_detail.html").newItem
                                .thumb-card
                                    .product-image
                                        img.img-fluid.figure(src='images/product_images/01-white.jpg' alt)
                                    .product-content.text-center
                                        .product-title Mô hình S.H.Figuarts <br>Kamen Rider Zero One
                                        .content-bottom
                                            .group-rate
                                                p.price 1.000.000đ 
                                                span.rating
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                            .group-btn
                                                button.btn.btn-icon-left
                                                    i.fa.fa-shopping-cart.add-cart
                                                button.btn.btn-icon-right
                                                    i.far.fa-heart
                        .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
                            a(href="product_detail.html").newItem
                                .thumb-card
                                    .product-image
                                        img.img-fluid.figure(src='images/product_images/wf-white.jpg' alt)
                                    .product-content.text-center
                                        .product-title Mô hình S.H.Figuarts <br>Kamen Rider Vulcan
                                        .content-bottom
                                            .group-rate
                                                p.price 1.000.000đ 
                                                span.rating
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.far.fa-star
                                            .group-btn
                                                button.btn.btn-icon-left
                                                    i.fa.fa-shopping-cart.add-cart 
                                                button.btn.btn-icon-right
                                                    i.far.fa-heart
                        .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
                            a(href="product_detail.html").newItem
                                .thumb-card
                                    .product-image
                                        img.img-fluid.figure(src='images/product_images/gz-white.jpg' alt)
                                    .product-content.text-center
                                        .product-title Mô hình S.H.Figuarts <br>Kamen Rider Geiz
                                        .content-bottom
                                            .group-rate
                                                p.price 1.200.000đ 
                                                span.rating
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                            .group-btn
                                                button.btn.btn-icon-left
                                                    i.fa.fa-shopping-cart.add-cart 
                                                button.btn.btn-icon-right
                                                    i.far.fa-heart
                    .row.text-center.second-row
                        .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
                            a(href="product_detail.html").newItem
                                .thumb-card
                                    .product-image
                                        img.img-fluid.figure(src='images/product_images/kv-white.jpg' alt)
                                    .product-content.text-center
                                        .product-title Mô hình S.H.Figuarts <br>Kamen Rider KivaLa
                                        .content-bottom
                                            .group-rate
                                                p.price 1.300.000đ
                                                span.rating
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                            .group-btn
                                                button.btn.btn-icon-left
                                                    i.fa.fa-shopping-cart.add-cart 
                                                button.btn.btn-icon-right
                                                    i.far.fa-heart
                        .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
                            a(href="product_detail.html").newItem
                                .thumb-card
                                    .product-image
                                        img.img-fluid.figure(src='images/product_images/gd-white.jpg' alt)
                                    .product-content.text-center
                                        .product-title Mô Hình Gundam <br>Astray Red Frame Kai
                                        .content-bottom
                                            .group-rate
                                                p.price 4.500.000đ 
                                                span.rating
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                            .group-btn
                                                button.btn.btn-icon-left
                                                    i.fa.fa-shopping-cart.add-cart 
                                                button.btn.btn-icon-right
                                                    i.far.fa-heart
                        .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
                            a(href="product_detail.html").newItem
                                .thumb-card
                                    .product-image
                                        img.img-fluid.figure(src='images/product_images/pr-white.jpg' alt)
                                    .product-content.text-center
                                        .product-title Mô hình Power Rangers <br>Beast Morpher Gold
                                        .content-bottom
                                            .group-rate
                                                p.price 1.000.000đ
                                                span.rating.product-rate-sc
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.far.fa-star
                                                    i.far.fa-star
                                            .group-btn
                                                button.btn.btn-icon-left
                                                    i.fa.fa-shopping-cart.add-cart 
                                                button.btn.btn-icon-right
                                                    i.far.fa-heart
        .container
            .row.third-row
                .col-12.col-xs-12.col-sm-12.col-md-12
                    nav(aria-label='Page navigation').pagination-container
                        .pagination
                            a.pagination-newer(href="#") &laquo;
                            span.pagination-inner
                                a(href="products.html").page-active 1
                                a(href="#") 2
                                a(href="#") 3
                                a(href="#") 4
                            a.pagination-older(href="#") &raquo;


                
                
                
                