<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&amp;display=swap"/>
    <link rel="stylesheet" href="css_fontawesome/all.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="slick/slick.css"/>
    <link rel="stylesheet" href="slick/slick-theme.css"/>
    <link href="vendor/aos/dist/aos.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="images/icon/favicon-16x16.png"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/style_media.css"/>
    <link rel="stylesheet" href="css/style_about.css"/>
    <link rel="stylesheet" href="css/style_product.css"/>
    <link rel="stylesheet" href="css/style_details1.css"/>
    <link rel="stylesheet" href="css/style_address.css"/>
    <link rel="stylesheet" href="css/style_contact.css"/>
    <link rel="stylesheet" href="css/style_cart.css"/>
    <link rel="stylesheet" href="css/style_checkout.css"/>
    <link rel="stylesheet" href="css/style_blog.css"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-sm-start sticky-top"><a class="navbar-brand order-lg-0 ml-lg-0 ml-2" href="index.html"><img src="images/icon/logo2.jpg" alt="Logo"/></a>
      <button class="navbar-toggler align-self-start" type="button">
        <div class="animatedIcon"><span></span><span></span><span></span></div>
      </button>
      <div class="collapse navbar-collapse p-3 p-lg-0 mt-lg-0 d-flex flex-column flex-lg-row flex-xl-row bg-sidebar mobileMenu" id="mobileToggle">
        <div class="userLogin__Sidebar"><a class="nav-link dangnhap" href="login.html" title="Đăng Ký | Đăng Nhập"> <i class="far fa-user-circle" style="font-size:20px"> </i>
            <h4>Đăng Nhập</h4></a></div>
        <ul class="navbar-nav justify-content-lg-start">
          <li class="nav-item"><a class="nav-link" href="index.html">Trang Chủ<span class="sr-only"></span></a></li>
          <li class="nav-item"><a class="nav-link" href="about.html">Về ZIGToys</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Sản Phẩm <i class="fas fa-caret-down"></i></a>
            <ul class="submenu">
              <li><a class="submenu-item" href="products.html">Mô Hình Figures</a></li>
              <li><a class="submenu-item" href="#">Phụ Kiện Liên Quan</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="blog.html">Zig Blog</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">Liên Hệ</a></li>
        </ul>
        <form class="form-inline form-search my-2 my-lg-0">
          <div class="searchBar">
            <input type="text" placeholder="Tìm kiếm"/><a class="searchLink" href="#"><i class="fas fa-search search-icon"></i></a>
          </div>
        </form>
        <div class="wrap-all justify-content-lg-end">
          <div class="userLogin"><a class="nav-link dangnhap" href="login.html" title="Đăng Ký | Đăng Nhập"> <i class="far fa-user-circle" style="font-size:24px"></i></a></div>
          <div class="cart-wrapper"><a class="btn cart-icon" href="cart.html"><span class="badge badge-pill-red">0</span><i class="fa fa-shopping-cart" style="font-size:24px"></i></a></div>
        </div>
      </div>
      <div class="wrapMobileContain">
        <form class="form-inline form-searchMobile my-2 my-lg-0">
          <div class="searchBar__Mobil">
            <input type="text" placeholder="Tìm kiếm"/><a class="searchLinkMobil" href="#"><i class="fas fa-search search-icon"></i></a>
          </div>
        </form>
        <div class="wrapMobile"><a class="btn cart-iconMobile" href="cart.html"><span class="badge badge-pill-red badgeMobile">0</span><i class="fa fa-shopping-cart" style="font-size:24px"></i></a></div>
      </div>
    </nav>
    <div class="backgroundOverlay"></div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 col-xs-12 col-sm-12 col-md-12 breadcrumb-contain">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="black-text" href="index.html">Trang chủ</a></li>
              <li class="breadcrumb-item"><a class="black-text" href="products.html">Sản phẩm</a></li>
              <li class="breadcrumb-item active">Chi tiết</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="main-detail">
      <div class="container product-detail">
        <div class="row">
          <div class="col-12 col-xs-12 col-sm-12 col-md-4">
            <div class="carousel slide carousel-fade thumbnailProduct" id="carouselImg" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active"><img class="d-block w-100 img-fluid" src="images/product_images/01-Figure.jpg" alt="01"/></div>
                <div class="carousel-item"><img class="d-block w-100 img-fluid" src="images/product_images/01-figure-act1.jpg" alt="01"/></div>
                <div class="carousel-item"><img class="d-block w-100 img-fluid" src="images/product_images/01-figure-act2.jpg" alt="01"/></div>
              </div>
              <ol class="carousel-indicators thumbnail-indicator">
                <li class="active" data-target="#carouselImg" data-slide-to="0"><img class="d-block" src="images/product_images/01-Figure.jpg" alt=""/></li>
                <li data-target="#carouselImg" data-slide-to="1"><img class="d-block" src="images/product_images/01-figure-act1.jpg" alt=""/></li>
                <li data-target="#carouselImg" data-slide-to="2"><img class="d-block" src="images/product_images/01-figure-act2.jpg" alt=""/></li>
              </ol>
            </div>
            <p class="share text-center">Chia sẻ: <i class="fab fa-facebook-messenger"></i><i class="fab fa-pinterest"></i><i class="fab fa-facebook"></i><a class="btn btn-theme-transparent"><i class="far fa-heart" title="Thêm vào yêu thích"> </i></a></p>
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-md-8">
            <h2 class="product-title__detail">S.H.Figuarts Kamen Rider Zero One-Rising Hopper</h2>
            <div class="rating-product"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              <div class="space-bar"> <span>1 đánh giá</span></div>
            </div>
            <p class="available">Còn hàng</p>
            <h2 class="price">1.000.000đ</h2>
            <form class="qty-cart"> <span>Số lượng</span>
              <div class="quantity-number">
                <button class="qty-desc" type="button">-</button><span id="qty">1</span>
                <button class="qty-incre" type="button">+</button>
              </div>
            </form>
            <div class="btn-group">
              <button class="btn-warning add-cart addCartFont"> <i class="fa fa-shopping-cart"> <span>Thêm Vào Giỏ</span></i></button>
              <button class="btn-danger buynow">MUA NGAY</button>
            </div>
            <div class="description-tab">
              <ul class="nav nav-tabs tabs tabs-hold" role="tablist">
                <li> <a class="active nav-item" data-toggle="tab" href="#descript" role="tab" id="descript-tab" aria-controls="descript" aria-selected="true">Mô Tả Sản Phẩm
                    <li><a class="nav-item" data-toggle="tab" href="#detail" role="tab" id="detail-tab" aria-controls="detail" aria-selected="false">Chi Tiết Sản Phẩm</a></li>
                    <li><a class="nav-item" data-toggle="tab" href="#review" role="tab" id="review-tab" aria-controls="review" aria-selected="false">Đánh Giá</a></li></a></li>
              </ul>
              <div class="tab-content tab__detail">
                <div class="tab-pane fade show active" id="descript" role="tabpanel" aria-labelledby="descript-tab">
                  <p>Hàng chính hãng của Nhật. </p>
                  <p>Hàng mới 100% - Có sẵn tại shop. </p>
                  <p>Shop chuyên nhận order hàng chính hãng từ Nhật về.</p>
                </div>
                <div class="tab-pane fade show" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                  <p>Thương Hiệu: Bandai <br>Tỷ lệ: 15 cm <br>Chất liệu: Nhựa an toàn <br>Lứa tuổi phù hợp: 13 tuổi trở lên.</p>
                </div>
                <div class="tab-pane fade show" id="review" role="tabpanel" aria-labelledby="review-tab">
                  <div class="comment-section">
                    <ul class="comment-list">
                      <li class="comment">
                        <div class="comment-wrap">
                          <div class="comment-img"><img src="images/icon/angel_asher.jpg" alt=""/></div>
                          <div class="comment-block">
                            <div class="comment-header"><span class="comment-author"><a href="#">Angel Asher</a></span><span>2 ngày trước</span><span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span></div>
                            <div class="comment-content">
                              <p>Mới mua hàng về thử. Màu sắc khá bắt mắt, giống với trong hình, giá cả lại phải chăng. Chúng bạn của mình cũng thích lắm. Mình đã giới thiệu shop cho chúng nó rồi, chúng nó nói lần tới sẽ mua thẳng shop luôn, không qua các shop khác nữa.</p>
                            </div><span class="reply"><a class="cmt-reply" href="#"><i class="fa fa-reply"></i><span class="hidden-sm">Trả lời</span></a></span>
                          </div>
                        </div>
                        <ul class="child">
                          <li class="comment">
                            <div class="comment-wrap">
                              <div class="comment-img"><img src="images/icon/jimmy_fallon.jpg" alt=""/></div>
                              <div class="comment-block">
                                <div class="comment-header"><span class="comment-author"><a href="#">Admin</a></span><span>2 ngày trước</span></div>
                                <div class="comment-content">
                                  <p>Chào bạn, cám ơn bạn đã mua hàng tại shop. Mong bạn sẽ tiếp tục ủng hộ shop trong thời gian tới.</p>
                                </div><span class="reply"><a class="cmt-reply" href="#"><i class="fa fa-reply"></i><span class="hidden-sm">Trả lời </span></a></span>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <div class="respond-wrap">
                          <h3 class="comment-title">Viết đánh giá<span>
                              <div class="rating">
                                <input id="1" type="radio" name="rating" value="1"/>
                                <label for="1">☆</label>
                                <input id="2" type="radio" name="rating" value="2"/>
                                <label for="2">☆</label>
                                <input id="3" type="radio" name="rating" value="3"/>
                                <label for="3">☆</label>
                                <input id="4" type="radio" name="rating" value="4"/>
                                <label for="4">☆ </label>
                                <input id="5" type="radio" name="rating" value="5"/>
                                <label for="5">☆</label>
                              </div></span>
                            <form class="comment-form">
                              <textarea class="form-control" id="cmt-area" placeholder="Viết đánh giá của bạn..."></textarea>
                              <button class="btn btn-primary" type="submit">GỬI ĐÁNH GIÁ                                         </button>
                            </form>
                          </h3>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section>
        <div class="container">
          <div class="section-title">
            <h2 class="title-relate">Sản Phẩm Liên Quan</h2>
            <hr class="below"/>
          </div>
          <div class="row text-center" id="relate-product">
            <div class="product-layout col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="thumb-card">
                <div class="product-image"><a href="product_detail.html"><img class="img-fluid figure" src="images/product_images/wf-white.jpg" alt="alt"/></a></div>
                <div class="product-content text-center">
                  <div class="product-title"> <a href="product_detail.html">Mô hình S.H.Figuarts <br>Kamen Rider Vulcan</a></div>
                  <div class="content-bottom">
                    <div class="group-rate">
                      <p class="price">1.500.000đ </p><span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>
                    </div>
                    <div class="group-btn">
                      <button class="btn btn-icon-left"><i class="fa fa-shopping-cart add-cart" title="Thêm vào giỏ"></i></button>
                      <button class="btn btn-icon-right"><i class="far fa-heart" title="Thêm vào danh sách"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-layout col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="thumb-card">
                <div class="product-image"><a href="product_detail.html"><img class="img-fluid figure" src="images/product_images/kv-white.jpg" alt="alt"/></a></div>
                <div class="product-content text-center">
                  <div class="product-title"> <a href="product_detail.html">Mô hình S.H.Figuarts <br>Kamen Rider KivaLa</a></div>
                  <div class="content-bottom">
                    <div class="group-rate">
                      <p class="price">1.300.000đ</p><span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                    </div>
                    <div class="group-btn">
                      <button class="btn btn-icon-left"><i class="fa fa-shopping-cart add-cart"></i></button>
                      <button class="btn btn-icon-right"><i class="far fa-heart">  </i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-layout col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="thumb-card">
                <div class="product-image"><a href="product_detail.html"><img class="img-fluid figure" src="images/product_images/wz-white.jpg" alt="alt"/></a></div>
                <div class="product-content text-center">
                  <div class="product-title"> <a href="product_detail.html">Mô hình S.H.Figuarts <br>Kamen Rider Woz</a></div>
                  <div class="content-bottom">
                    <div class="group-rate">
                      <p class="price">1.200.000đ </p>
                      <div class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                    </div>
                    <div class="group-btn">
                      <button class="btn btn-icon-left"><i class="fa fa-shopping-cart add-cart"></i></button>
                      <button class="btn btn-icon-right"><i class="far fa-heart"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-layout col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="thumb-card">
                <div class="product-image"><a href="product_detail.html"><img class="img-fluid figure" src="images/product_images/gz-white.jpg" alt="alt"/></a></div>
                <div class="product-content text-center">
                  <div class="product-title"> <a href="product_detail.html">Mô hình S.H.Figuarts <br>Kamen Rider Geiz</a></div>
                  <div class="content-bottom">
                    <div class="group-rate">
                      <p class="price">1.200.000đ</p>
                      <div class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    </div>
                    <div class="group-btn">
                      <button class="btn btn-icon-left"><i class="fa fa-shopping-cart add-cart"></i></button>
                      <button class="btn btn-icon-right"><i class="far fa-heart"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <footer class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-12 info-footer">
            <h4 class="title-info-footer">Thông tin cửa hàng</h4>
            <h5 class="add">Địa chỉ: <span>123 Lương Định Của</span></h5>
            <h5 class="phone">Điện thoại: <span>(+84)1923-8564</span></h5>
            <h5 class="mail">Email: <span>support@zigtoys.com</span></h5>
            <h5 class="time">Thời gian làm việc: <br><span>Cả tuần. Từ 9:00 am - 10:00 pm.<br> Nghỉ ngày lễ, Tết</span></h5>
          </div>
          <div class="col-md-3 col-xs-12 support">
            <h4 class="title-support">Hỗ trợ khách hàng</h4>
            <ul class="support-list">
              <li><a class="link-support" href="#">Câu hỏi thường gặp</a></li>
              <li><a class="link-support" href="#">Phương thức thanh toán</a></li>
              <li><a class="link-support" href="#">Phương thức vận chuyển</a></li>
              <li><a class="link-support" href="#">Hướng dẫn mua hàng & đổi trả</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-12 quick">
            <h4 class="title-quick">Liên kết nhanh</h4>
            <ul class="quick-list">
              <li><a class="quick-link" href="index.html">Trang Chủ</a></li>
              <li><a class="quick-link" href="about.html">Về ZIGToys</a></li>
              <li><a class="quick-link" href="products.html">Sản Phẩm</a></li>
              <li><a class="quick-link" href="blog.html">Zig Blog    </a></li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-12 newsletter">
            <h4 class="title-newsletter">Đăng ký nhận tin</h4>
            <form action="#">
              <div class="form-group subscribe-newsletter">
                <input class="form-control" type="email" placeholder="Nhập email của bạn"/>
                <button class="btn btn-warning" type="submit">Đăng Ký</button>
              </div>
            </form>
            <div class="social-link"><a href="#"><i class="fab fa-facebook-square" style="font-size:30px"></i></a><a href="#"><i class="fab fa-youtube" style="font-size:30px"></i></a><a href="#"><i class="fab fa-instagram" style="font-size:30px"></i></a></div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <hr class="divider"/>
        <div class="row">
          <div class="col-md-12 text-center">
            <h6 class="copyright">Copyright&copy;2020 by MinhTran. All Rights Reserved.</h6>
          </div>
        </div>
      </div>
    </footer><a id="back2Top" title="Back to top" href="#"><i class="fa fa-chevron-right"></i></a>
    <script src="js/jquery-3.5.0.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.js"></script>
    <script src="slick/slick.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="js/listDistrictAndCommune.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="vendor/aos/dist/aos.js"></script>
  </body>
</html>