<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        block title
            title Thank You
        link(rel="stylesheet", href="css/style_success.css")
        link(rel="stylesheet", href="css_fontawesome/all.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap")
block content
    .container.success
        i.far.fa-check-circle
        h2 Thanh toán thành công
        p Đơn hàng của bạn đã được tiếp nhận. Vui lòng check email để theo dõi đơn hàng.
        a(href="index.html") 
            i.fas.fa-angle-double-left  trở về trang chủ