* {
	box-sizing: border-box;
}
body {
	background-color: #f5f5f0;
}

.zoom {
	max-width: 900px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
}
.item {
	padding: 10px;
	border: 3px solid #e6e6e6;
	background: #ffffff;
	/* align-items: center; */
	transition: transform 0.3s;

}

img {
	display: block;
	max-width: 100%;
}
.item:hover {
	transform: scale(1.2,1.2); /* = (x,y) viet 1 lan zoom theo 2 chieu */
	border: 3px solid #e6e6e6;
}