body {
	background-image: url(img/star.png); 
	background-repeat: no-repeat;
	background-size: 1280px 587px;
	overflow: hidden;
}

audio {
	position: fixed;
    bottom: 0;
}
.title {
	text-align: center;
	position: absolute;
	text-transform: uppercase;
	font-family: 'Dancing Script';
	color: #fff;
	padding: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	animation: fadeInUp 3s ease-in-out 1s forwards;
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
    	transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	}
}

.fa-heart {
	size: 20px;
	color: red;
	position: absolute;
	bottom: -100px;
	animation: heart 5s linear infinite;
}
@keyframes heart {
	0% {
		opacity: 0;
		color: blue;
	}
	50% {
		opacity: 1;
		color: red;
		font-size: 38px;
	}
	100% {
		opacity: 0;
		color: yellow;
		bottom: 100%;
	}
}
.fa-heart:nth-child(2n) {
	left: 10%;
	animation-delay: 1s;
}
.fa-heart:nth-child(3n) {
	left: 20%;
	animation-delay: 1.3s;
}
.fa-heart:nth-child(4n) {
	left: 30%;
	animation-delay: 2s;
}
.fa-heart:nth-child(5n) {
	left: 40%;
	animation-delay: .6s;
}
.fa-heart:nth-child(6n) {
	left: 50%;
	animation-delay: 1.1s;
}
.fa-heart:nth-child(7n) {
	left: 60%;
	animation-delay: 1.6s;
}
.fa-heart:nth-child(8n) {
	left: 70%;
	animation-delay: .5s;
}
.fa-heart:nth-child(9n) {
	left: 80%;
	animation-delay: .6s;
}
.fa-heart:nth-child(10n) {
	left: 85%;
	animation-delay: 1.3s;
}
.fa-heart:nth-child(11n) {
	left: 90%;
	animation-delay: 1.5s;
}
.fa-heart:nth-child(12n) {
	left: 95%;
	animation-delay: 1.7s;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0 40px;
	height: 60px;
	overflow: hidden;
} 
.slider {
	line-height: 60px;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;	
}
.slider:first-child {
	animation: animated 10s infinite;
}
@keyframes animated {
	0% {
		margin-top: 0;
	}
	50% {
		margin-top: -80px;
	}
	100% {
		margin-top: 0;
	}
}
.other, .other1 {
	font-family: 'Dancing Script';
	font-size: 40px;
}
.other {
	letter-spacing: 3px;
}
.other1 {
	color: #990000;
	letter-spacing: 2px;
}


