      @media (max-width: 1200px) { 
        /* about us */
        .breadcrumb {
            max-width: 58rem;
            margin-left: 42px;
            transition: all 0.3s ease-in-out;
        }
        .title-col {
            font-size: 20px;
            padding: 10px 20px;
        }
        /* product */
        .container.filter-contain {
            margin-right: 8rem;
            width: 82%;
            transition: all 0.3s ease-in-out;
        }
        .filter-contain {
            margin-right: 20px;
            font-size: 16px;
        }
        .filter-contain a.delete {
            margin-right: 3rem;
            transition: all 0.3s ease-in-out;
        }
        /* product-detail */
        #detail-tab, #descript-tab, #review-tab {
            padding: 20px 32px;
        }
        /* blog */
        .img-title {
            max-width: 95%;
        }
        .img-side-title.post1, .img-side-title.post2 {
            max-width: 90%;
            margin-bottom: 9px;
        }
        /* blog detail */
        .side-post .img-side-blog .img-fluid:nth-child(1) {
            margin-top: 27px;
        }
        .side-post .img-side-blog .side-title {
            margin-top: -6%;
        }
        .side-post .img-side-blog .side-title a, .side-post .img-side-blog .side-title span {
            padding: 5px;
        }
    }
    @media (max-width: 1170px) {
        .navbar-nav .nav-item {
            padding: 10px 15px;
        }
    }
    @media (max-width: 1039px) {
        .collapse .navbar-nav {
            font-size: 13px;
        }
        .payment-list span.radio-fake {
            left: 24%;
        }
        .atms .atm {
            width: auto;
        }
    }
    @media (max-width: 1024px) {
        .navbar-nav .nav-item {
            padding: 10px 5px;
        }
        .payment-list span.radio-fake {
            left: 25%;
        }
        .atms .atm {
            width: auto;
        }
        #detail-tab, #descript-tab, #review-tab {
            padding: 20px 37.4px 19px;
        }
        .description-tab .tabs-hold {
            border-radius: 0;
        }
    }
    @media (max-width: 991.98px) { 
        .bg-sidebar {
            background-color: #EAB543;
        }
        .mobileMenu {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: 300px;
            margin: auto;
            transition: all ease 0.25s;
            transform: translateX(-100%);
        }
        .mobileMenu.slide {
            transform: translateX(0%);
        }
        .mobileMenu .navbar-nav {
            overflow-y: auto;
          }
        .backgroundOverlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
        }
        .backgroundOverlay.slide {
            display: block;
            z-index: 100;
        }
        .navbar-toggler {
            margin-left: 90%;
            margin-top: -4rem;
        }
        .navbar-toggler:focus {
            outline: 0;
        }
        .navbar-nav .nav-item {
            margin-right: 8rem;
        }
        .navbar-nav li:hover, .navbar-nav li.active {
            width: 100%;
        }
        .form-search input, .wrap-all {
            display: none;
        }
        .form-searchMobile {
            display: flex;
            position: absolute;
            margin-left: 45%;
        }
        .wrapMobile {
            display: flex;
            margin-left: 75%;
            margin-top: -5rem;
        }
        .form-searchMobile input {
            padding: 0 1rem;
            font-size: 1rem;
            border: none;
            height: 40px;
            transition: all 0.3s ease-in-out;
        }
        .form-searchMobile input:focus {
            outline: none;
        }
        .form-searchMobile .searchLink {
            font-size: 1rem;
            margin-left: -2.5rem;
            color: beige;
            cursor: pointer;
            width: 40px;
            height: 40px;
            background-color: rgb(24 25 25);
            transition: all 0.4s;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        .form-searchMobile .searchLink:hover {
            color: darkorange;
        }
        .heartMobile .btn i {
            color: #f0932b;
        }
        .heartMobile .btn i:hover {
            color: #e55039;
        }
        /* homepage */
        .info-part {
            font-size: 14px;
            transition: all 0.3s ease-in-out;
        }
        .info {
            margin-top: 16px;
        }
        .info li:nth-child(2) {
            margin-top: 30px;
        }
        .user-part {
            margin-bottom: 10px;
            transition: all 0.3s ease-in-out;
        }
        .justify-content-center .div-table 
        .caption-content {
            display: block;
        }
        .justify-content-center .div-table 
        .caption-content > .caption-subtitle {
            margin-top: 0;
        }
        .subscribe .btn-outline-secondary.btn-subscribe {
            margin-left: 34%;
        }
        .thumbnail .zoom {
            top: 40%;
        }
        .product .product-title {
            font-size: 18px;
        }
        .benefit {
            margin-bottom: 40px;
        }
        .title-content h3 {
            font-size: 16px;
        }
        #indicators .carousel-inner {
            width: unset;
        }
        .prev {
            margin-left: 85%;
        }
        .subscribe-newsletter .form-control {
            width: 180px;
        }
        .subscribe-newsletter button {
            width: 120px;
        }
        /* about us */
        .title-col {
            padding: 2px;
        }
        .breadcrumb-contain .breadcrumb {
            max-width: 52rem;
            margin-left: 2px;
        }
        /* product */
        .filter-row #product_filter-icon {
            position: fixed;
            left: 0;
            font-size: 13px;
            z-index: 20;
            color: white;
            background: orange;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
        }
        #product-close button.close {
            display: block!important;
        }
        /* produt detail */
        #detail-tab, #descript-tab, #review-tab {
            padding: 20px 9px;
        } 
        /* checkout */
        .atms .atm {
            margin: auto;
        }
        .payment-list span.radio-fake {
            left: 17%;
        }
    }
    @media (max-width: 916px) {
        .container.filter-contain {
            margin-right: 3rem;
        }
        .filter-contain a.delete {
            margin-right: 0;
        }
        .side-post .img-side-blog {
            margin-left: unset;
        }
        .side-post .img-side-blog .side-title a, 
        .side-post .img-side-blog .side-title span {
            padding: unset;
        }
    }
    @media (max-width: 890px) {
        .breadcrumb-contain .breadcrumb {
            max-width: 50rem;
            margin-left: 3px;
        }
    }
    @media (max-width: 857px) {
        .breadcrumb-contain .breadcrumb {
            max-width: 44rem;
            margin-left: 4px;
        }
    }
    @media (max-width: 845px) {
        .filter-contain a.delete {
            font-size: 13px;
        }
    @media (max-width: 768px) {
          /* product detail */
          #detail-tab, #descript-tab, #review-tab {
            padding: 20px 14px 19px;
        }
        .description-tab .tabs-hold {
            border-radius: 0;
        }
    }
    @media (max-width: 767px) { 
        .resize .navbar-brand img {
            margin-top: -2rem;
        }
        .user-part {
            margin-top: -2.4rem;
        }
        .info li:first-child {
            margin-left: 10px;
        }
        .info li:nth-child(2) {
            margin-top: 0px;
        }
        .navbar-brand img {
            max-width: 200px;
            margin-top: 0;  
        }
        .summer .view {
            margin-top: 50%;
        }
        .thumbnail .zoom {
            top: 36%;
            font-size: 25px;
            left: 64%;
        }
        .product .product-title {
            font-size: 18px;
        }
        .thumbnail .group-btn .btn-icon-left {
            font-size: 10px;
        }
        .card.hover-post-shadow {
            margin-bottom: 20px;
        }
        .carousel-item img {
            height: auto;
            width: 100%;
        }
        .title-info-footer, .title-support, 
        .title-quick, .title-newsletter {
            font-size: 20px;
            display: flex;
            justify-content: center;
        }
        .bg-dark .info-footer, .support, .quick, .newsletter {
            margin-top: 20px;
        }
        .add, .mail, .phone, .time {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
        }
        .support-list, .quick-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .subscribe-newsletter .form-control, .subscribe-newsletter button {
            width: 100%;
        }
        .social-link {
            display: flex;
            justify-content: center;
        }
        /* about us */
        .breadcrumb {
            max-width: 42rem;
        }
        .title-col h2 {
            font-size: 20px;
        }
        .title-col {
            padding: 5px;
        }
        /* blog */
        .img-big .img-title {
            margin-bottom: 4rem;
        }
        .img-small .img-side-title h4 {
            font-size: 14px;
            margin-bottom: 0;
        }
        /* blog detail */
        .container-fluid .side-post {
            margin-top: auto;
        }
        .container-fluid .side-post h2 {
            margin-left: auto;
        }
        .side-post .img-side-blog {
            margin-left: auto;
            margin-top: auto;
        }
        .side-post .img-side-blog img {
            width: 100%;
            height: auto;
        }
        .side-post .img-side-blog .side-title {
            margin-top: -3%;
            max-width: unset;
        }
        .side-post .img-side-blog .side-title a, 
        .side-post .img-side-blog .side-title span {
            font-size: 25px;
        }
        .side-post .img-side-blog .side-title a {
            margin-top: -25%;
        }
        /* contact*/
        .comment-form .submit {
            margin-bottom: 20px;
        }
        /* cart */
        .cart-img-product img {
            display: none;
        }
        /* checkout */
        .atms .atm {
            margin: 1rem;
            margin-right: 3rem;
        }
        .payment-list span.radio-fake {
            left: 27%;
        }
        span.customStreet {
            padding: 2px;
            text-align: justify;
        }
    }
    @media (max-width: 754px) {
        .form-searchMobile {
            margin-left: 35%;
        }
        .wrapMobile {
            margin-bottom: 5px;
            margin-left: 73%;
        }
    }
    @media (max-width: 745px) {
        .breadcrumb-contain .breadcrumb {
            max-width: 40rem;
            margin-left: 5px;
        }
    }
    @media (max-width: 727px) {
        .breadcrumb-contain .breadcrumb {
            max-width: 38rem;
            margin-left: 6px;
        }
    }
    @media (max-width: 709px) {
        .filter-contain a.delete {
            font-size: 12px;
        }
    }
    @media (max-width: 680px) {
        .breadcrumb-contain .breadcrumb {
            max-width: 35rem;
            margin-left: 7px;
        }
    }
    @media (max-width: 630px) {
        .breadcrumb-contain .breadcrumb {
            margin-left: 0;
        }
    }
   
    @media (max-width: 590px) {
        .breadcrumb-contain .breadcrumb {
            max-width: 33rem;
        }
    }
    @media (max-width: 575.98px) { 
        .title-col {
            padding: 16px;
        }
        .container.filter-contain {
            height: 8rem;
        }
        .filter-contain a.delete {
            width: 10%;
        }
        .img-big .img-title {
            margin-bottom: 0;
        }
        .img-small .img-side-title h4 {
            font-size: 20px;
        }
        .container-fluid .side-post h2 {
            margin-left: 0;
        }
        .side-post .img-side-blog img {
            width: 100%;
            height: auto;
        }
        .side-post .img-side-blog {
            margin-top: 20px;
            margin-left: 0;
        }
        .container-fluid .side-post .side-title {
            max-width: 100%;
        }
        .container-fluid .side-post .side-title a {
            font-size: 19px;
            margin-top: -26%;
        }
        .container-fluid .side-post .side-title span {
            margin-top: -10%;
            font-size: 16px;
        }
    }
    @media (max-width: 558px) {
        .breadcrumb-contain .breadcrumb {
            max-width: 32rem;
        }
    }
    @media (max-width: 554px) {
        #detail-tab, #descript-tab, #review-tab {
            padding: 20px 16px;
        }
    }
    @media (max-width: 549px) {
        .payment-list .atms .atm {
            width: auto;
        }
    }
    @media (max-width: 543px) {
        .breadcrumb-contain .breadcrumb {
            max-width: 30rem;
        }
        #detail-tab, #descript-tab, #review-tab {
            padding: 20px 15px;
        }
    }
    @media (max-width: 536px) {
        #detail-tab, #descript-tab, #review-tab {
            padding: 20px 13px;
        }
    }
    @media (max-width: 523px) {
        #detail-tab, #descript-tab, #review-tab {
            padding: 20px 10px;
        }
    }
    @media (max-width: 520px) {
        .searchBox {
            left: 30%;
            transition: all 0.3s ease-in-out;
        }
    }
    @media (max-width: 512px) {
        .resize .navbar-brand img {
            max-width: 130px;
            margin-top: -1rem;
        }
        .resize .navbar-toggler {
            margin-top: 0;
        }
        .thumbnail .zoom {
            top: 53%;
        }
    }
    @media (max-width: 510px) {
        .breadcrumb-contain .breadcrumb {
            max-width: 28rem;
        }
        .md-form.check-remember {
            transition: all 0.3s ease-in-out;
        }
    }
    @media (max-width: 502px) {
        #detail-tab, #descript-tab, #review-tab {
            padding: 20px 8px;
        }
    }
    @media (max-width: 500px) {
        .username, .mail-signup, .mail-pass, .md-form.mb-3 #inputBirthday {
            margin-left: 2.5rem;
        }
        .box-contain .fa-eye {
            margin-left: 19rem;
        }
        .error {
            margin-left: 3rem;
        }
        .radio-group {
            margin-left: 7rem;
        }
        .check-remember {
            margin-left: 2.5rem;
        }
        .form-searchMobile, .wrapMobile {
            display: none;
        }
        .product-container .cart-sum {
            display: none;
        } 
    }
    @media (max-width: 487px) {
        #detail-tab, #descript-tab, #review-tab {
            padding: 20px 6px;
        }
    }
    @media (max-width: 479px) {
        #detail-tab, #descript-tab, #review-tab {
            padding: 19px 6px;
        }
        /* checkout */
        .payment-list span.radio-fake {
            left: 25%;
        }
    }
    @media (max-width: 472px) {
        #detail-tab, #descript-tab, #review-tab {
            padding: 18px 7px;
        }
    }
    @media (max-width: 458px) {
        #detail-tab, #descript-tab, #review-tab {
            padding: 18px 5px;
        }
    }
    @media (max-width: 450px) {
        #detail-tab, #descript-tab, #review-tab {
            padding: 19px 18px;
        }
        .description-tab .tabs-hold, .description-tab .tab-content {
            width: auto;
        }
        .owl-carousel .owl-item img {
            display: unset;
            width: auto;
        }
    }
    @media (max-width: 449px) {
        .caption-content h4, .caption-content h2 {
            font-size: 20px;
        }
        .caption-title span {
            font-size: 30px;
        }
        .caption-content {
            margin-top: 20%;
        }
        .subscribe .btn-outline-secondary.btn-subscribe {
            margin-left: 30%;
        }
    }
    @media (max-width: 448px) {
        .navbar-brand img {
            max-width: 120px;
        }
        /* modal signup login v.v */
        .username, .mail-signup, .mail-pass, .md-form.mb-3 #inputBirthday
        {
            margin-left: 1rem;
            transition: all 0.3s ease-in-out;
        }
        .box-contain .fa-eye {
            margin-left: 18rem;
            transition: all 0.3s ease-in-out;
        }
        .radio-group {
            margin-left: 5rem;
            transition: all 0.3s ease-in-out;
        }
        .md-form.check-remember {
            margin-left: 1rem;
            transition: all 0.3s ease-in-out;
        }
        .text-right {
            margin-left: -40%;
        }
        #indicators .carousel-indicators > li {
            height: 50px;
        }
        .breadcrumb-contain .breadcrumb {
            max-width: 25rem;
        }
        .error {
            margin-left: 1rem;
        }
        #detail-tab, #descript-tab, #review-tab {
            padding: 20px 4px;
        }
    }
    @media (max-width: 438px) {
        .info-part  .quick-mail{
            display: none;
        }
    }
    @media (max-width: 430px) {
        .payment-list span.radio-fake {
            left: 23%;
        }
    }
    @media (max-width: 420px) {
        .product-container .cart-qty {
            width: 60px;
            padding: 0;
        }
        .cart-qty .qty-minus {
            width: 17px;
        }
        .cart-qty .qty-plus {
            margin-left: -1rem;
        }
    }
    @media (max-width: 414px) {
        #detail-tab, #descript-tab, #review-tab {
            padding: 22px 21.8px 19.5px;
            font-size: 13px;
        }
        .description-tab .tabs-hold, .description-tab .tab-content {
            border-radius: 0;
            width: auto;
        }
        .form-searchMobile, .wrapMobile {
            display: none;
        }
        .mobileMenu {
            width: auto;
        }
        .collapse .navbar-nav {
            font-size: unset;
        }
        .navbar-toggler {
            margin-left: 85%;
            margin-top: -3rem;
        }
        .form-search input, .wrap-all {
            display: flex;
            align-self: flex-start;
        }
        .summer .view {
            margin-top: -10%;
            margin-left: -10%;
        }
        .caption .caption-content {
            padding-top: 0;
        }
        .caption-content h4, .caption-content h2{
            font-size: 13px;
        }
        .subscribe .btn-outline-secondary.btn-subscribe {
            margin-left: 10%;
        }
        .owl-carousel .owl-item img {
            display: unset;
            width: auto;
        }
    }
    @media (max-width: 411px) {
        #psw-info {
            right: 10px;
        }
        #detail-tab, #descript-tab, #review-tab {
            padding: 23px 30px 20px 12.7px;
            font-size: 13px;
        }
        .description-tab .tabs-hold, 
        .description-tab .tab-content {
            width: auto;
        }
        .description-tab .tabs-hold {
            border-radius: 0;
        }
        .owl-carousel .owl-item img {
            display: unset;
            width: auto;
        }
    }
    @media (max-width: 410px) {
        .description-tab ul li a {
            font-size: 14px;
        }
    }
    @media (max-width: 400px) {
        .user-part {
            margin-right: 25px;
        }
        .info-part {
            margin-right: 20%;
        }
        .navbar-brand img {
            margin-left: 27px;
        }
        .searchBox {
            left: 20%;
            transition: all 0.3s ease-in-out;
        }
        .username, .mail-signup, .mail-pass, 
        .md-form.mb-3 #inputBirthday {
            margin-left: 0;
            width: 100%;
        }
        .modal-footer .btn-login, .modal-footer .btn-reset {
            width: 100%;
        }
        .radio-group {
            margin-left: 2rem;
        }
        .box-contain .fa-eye {
            margin-left: 16rem;
        }
        #detail-tab, #descript-tab, #review-tab {
            padding: 20px 13px;
            font-size: 10px;
        }
        .product-container table tr th {
            padding: 0.5rem 0.5rem 0.5rem 0.1rem;
        }        
    }
    @media (max-width: 388px) {
        .box-contain .fa-eye {
            margin-left: 15rem;
        }
    }
    @media(max-width: 383px) {
        .product-container table tr th {
            padding: 0.5rem 0.5rem 0.5rem 0rem;
        }  
    }
    @media (max-width: 375px) {
        .user-part {
            margin-right: 50px;
        }
        .info li:first-child {
            margin-right: 20px;
        }
        .container-fluid .side-post .side-title a {
            margin-top: -27%;
        }
        #detail-tab, #descript-tab, #review-tab {
            padding-right: 37px;
            padding-top: 26px;
        }
        .owl-nav .owl-prev > i, .owl-nav .owl-next > i {
            font-size: 40px;
        }
        #relate-product .owl-nav .owl-prev, #relate-product .owl-nav .owl-next {
            opacity: 1;
        }
    }
    @media (max-width: 360px) {
        .info-part {
            margin-bottom: unset;
        }
        .navbar-toggler {
            margin-left: 80%;
            margin-top: -3.5rem;
        }
        .navbar-brand img {
            margin-left: auto;
        }
        .subscribe .btn-outline-secondary.btn-subscribe {
            margin-top: 0;
        }
        #detail-tab, #descript-tab, #review-tab {
            padding: 26px 22.5px 21px;
        }
    }
    @media (max-width: 355px) {
        .thumbnail-img .product-img 
        .zoom-product {
        margin-top: -45%;
        }
    }
    @media (max-width: 320px) {
        .box-contain .fa-eye {
            margin-left: 13rem;
        }
        .container-fluid .side-post .side-title a {
            margin-top: -29%;
            font-size: 16px;
        }
        .container-fluid .side-post .side-title span {
            font-size: 16px;
            margin-top: -12%;
        }
        .product-container td.product-qty {
            padding: 1rem;
        }
        .product-container td.cart-name {
            padding-right: 0.2rem;
        }
        .heading .title-relate, .product-title__detail,
        h2.price {
            font-size: 20px;
        }
        .addToCart span, a.buynow {
            font-size: 13px;
        }
        .btn-group a.buynow {
            padding-top: 5%;
        }
        #detail-tab, #descript-tab, #review-tab {
            padding: 26px 15.8px 20px;
        }
    }
}