.title-col p {
    padding-right: 20px;
}
.wrap_title {
    width: 10.75rem;
    background-color: rgb(244, 186, 35,.8);
    color: white;
    position: absolute;
    transform: translate(-50%, 50%);
    top: 25%;
    left: 50%;
}
.breadcrumb {
    background: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: .8rem;
}
.breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "»";
    color: black;
}
.breadcrumb .breadcrumb-item a:hover {
    color: rgba(243, 156, 18,0.5);
}
.about-main .row {
    margin-bottom: 50px;
}
.img-col .img-one {
    margin-bottom: 20px;
}