.img-big img {
   position: relative;
   margin-bottom: 30px; 
}
.img-big .img-title {
    position: absolute;
    bottom: 1.9rem;
    z-index: 10;
    padding: 16px;
}
.img-title span {
    font-size: 15px;
    color: #ced6e0;
}
.img-title h2 {
    color: #f5f6fa;
    font-size: 22px;
    line-height: 30px;
    text-shadow: 1px 1px 0 #000;
    font-weight: 700;
}
.img-title h2:hover, .img-title h2:active {
    color: #7f8c8d;
}
.img-small img {
    position: relative;
    margin-bottom: 22px;
}
.img-small .img-side-title {
    position: absolute;
    z-index: 10;
    width: 92%;
    padding: 10px 16px;
}
.img-side-title h4:hover, .img-side-title h4:active {
    color: #7f8c8d;
}
.img-small .post1 {
    bottom: 54%;
}
.img-small .post2 {
    bottom: 5.5%;
}
.post1 span, .post2 span {
    color: #ced6e0;
    font-size: 15px;
}
.img-small h4 {
    font-size: 18px;
    color: #f5f6fa;
    font-weight: 600;
    line-height: 20px;
    text-shadow: 1px 1px 0 #000;
}
/* recent post */
.card img {
    height: 300px;
    width: 100%;
}
.recent-post {
    margin-bottom: 20px;
}
.recent-post h2 {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto' ,sans-serif;
}
.blog-tag {
    background-color: #FFAA55;
    width: 68px;
    height: 20px;
    font-size: 13px;
    color: white;
    text-align: center;
    padding: 3px;
    cursor: default;
}
.post-row {
    margin-bottom: 50px;
}
.post-row > div {
    margin-bottom: 20px;
}
/* hover effect */
.hover-post-shadow {
    transition: all 0.5s ease;
}
.hover-post-shadow:hover {
    box-shadow: 12px 8px 19px -5px rgba(0,0,0,0.75);
}
/* ----------------- */
.img-blog {
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog-content p, p.lastSentence {
    font-size: 20px;
    padding: 10px 20px;
}
/* side bar */
.sameSeries-title {
    font-size: 20px;
}
.listSeries {
    margin-left: 20px;
    list-style: none;
}
.listSeries a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.listSeries a:hover {
    color: rgba(243, 156, 18,0.5);
}
.sameSeries {
    padding: 20px;
}
.side-post {
    margin-top: 30px;
    margin-bottom: 50px;
}
.side-post h2 {
    margin-left: 10px;
}
.widgetTitle {
    font-size: 16px;
    color: #505050;
    margin-bottom: 12px;
}
.categories ul {
    list-style: none;
}
.categories ul li a {
    text-decoration: none;
    color: #7f8c8d;
}
.categories ul li a:hover {
    color: rgba(243, 156, 18,0.5);
}
.categories li {
    padding: 12px 1px;
    border-bottom: 1px solid #e3e3e3;
    text-transform: uppercase;
}
.tags a {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    background: #ecf0f1;
    border-radius: 3px;
    color: #34495e;
    margin: 5px;
    transition: all 0.4s ease;
    display: inline-block;
}
.tags a:hover {
    background: rgba(243, 156, 18,1);
}
.side-title a, .side-title span {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.side-post .side-title {
    position: absolute;
    max-width: 300px;
    padding: 5px;
}
.side-title {
    display: grid;
}
.side-post .side-title a {
    margin-top: -30%;
}
.side-post .side-title span {
    margin-top: -16%;
}
.side-title a:hover {
    color: #ced6e0;
}
.blog-body {
    padding: 10px 10px;
    background: #f5f6fa;
}
/* comment blog */
.form-title {
    margin-bottom: 20px;
}
.comment-blog-name input, 
.comment-blog-email input, .comment-blog-cmt textarea {
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    background: #f8f8f8;
    color: #666666;
    margin-bottom: 10px;
    padding: 10px 20px;
    line-height: 22px;
    font-size: 16px;
}
.comment-blog-name input:focus, .comment-blog-email input:focus,
.comment-blog-cmt textarea:focus {
    outline-color: #f39c12;
}
.submit-wrap {
    text-align: center;
    margin: 40px 0;
}
.btn-submit {
    background-color: #f39c12;
    color: beige;
    text-transform: capitalize;
}
.btn-submit:hover {
    background-color: #e67e22;
    color: beige;  
}