.progressBarTotal {
    margin-top: 20px;
    margin-bottom: 20px;
}
.progressbar {
    counter-reset: step;
    padding: 0;
}
.progressbar li {
    float: left;
    list-style-type: none;
    position: relative;
    text-align: center;
    width: calc(100%/3);
}
.progressbar li:before {
    background: #fff;
    border: 2px solid #bebebe;
    border-radius: 50%;
    color: #bebebe;
    content: counter(step);
    counter-increment: step;
    display: block;
    font-weight: 700;
    height: 30px;
    line-height: 27px;
    margin: 0 auto 10px;
    width: 30px;
    text-align: center;
}
.progressbar li:after {
    background: #bebebe;
    content: "";
    height: 4px;
    left: -50%;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active:after,
.progressbar li.complete:after {
  background: #ff9f43;
}
.progressbar li.active:before,
.progressbar li.complete:before {
  background: #ff9f43;
  border-color: #ff9f43;
  color: #fff;
}
.progressbar li.active {
    color: #ff9f43;
}
/* address form */
.field {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
    align-items: baseline;
    margin: 0 0 15px;
    transform: translate(30%, 10%);
}
.field input, .field textarea,
.field select {
    width: 40%;
}
.field input {
    height: 40px;
    line-height: 34px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 6px 12px;
}
.field select {
    position: relative;
    height: 40px;
    line-height: 34px;
    border-radius: 3px;
    padding-left: 10px;
    border: 1px solid lightgrey;
}
.selectBox::after {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    width: 20px;
    height: 20px;
    font-size: 16px;
    top: 55%;
    left: 37.5%;
    padding: 0 0 2px;
    position: absolute;
}
.labelForm span {
    margin-left: 5px;
}
.field input:focus, .field textarea {
    outline-color: rgba(255 165 0 / 0.8);
}
textarea.note {
    background: #fff;
}
.selectCity {
    cursor: pointer;
}
.selectCity:focus, .selectDst:focus, 
.selectCommune:focus {
    outline-color: rgba(255 165 0 / 0.8);
}

.buttonContain {
    display: flex;
    margin-left: 29.5%;
    margin-bottom: 50px;
}
a.processBtn {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: 1px solid #d3cbcb;
    padding: 10px 10px;
    font-size: 13px;
    border-radius: 3px;
    color: white;
    background: #FFC107;
    transition: all 0.4s ease-in-out;
}
a.processBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}