    *{margin:0;padding:0; }
    body {
        overflow-x: hidden;
    }
    /* navbar menu */
    .bg-header {
        background-color: rgb(234 181 67 / 0.8);
    }
    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    header ul li {
        display: block;
        text-align: right;
        float: right;
    }
    header .nav-link {
        padding: 10px;
    }
    .info-part span a {
        color: #fff;
        font-size: 13px;
    } 
   .navbar {
       font-size: 18px;
       background-color: rgb(251 197 49 / 1);
       padding-bottom: 10px;
       transition: all 0.4s linear;
   }
    .navbar-brand img {
        max-width: 150px;
    }
    .navbar-nav .nav-item {
        padding: 10px 20px;
    }
    .navbar-nav li {
        border-bottom: 2px solid transparent;
        line-height: 30px;
        overflow: hidden;
    }
    .navbar-nav li:hover, .navbar-nav li.active, .subactive {
        border-color: crimson;
        background-color: rgba(211, 84, 0,0.3);
    }
    .navbar-nav li ul {
        display: none;
    }
    .submenu {
        position: absolute;
        background-color: #EAB543;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .submenu li:hover {
        background-color: rgba(211, 84, 0,0.3);
    }
    .submenu li a {
        display: block;
        padding: 14px 16px;
        text-decoration: none;
        color: white;
        text-align: center;
    }
    .navbar-nav li:hover .submenu {
        display: block;
    }
    .info {
        margin-top: 24px;
    }
    .nav-item .dangnhap {
        color: white;
        font-size: 13px;
    }
    .nav-link.dangnhap:hover {
        color: #747d8c;
    }
    .wrap-all {
        display: flex;
        /*margin-right: 3rem;*/
    }
    .heart-wrapper .btn i {
        color: #f0932b;
    }
    .heart-wrapper .btn i:hover {
        color: #e55039;
    }
    .heart-wrapper {
        height: 2rem;
    }
    .cart-wrapper .btn i {
        color: black;
    }
    .cart-wrapper .btn i:hover {
        color: rgba(138, 133, 133, 0.5);
    }
    .badge-pill-red {
        background: red;
        border-radius: 50%;
        color: white;
        float: right;
        margin-left: -5px;
    }
    .form-searchMobile, .wrapMobile {
        display: none;
    }
    /* animate hamburger */
    .animatedIcon {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .animatedIcon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        background-color: beige;
    }
    .animatedIcon span:nth-child(1) {
        top: 0;
    }
    .animatedIcon span:nth-child(2) {
        top: 10px;
    }
    .animatedIcon span:nth-child(3) {
        top: 20px;
    }
    .animatedIcon.openIcon span:nth-child(1) {
        top: 11px;
        transform: rotate(135deg);
    }
    .animatedIcon.openIcon span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    .animatedIcon.openIcon span:nth-child(3) {
        top: 11px;
        transform: rotate(-135deg);
    }
    /* searchBar */
   .form-search .search-icon {
       color: black;
       margin-left: -2rem;
   }
    .form-search input {
        background: transparent;
        border: none;
        border-radius: 0;
        padding: 10px 20px;
        font-size: 16px;
        border-bottom: 1px solid #d35400;
    }
    .form-search input:focus {
        outline: none;
        background: #fff;
    }
    /* submenu navbar */
    .dropdown-menu.show {
        background-color: rgba(230, 126, 34,1.0);
        border-color: #0c2461;
        border-radius: 3px;
    }
    .dropdown-menu.show a {
        color: white;
    }
    .dropdown-menu.show a:hover {
        background-color: rgba(255, 165, 2,0.8);
    }
    /* carousel slider img active*/
    .carousel-item img {
        width: 100%;
        height: auto;
    }
    .carousel-item .caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .justify-content-center .div-table .caption-content {
        display: flex;
        flex-direction: row;
        text-shadow: -3px 8px 5px rgba(0,0,0,0.28);
    }
    .justify-content-center .div-table .caption-content > .caption-subtitle {
        margin-top: 28px;
    }
    .caption .caption-content {
        padding-top: 25%;
        text-align: center;
        color: #f7f1e3;
    }
    .caption-title span {
        font-size: 60px;
        font-family: 'Rufina', serif;
        color: #f6b93b;
    }
    .subscribe input[type="email"] {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        padding-left: 10px;
        border-radius: 10px;
        border: 1px solid #DDDDDD;
        outline: none;
        transition: all 0.30s ease-in-out;
    }
    .subscribe input[type="email"]:focus {
        border: 1px solid rgb(211, 143, 17);
    }
    .btn-subscribe {
        color: white;
        height: 48px;
        width: 140px;
        padding: 5px;
        margin-left: 40%;
        margin-top: 20px;
        font-weight: 700;
        border-radius: 4px;
        line-height: 36px;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid #ffc107;
    }
    .subscribe .btn-outline-secondary.btn-subscribe:hover {
        background-color: #ffc107;
    }
    /*carousel slider img non-active*/
    .summer {
        padding-top: 45%;
    }
    .view .btn-view {
        color: white;
        text-transform: uppercase;
        padding: 5px 20px;
        border: none;
        border-radius: 4px;
        line-height: 36px;
        font-weight: 700;
        margin-left: 2rem;
        height: 48px;
        width: 130px;
        background-color: transparent;
        border: 1px solid #ffc107;
    }
    .btn-outline-secondary.btn-view:hover {
        background-color: #ffc107;
    }
    .btn-outline-secondary.btn-view > .fa-angle-right {
        position: absolute;
        margin-left: 5px;
        margin-top: 12px;
        font-size: 14px;
    }
    .bg-filter {
        position: absolute;
        background: rgb(0 0 0 / 0.2);
        width: 100%;
        height: 100%;
    }
    .img-slide2 {
        position: relative;
    }
    /* about section */
    .heading .below {
        width: 120px;
        height: 2px;
        background-color: #FFAA55;
        margin: auto;
    }
    .heading {
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
        margin-top: 30px;
    }
    .content {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: justify;
        width: 50%;
        font-size: 16px;
        line-height: 30px;
        padding-top: 20px;
    }
    .view-more .btn-more {
        color: #ffc107;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        background-color: transparent;
        border: 1px solid #ffc107;
        padding: 13px 20px;
        height: 48px;
        font-size: 14px;
        margin: 50px auto;
        border-radius: 4px;
        font-weight: 600;
        transition: 0.3s;
    }
    .btn-more:hover {
        background-color: #ffc107;
        color: white;
    }
    /* thumbnail product */
    .thumb-card {
        padding-top: 20px;
    }
    .thumb-card .img-fluid {
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    .thumb-card .zoom {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top: -34%;
        opacity: 0;
        font-size: 30px;
        color: #ecebeb;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .thumb-card:hover .zoom {
        opacity: 1;
    }
    .product-image {
        width: 215px;
        height: 277px;
        margin: auto;
    }
    .product-title {
        margin-top: 10px;
    }
    .product-title a {
        font-size: 20px;
        text-decoration: none;
        color: #232323;
        font-family: 'Roboto', sans-serif;
    }
    /* thumbnail zoom carousel */
    .product-control i {
        color: goldenrod;
    }
    .product-control:hover i {
        color: gold;
    }
    /* end thumbnail zoom carousel */
    .product-title a:hover {
        color: #e3b424;
    }
    .thumb-card .price {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.3;
        margin-bottom: 15px;
    }
    .thumb-card .group-btn .btn-icon-left {
        padding: 10px 12px;
        font-size: 12px;
        line-height: 18px;
        border: solid 1px #c9bcbc;
        background-color: #ffc107;
        color: white;
    }
    /* button hover */
    .group-btn .btn-icon-left:hover {
        background-color: darkorange;
    }
    .thumb-card .group-btn .btn-icon-right {
        border-color: #ffc107;
        margin-left: 10px;
    }
    .thumb-card .group-btn .btn-icon-right:hover {
        background-color: darkorange;
    }
    .thumb-card .group-btn .btn-icon-right:hover > i {
        color: white;
    }
    .btn-icon-right i {
        color: #ffc107;
    }
    .space {
        margin-bottom: 50px;
    }
    /* rating section */
    .rating i {
        color: #FFEB3B;
        cursor: pointer;
    }
    /* brand section */
    .brand-owl .brand-item img {
        max-width: 50%;
    }
    .brand {
        padding: 20px 0;
        background-color: beige;
    }

    /* benefit section */
    .icon {
        height: 80px;
        width: 80px;
        border: 1px solid #EEB31D;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 20px auto;
    }
    .icon .fas {
        font-size: 28px;
        position: absolute;
        bottom: 50%;
        transform: translate(50%,50%);
        right: 50%;
        color: #FFAA55;
    }
    .benefit {
        margin-top: 50px;
        padding-bottom: 20px;
        background-color: beige;
    }
    /* end benefit */
    /* blog */
   .blog-image img {
       height: 250px;
       width: 100%;
   }
  .blog-title {
    text-align: left;
  }
  .blog-post {
    margin-top: 20px;
    border-radius: 3px;
    background: #f5f6fa;
    transition: all 0.3s ease-in-out;
    font-family: 'Roboto' ,sans-serif;
  }
  .blog-post:hover {
      box-shadow: 2px 2px 10px 0px rgba(110,102,110,0.65);
  }
  .blog-heading a {
      text-decoration: none;
      color: #000;
  }
  .blog-heading a:hover {
    color: rgb(255 165 0 / 0.6);
  }
    p.blog-text {
        padding: 2px;
    }
    .blog-author span {
        font-weight: normal;
    }
    p.smiley-face:after {
        content: '\1F60A';
    }
    p.winkie-face:after {
        content: '\1F609';
    }
    /* end blog */
    #back2Top {
        width: 40px;
        border: none;
        border-radius: 4px;
        line-height: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        cursor: pointer;
        transform: rotate(270deg);
        position: fixed;
        bottom: 80px;
        right: 10px;
        background-color: rgba(253, 203, 110,0.6);
        color: #fff;
        text-align: center;
        font-size: 24px;
        text-decoration: none;
        transition: all 0.4s ease;
    }
    #back2Top:hover {
        background-color: #ffc550;
        color: white;
    }
    /* footer */
    footer.bg-dark {
        color: white;
    }
    .title-info-footer, .title-support, 
    .title-quick, .title-newsletter {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: default;
    }
    .add span, .mail span, .phone span, .time span {
        font-weight: normal;
    }
    .add, .mail, .phone, .time {
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: bold;
        cursor: default;
    }
    .bg-dark .info-footer, .support, 
    .quick, .newsletter {
        margin-top: 52px;
    }
    .bg-dark .support-list li:first-child, 
    .quick-list li:first-child {
        margin-top: -4px;
    }
    .support-list li a, .quick-list li a {
        font-size: 14px;
        color: white;
        text-decoration: none;
    }
    .support-list li a:hover, .quick-list li a:hover {
        color: #9d9d9d;
    }
    .support-list li, .quick-list li {
        list-style-type: none;
        margin-bottom: 12px;
    }
    .subscribe-newsletter .form-control {
        border-radius: 6px;
        margin-bottom: 15px;
        height: 48px;
        margin-top: 20px;
    }
    .subscribe-newsletter button {
        font-family: 'Roboto' ,sans-serif;
        font-weight: 500;
        color: white;
        background: #ffb727;
        height: 48px;
        width: 130px;
    }
    .subscribe-newsletter button:hover {
        color: white;
    }
    .fa-facebook-square, .fa-youtube, .fa-instagram {
        margin-right: 20px;
        color: white;
    }
    a .fa-facebook-square:hover, a .fa-youtube:hover, a .fa-instagram:hover {
        color: #cdc5c5;
    }
    .divider {
        border: 2px;
        height: 1px;
        width: 100%;
        background-color: #576574;
    }
    .copyright {
        font-size: 13px;
        font-weight: normal;
    }
    /* modal frame login */
    .modal-login, .modal-reset, .modal-signup {
        border-radius: 40px;
    }
    .mail-pass {
        border-radius: 6px;
        width: 300px;
        height: 40px;
        margin-left: 4.5rem;
    }
    
    .modal-title {
        margin-top: 34px;
    }
    .close {
        margin-right: 1.5rem;
    }
    .check-remember {
        margin-left: 4.5rem;
    }
    .modal-footer {
        display: flex;
        flex-direction: column;
    }
    .modal-footer .btn-login {
        background-color: orange;
        width: 300px;
        height: 44px;
        border-radius: 40px;
    }
    .modal-footer .forgot-pwd, p .not-member {
        text-decoration: none;
    }
    /* validate email vs pwd */
    .error {
        display: flex;
        margin-left: 5rem;
        margin-top: 5px;
        font-size: 13px;
    }
    .error .fa-exclamation-triangle {
        margin-right: 5px;
        margin-top: 3px;
    }
    .require-list ul li {
        margin:0;
        padding:0;
        float: unset;
        text-align: unset;
        list-style-type:none;
    }
    .require-list h4 {
        margin:0 0 10px 0;
        padding:0;
        font-weight:normal;
    }
    #psw-info {
        position: absolute;
        bottom: 24%;
        right: 55px;
        width: 300px;
        padding: 15px;
        background: #fefefe;
        font-size: 0.785rem;
        border-radius: 6px;
        box-shadow:0 1px 3px #ccc;
        border:1px solid #ddd;
        display: none;
    }
    #psw-info::before {
        content: "\25B2";
        position:absolute;
        top:-12px;
        left:45%;
        font-size:14px;
        line-height:14px;
        color:#ddd;
        text-shadow:none;
        display:block;
    }
    #psw-info .invalid {
        background: url(../images/icon/icon_cancel.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color:#ec3f41;
    }
    #psw-info .valid {
        background: url(../images/icon/icon_accept.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #3a7d34;
    }
    
    /* modal frame reset */
    .modal-footer .btn-reset {
        background-color: dodgerblue;
        width: 300px;
        height: 44px;
        border-radius: 40px;
    }
    /* modal frame signup */
    .username, .mail-signup {
        border-radius: 6px;
        width: 300px;
        height: 40px;
        margin-left: 4.5rem;
    }
    .radio-group {
        margin-left: 8rem;
    }
    #female {
        margin-left: 4rem;
    }
    .box-contain {
        position: relative;
    }
    .box-contain .fa-eye {
        position: absolute;
        margin-left: 21rem;
        top: 12px;
    }
    .md-form.mb-3 #inputBirthday {
        margin-left: 4.5rem;
        width: 300px;
        height: 6px;
        border-radius: 6px;
        border: 1px solid #ced4da;
        padding: 1rem;
    }
    .md-form.mb-3 #inputBirthday:focus {
        outline: none;
    }
    .btn-signup {
        background-color: orange;
        width: 300px;
        height: 44px;
        border-radius: 40px;
    }
    .or-seperator {
        border: 1px double darkgrey;
        margin-top: 39px;
        margin-bottom: 32px;
    }
    .btn-google {
        background-color: #EE1D1D;
        color: white;
        width: 300px;
        height: 44px;
        border-radius: 40px;
    }
    .already-acc {
        margin-top: 10px;
    }
    .already-acc .is-member {
        text-decoration: none;
    }
    .is-member:hover, .is-member:active {
        color: rgb(135, 184, 233);
    }
   