.rating-section a:hover{
    text-decoration: none;
}
.rating-filter {
    display: flex;
}
.rating-filter i {
    color: #FFEB3B;
}
.rating-filter p {
    color: #000;
    margin-top: 4px;
}
.rating-filter li {
    list-style-type: none;
}

.form-status, .form-series, .form-brand, .form-product {
    padding-left: 0;
}
.status-filter, .brand-filter, .product-type, 
.series-filter, .price-filter, .rating-section {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,.09);
}
.product-action {
    display: flex;
    justify-content: space-between;
}
button.reset {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border-radius: 2px;
    width: 100%;
    height: 1.8rem;
    margin: 0.3rem 0 0;
    font-weight: 400;
    color: white;
    border: none;
    background: #bdc3c7;
    text-transform: uppercase;
}
button.reset:hover, button.reset:active {
    background: #98999b;
}
#product-close .close {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 13px;
    width: 100%;
    height: 1.8rem;
    color: black;
    border: 1px solid grey;
    margin-top: 20px;
    margin-right: 0px;
}
.form-check label {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
}
#filterSection.isMobile.isClose {
    transform: translateX(-100%);
}
#filterSection.isMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    padding: 5rem 3rem;
    z-index: 20;
    background-color: white;
    height: 100vh;
    overflow-y: auto !important;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}
/* sort bar */
span.sortby {
    font-family: 'Roboto', sans-serif;
    margin-right: 1rem;
    margin-top: 4px;
}
.sort-bar {
    display: flex;
    justify-content: flex-end;
    padding: .815rem 1.5rem;
    margin-bottom: 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.sortIcon {
    margin-left: -1.5rem;
    margin-top: 10px;
    font-size: 13px;
    cursor: pointer;
}
#productSelectBox {
    width: 10rem;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: 2px;
    border-color: #795548;
    cursor: pointer;
}
#product_filter-icon {
    display: none;
}
#product-filter.onMobile.isClose {
    transform: translateX(-100%);
}
.darkLayer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(155, 145, 145, 0.603);
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.product-section {
    margin-bottom: 20px;
}
.product-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
h6.product-section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
}
.product-wrapper {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.product-wrapper a {
    text-decoration: none;
}
.product-wrapper label {
    font-weight: 500;
}
.product-wrapper.isOpen {
    height: auto;
    opacity: 1;
}
.product-section-header .fa-chevron-right {
    transform: rotate(90deg);
    cursor: pointer;
    transition: all 0.4s ease-out;
}
.isOpen ~ .fa-chevron-right {
    transform: rotate(-90deg);
}

.product-radio-group label {
    margin-bottom: 1rem;
}
/* responsive filter */
#product-filter.onMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    padding: 10px 30px;
    z-index: 1100;
    background: white;
    height: 100vh;
    overflow-y: auto!important;
    transition: all 0.3s ease-in-out;
}
/* product list */
.first-row, .second-row {
    margin: auto;
    margin-bottom: 50px;
}
.product-img img {
    width: 200px;
    height: 277px;
}
h4.product-page-title {
    font-size: 20px;
}
.product-page-title a {
    text-decoration: none;
    color: black;
}
.product-page-title a:hover {
    color: #e3b424;
}
.product-page-price {
    font-weight: bold;
}
.thumbnail-img .group-btn .btn-icon-left {
    padding: 10px 12px;
    font-size: 12px;
    line-height: 18px;
    border: solid 1px #c9bcbc;
    background-color: #ffc107;
    color: white;
}
.thumbnail-img .group-btn .btn-icon-right {
    border-color: #ffc107;
    margin-left: 10px;
}
.thumbnail-img .group-btn .btn-icon-right:hover,
.thumbnail-img .group-btn .btn-icon-left:hover {
    background-color: darkorange;
}
.thumbnail-img:hover .btn-icon-right {
    opacity: 1;
}
.thumbnail-img .group-btn .btn-icon-right:hover > i {
    color: white;
}
/* pagination */
.pagination-container {
    margin: 25px auto;
    text-align: center;
}
.pagination {
    position: relative;
    align-items: center;
    justify-content: center;
}
.pagination a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 16px 10px;
}
.pagination a::before {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #fd9644;
    border-radius: 20px;
    transform: scale(0);
    transition: all 0.2s;
}
.pagination a:hover, 
.pagination .page-active {
    color: #ffff;
}
.pagination a:hover::before,
.pagination .page-active::before {
    transform: scale(1);
}
.pagination-newer {
    margin-right: 25px;
}
.pagination-older {
    margin-left: 25px;
}
/*------------- customize checkbox/radio -------------*/
.filled-in, .form-check-input {
    display: none;
}
.filled-in + label, .form-check-input + label {
    cursor: pointer;
}
.filled-in + label::before {
    content: "✓";
    border: 1px solid #000;
    color: transparent;
    border-radius: 3px;
    font-size: 12px;
    padding-left: 3px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
    transition: .2s all ease;
}
.filled-in + label:active::before, 
.form-check-input + label:active::before {
    transform: scale(0);
}
.filled-in:checked + label::before {
    background-color: #fd9644;
    border-color: rgb(255, 229, 180);
    color: beige;
}
.form-check-input + label::before {
    content: "⬤";
    color: transparent;
    font-size: 9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding-left: 3px;
    border: 1px solid #000;
    margin-right: 5px;
    display: inline-block;
    transition: .2s all ease;
}
.form-check-input:checked + label::before {
    background-color: #fd9644;
    border-color: rgb(255, 229, 180);
    color: beige;
}
