* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {
	padding: 20px 10px 30px 10px; 
	text-align: center;
	margin: 10px 5px 10px 200px;
}

.danhsach {
    height: 100%;
    display: block;
    float: left;
	padding: 15px 20px 15px 5px;
	line-height: 1.5; 
}

.footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}
img {
	max-width: 300px;
	height: 210px;
}
a:link, a:visited{
	text-decoration: none;
	color: #6666ff;
}
a:hover {
	color: #0000e6;
}
a:active {
	color: #ebebe0;
}