/* product title */
.card-body .card-title {
    display: flex;
    justify-content: center;
}
.card-body a{
    color: black;
}
.card-body a:hover, .card-body a:active  {
    text-decoration: none;
    color: #5d5959;
}
.card img {
    height: 300px;
    object-fit: contain;
}
/* card product */
.card.card-product {
    margin-bottom: 20px;
    border: none;
}
/* end product title */
.title-gal {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin-top: 10px;
}
.below {
    width: 100px;
    border-width: 3px;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 4px;
}

