extends template-part/layout.pug
block title
    title Chi tiết blog
block content
    section
        .container-fluid.text-center.banner-products.background-top
            .wrap_title
                h2.title_banner Blog&Tips
    ol.breadcrumb
        li.breadcrumb-item
            a.black-text(href="index.html") Trang chủ 
        li.breadcrumb-item
            a.black-text(href="blog.html") Blog&Tips
        li.breadcrumb-item.active Chia sẻ kinh nghiệm chơi mô hình Gundam (P1)