extends template-part/layout.pug
block title
    title Giỏ hàng
block content
    section
       .container-fluid.text-center.banner-products.background-top
            .wrap_title
                h2.title_banner Giỏ Hàng
    ol.breadcrumb
        li.breadcrumb-item
            a.black-text(href="index.html") Trang chủ
        li.breadcrumb-item.active Giỏ hàng