extends template-part/layout.pug
block title
    title Giỏ hàng
block content
    section
       .container-fluid.text-center.banner-products.background-top
            .wrap_title
                h2.title_banner Giỏ Hàng
    ol.breadcrumb
        li.breadcrumb-item
            a.black-text(href="index.html") Trang chủ
        li.breadcrumb-item.active Giỏ hàng
    section
        .container
            .row
                .col-12.col-md-12
                    .product-container
                        .product-header
                            h5.product-cart-title SẢN PHẨM
                            h5.product-cart-title-name TÊN SẢN PHẨM
                            h5.product-cart-price ĐƠN GIÁ
                            h5.product-cart-quantity SỐ LƯỢNG
                            h5.total THÀNH TIỀN
            .row
                .col-12.col-md-12
                    .product-container
                        .product-content
            .row
                .col-12.col-md-6.mb-3.coupon-dropdown
                    a.dark-grey-text.d-flex-justify-content-between(data-toggle="collapse", href="#collapseCoupon", aria-expanded="false" aria-controls="collapseCoupon")
                        | Mã Khuyến Mãi (nếu có)
                        span
                            i.fas.fa-chevron-down.pt-1
                    .collapse#collapseCoupon
                        .mt-3
                            .md-form.md-outline.mb-0
                                input(type="text", placeholder="Mời nhập mã")#discount-code.form-control.font-weight-light
                                button(type="submit" class="applyCoupon") ÁP DỤNG
                .col-12.col-md-6.d-flex.justify-content-end
                    button(type="submit" class="checkOut") TIẾN HÀNH ĐẶT HÀNG