extends template-part/layout.pug
block title
    title Sản phẩm
block content
    section
        .container-fluid.text-center.banner-products.background-top
            .wrap_title
                h2.title_banner Sản phẩm
    ol.breadcrumb
        li.breadcrumb-item
            a.black-text(href="index.html") Trang chủ
        li.breadcrumb-item.active Sản phẩm
    section
        