extends template-part/layout.pug
block title
    title Sản phẩm
block content
    section
        .container-fluid.text-center.banner-products.background-top
            .wrap_title
                h2.title_banner Sản phẩm
    section
        .container
            .row
                .col-12.col-xs-12.col-sm-12.col-md-12.breadcrumb-contain
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.black-text(href="index.html") Trang chủ
                        li.breadcrumb-item.active Sản phẩm
    section
        .container.filter-contain
            .row
                .col-12.col-sm-4.col-md-4.col-lg-4
                    select.custom-select.filter-one#seclect1
                        option(selected disabled) Sắp xếp theo
                        option(value='1') Hàng mới về
                        option(value='2') Hàng bán chạy
                        option(value='3') Giá thấp - cao
                        option(value='4') Giá cao - thấp
                .col-12.col-sm-4.col-md-4.col-lg-4
                    select.custom-select.filter-two#select2
                        option(selected disabled) Sản phẩm
                        option(value='1') Figure
                        option(value='2') DX-Driver
                        option(value='3') Sản phẩm Khác
                .col-12.col-sm-4.col-md-4.col-lg-4
                    select.custom-select.filter-three#select3
                        option(selected disabled) Hãng
                        option(value='1') Bandai
                        option(value='2') Saban
                        option(value='3') Movic
                        option(value='4') Bioworld
            a(href="#" class="delete" type="submit") Bỏ lọc
    section
        .container-fluid
            .row.text-center.first-row
                .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .thumbnail-img
                        .product-img
                            img.img-fluid.figure(src='images/product_images/01-Figure.jpg' alt)
                            .zoom-product
                                i.fas.fa-search-plus(data-toggle='modal' data-target='#quickview1')
                        .product.text-center
                            h4.product-page-title
                                a(href='product_detail.html') S.H.Figuarts <br>Kamen Rider Zero One 
                            .rating
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                            p.product-page-price 1.000.000đ
                            .group-btn
                                button.btn.btn-icon-left
                                    i.fa.fa-shopping-cart.add-cart  Thêm vào giỏ
                                button.btn.btn-icon-right
                                    i.far.fa-heart
                .modal.fade#quickview1(tabindex='-1' role='dialog' aria-hidden='true')
                    .modal-dialog.modal-lg(role='document')
                        .modal-content
                            .modal-header
                                button.close(type='button' data-dismiss='modal' title='Close')
                                    span(aria-hidden='true') ×
                                .modal-body
                                    .row
                                        .col-lg-12
                                            #product-id.carousel.slide(data-ride='carousel')
                                                ol.carousel-indicators
                                                    li.active(data-target='#product-id' data-slide-to='0')
                                                    li(data-target='#product-id' data-slide-to='1')
                                                    li(data-target='#product-id' data-slide-to='2')
                                                .carousel-inner.row.w-100(role='listbox')
                                                    .carousel-item.active
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/01-Figure.jpg' alt='ZeroOne')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/01-figure-act1.jpg' alt='ZeroOne')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/01-figure-act2.jpg' alt='ZeroOne')
                                                a.carousel-control-prev.product-control(href='#product-id' role='button' data-slide='prev')
                                                    i.fa.fa-chevron-circle-left.fa-2x
                                                    span.sr-only Previous
                                                a.carousel-control-next.product-control(href='#product-id' role='button' data-slide='next')
                                                    i.fa.fa-chevron-circle-right.fa-2x
                                                    span.sr-only Next
                .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .thumbnail-img
                        .product-img
                            img.img-fluid.figure(src='images/product_images/wolf-Figure.jpg' alt)
                            .zoom-product
                                i.fas.fa-search-plus(data-toggle='modal' data-target='#quickview2')
                        .product.text-center
                            h4.product-page-title
                                a(href='product_detail.html') S.H.Figuarts <br>Kamen Rider Vulcan 
                            .rating
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.far.fa-star
                            p.product-page-price 1.000.000đ
                            .group-btn
                                button.btn.btn-icon-left
                                    i.fa.fa-shopping-cart.add-cart  Thêm vào giỏ
                                button.btn.btn-icon-right
                                    i.far.fa-heart
                .modal.fade#quickview2(tabindex='-1' role='dialog' aria-hidden='true')
                    .modal-dialog.modal-lg(role='document')
                        .modal-content
                            .modal-header
                                button.close(type='button' data-dismiss='modal' title='Close')
                                    span(aria-hidden='true') ×
                                .modal-body
                                    .row
                                        .col-lg-12
                                            #product-id-2.carousel.slide(data-ride='carousel')
                                                ol.carousel-indicators
                                                    li.active(data-target='#product-id-2' data-slide-to='0')
                                                    li(data-target='#product-id-2' data-slide-to='1')
                                                    li(data-target='#product-id-2' data-slide-to='2')
                                                .carousel-inner.row.w-100.mx-auto(role='listbox')
                                                    .carousel-item.active
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/wolf-Figure.jpg' alt='Vulcan')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/vulcan.jpg' alt='Vulcan')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/vulcan-act.jpg' alt='Vulcan')
                                                a.carousel-control-prev.product-control(href='#product-id-2' role='button' data-slide='prev')
                                                    i.fa.fa-chevron-circle-left.fa-2x
                                                    span.sr-only Previous
                                                a.carousel-control-next.product-control(href='#product-id-2' role='button' data-slide='next')
                                                    i.fa.fa-chevron-circle-right.fa-2x
                                                    span.sr-only Next
                .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .thumbnail-img
                        .product-img
                            img.img-fluid.figure(src='images/product_images/geiz.jpg' alt)
                            .zoom-product
                                i.fas.fa-search-plus(data-toggle='modal' data-target='#quickview3')
                        .product.text-center
                            h4.product-page-title
                                a(href='product_detail.html') S.H.Figuarts <br>Kamen Rider Geiz 
                            .rating
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                            p.product-page-price 1.200.000đ
                            .group-btn
                                button.btn.btn-icon-left
                                    i.fa.fa-shopping-cart.add-cart  Thêm vào giỏ
                                button.btn.btn-icon-right
                                    i.far.fa-heart
                .modal.fade#quickview3(tabindex='-1' role='dialog' aria-hidden='true')
                    .modal-dialog.modal-lg(role='document')
                        .modal-content
                            .modal-header
                                button.close(type='button' data-dismiss='modal' title='Close')
                                    span(aria-hidden='true') ×
                                .modal-body
                                    .row
                                        .col-lg-12
                                            #product-id-3.carousel.slide(data-ride='carousel')
                                                ol.carousel-indicators
                                                    li.active(data-target='#product-id-3' data-slide-to='0')
                                                    li(data-target='#product-id-3' data-slide-to='1')
                                                    li(data-target='#product-id-3' data-slide-to='2')
                                                .carousel-inner.row.w-100.mx-auto(role='listbox')
                                                    .carousel-item.active
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/geiz.png' alt='Geiz')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/geiz-act-1.jpg' alt='Geiz')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/geiz-act-2.jpg' alt='Geiz')
                                                a.carousel-control-prev.product-control(href='#product-id-3' role='button' data-slide='prev')
                                                    i.fa.fa-chevron-circle-left.fa-2x
                                                    span.sr-only Previous
                                                a.carousel-control-next.product-control(href='#product-id-3' role='button' data-slide='next')
                                                    i.fa.fa-chevron-circle-right.fa-2x
                                                    span.sr-only Next
            .row.text-center.second-row
                .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .thumbnail-img
                        .product-img
                            img.img-fluid.figure(src='images/product_images/thouser-fig.jpg' alt)
                            .zoom-product
                                i.fas.fa-search-plus(data-toggle='modal' data-target='#quickview4')
                        .product.text-center
                            h4.product-page-title
                                a(href='product_detail.html') S.H.Figuarts <br>Kamen Rider Thouser 
                            .rating
                                i.fas.fa-star
                                i.fas.fa-star
                                i.far.fa-star
                                i.far.fa-star
                                i.far.fa-star
                            p.product-page-price 1.500.000đ
                            .group-btn
                                button.btn.btn-icon-left
                                    i.fa.fa-shopping-cart.add-cart  Thêm vào giỏ
                                button.btn.btn-icon-right
                                    i.far.fa-heart
                .modal.fade#quickview4(tabindex='-1' role='dialog' aria-hidden='true')
                    .modal-dialog.modal-lg(role='document')
                        .modal-content
                            .modal-header
                                button.close(type='button' data-dismiss='modal' title='Close')
                                    span(aria-hidden='true') ×
                                .modal-body
                                    .row
                                        .col-lg-12
                                            #product-id-4.carousel.slide(data-ride='carousel')
                                                ol.carousel-indicators
                                                    li.active(data-target='#product-id-4' data-slide-to='0')
                                                    li(data-target='#product-id-4' data-slide-to='1')
                                                    li(data-target='#product-id-4' data-slide-to='2')
                                                .carousel-inner.row.w-100.mx-auto(role='listbox')
                                                    .carousel-item.active
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/thouser-fig.jpg' alt='Thouser')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/thouser-act.jpg' alt='Thouser')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/thouser-act-2.jpg' alt='Thouser')
                                                a.carousel-control-prev.product-control(href='#product-id-4' role='button' data-slide='prev')
                                                    i.fa.fa-chevron-circle-left.fa-2x
                                                    span.sr-only Previous
                                                a.carousel-control-next.product-control(href='#product-id-4' role='button' data-slide='next')
                                                    i.fa.fa-chevron-circle-right.fa-2x
                                                    span.sr-only Next
                .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .thumbnail-img
                        .product-img
                            img.img-fluid.figure(src='images/product_images/seven_sword_act.jpg' alt)
                            .zoom-product
                                i.fas.fa-search-plus(data-toggle='modal' data-target='#quickview5')
                        .product.text-center
                            h4.product-page-title
                                a(href='product_detail.html') Mô Hình Gundam <br>Seven Sword Exclusive 
                            .rating
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                            p.product-page-price 8.500.000đ
                            .group-btn
                                button.btn.btn-icon-left
                                    i.fa.fa-shopping-cart.add-cart  Thêm vào giỏ
                                button.btn.btn-icon-right
                                    i.far.fa-heart
                .modal.fade#quickview5(tabindex='-1' role='dialog' aria-hidden='true')
                    .modal-dialog.modal-lg(role='document')
                        .modal-content
                            .modal-header
                                button.close(type='button' data-dismiss='modal' title='Close')
                                    span(aria-hidden='true') ×
                                .modal-body
                                    .row
                                        .col-lg-12
                                            #product-id-5.carousel.slide(data-ride='carousel')
                                                ol.carousel-indicators
                                                    li.active(data-target='#product-id-5' data-slide-to='0')
                                                    li(data-target='#product-id-5' data-slide-to='1')
                                                    li(data-target='#product-id-5' data-slide-to='2')
                                                .carousel-inner.row.w-100.mx-auto(role='listbox')
                                                    .carousel-item.active
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/seven_sword_act.jpg' alt='Thouser')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/seven_sword.jpg' alt='Thouser')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/seven_sword_act1.jpg' alt='Thouser')
                                                a.carousel-control-prev.product-control(href='#product-id-5' role='button' data-slide='prev')
                                                    i.fa.fa-chevron-circle-left.fa-2x
                                                    span.sr-only Previous
                                                a.carousel-control-next.product-control(href='#product-id-5' role='button' data-slide='next')
                                                    i.fa.fa-chevron-circle-right.fa-2x
                                                    span.sr-only Next
                .col-12.col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .thumbnail-img
                        .product-img
                            img.img-fluid.figure(src='images/product_images/red_beast.jpg' alt)
                            .zoom-product
                                i.fas.fa-search-plus(data-toggle='modal' data-target='#quickview6')
                        .product.text-center
                            h4.product-page-title
                                a(href='product_detail.html') S.H.Figure <br>Red Go-buster 
                            .rating.product-rate-sc
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.far.fa-star
                                i.far.fa-star
                            p.product-page-price 1.000.000đ
                            .group-btn
                                button.btn.btn-icon-left
                                    i.fa.fa-shopping-cart.add-cart  Thêm vào giỏ
                                button.btn.btn-icon-right
                                    i.far.fa-heart
                .modal.fade#quickview6(tabindex='-1' role='dialog' aria-hidden='true')
                    .modal-dialog.modal-lg(role='document')
                        .modal-content
                            .modal-header
                                button.close(type='button' data-dismiss='modal' title='Close')
                                    span(aria-hidden='true') ×
                                .modal-body
                                    .row
                                        .col-lg-12
                                            #product-id-6.carousel.slide(data-ride='carousel')
                                                ol.carousel-indicators
                                                    li.active(data-target='#product-id-6' data-slide-to='0')
                                                    li(data-target='#product-id-6' data-slide-to='1')
                                                    li(data-target='#product-id-6' data-slide-to='2')
                                                .carousel-inner.row.w-100.mx-auto(role='listbox')
                                                    .carousel-item.active
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/red_beast.jpg' alt='Thouser')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/red_beast_gun.jpg' alt='Thouser')
                                                    .carousel-item
                                                        img.img-fluid.d-block.mx-auto(src='images/product_images/red_beast1.jpg' alt='Thouser')
                                                a.carousel-control-prev.product-control(href='#product-id-6' role='button' data-slide='prev')
                                                    i.fa.fa-chevron-circle-left.fa-2x
                                                    span.sr-only Previous
                                                a.carousel-control-next.product-control(href='#product-id-6' role='button' data-slide='next')
                                                    i.fa.fa-chevron-circle-right.fa-2x
                                                    span.sr-only Next
        .container
            .row.third-row
                .col-12.col-xs-12.col-sm-12.col-md-12
                    nav(aria-label='Page navigation').pagination-container
                        .pagination
                            a.pagination-newer(href="#") &laquo;
                            span.pagination-inner
                                a(href="products.html").page-active 1
                                a(href="#") 2
                                a(href="#") 3
                                a(href="#") 4
                            a.pagination-older(href="#") &raquo;


                
                
                
                